<!-- BEGIN AutoSuggestSerialize.jsp -->
<div id='suggestedKeywordResults'>
	
		<div id='suggestedKeywordsHeader' class='heading'>
			<span id="suggest_keywords_ACCE_Label">[PROPERTIES;SUGGESTED_KEYWORDS;Suggested Keywords]</span>
		</div>
	
	<div class='list_section'><ul title="[PROPERTIES;SUGGESTED_KEYWORDS;Suggested Keywords]" role='list' aria-labelledby="suggest_keywords_ACCE_Label">
		
			<li id='suggestionItem_0' role='listitem' tabindex='-1'>
				<a role='listitem' href='#' onmouseout="this.className=''"
				onmouseover='SearchJS.enableAutoSelect("0");' onclick='SearchJS.selectAutoSuggest(this.title); return false;' title="dress"
				id='autoSelectOption_0'>
					<span class='highlight'>dre</span>ss
				</a>

			</li>
		
			<li id='suggestionItem_1' role='listitem' tabindex='-1'>
				<a role='listitem' href='#' onmouseout="this.className=''"
				onmouseover='SearchJS.enableAutoSelect("1");' onclick='SearchJS.selectAutoSuggest(this.title); return false;' title="dress empire"
				id='autoSelectOption_1'>
					<span class='highlight'>dre</span>ss empire
				</a>
			</li>
		
			<li id='suggestionItem_2' role='listitem' tabindex='-1'>
				<a role='listitem' href='#' onmouseout="this.className=''"
				onmouseover='SearchJS.enableAutoSelect("2");' onclick='SearchJS.selectAutoSuggest(this.title); return false;' title="dress empire waist"
				id='autoSelectOption_2'>
					<span class='highlight'>dre</span>ss empire waist
				</a>

			</li>
		
			<li id='suggestionItem_3' role='listitem' tabindex='-1'>
				<a role='listitem' href='#' onmouseout="this.className=''"
				onmouseover='SearchJS.enableAutoSelect("3");' onclick='SearchJS.selectAutoSuggest(this.title); return false;' title="dress layered"
				id='autoSelectOption_3'>
					<span class='highlight'>dre</span>ss layered
				</a>
			</li>
		
	</ul></div>
	<input type='hidden' id='autoSuggestOriginalTerm' value='dre'/>
	<input type='hidden' id='dynamicAutoSuggestTotalResults' value="4"/>

</div>
<!-- END AutoSuggestSerialize.jsp -->