<!-- BEGIN WishListResultDisplay.jsp -->
<span class="highlight">
<div class="jspcaption" style="display:none">WishListResultDisplay.jsp</div>
<script type="text/javascript">
	dojo.addOnLoad(function() {
		MultipleWishLists.setDefaultListId('11509');
	});
</script>
<div class="left body588" id="WC_WishListResultDisplay_div_3l">
			<h2 class="myaccount_header no_side_lines">My Wishlist</h2>
</div>
<div class="body588" id="WC_WishListResultDisplay_div_5">
			<div class="left_wishlist" id="WC_WishListResultDisplay_div_8">
				<span class="subheader_text">
					Displaying products 1 - 2 of 2
				</span>
			</div>
			<div class="right" id="WC_WishListResultDisplay_div_9">              
				<span class="views_icon">  
						<a id="WC_WishListResultDisplay_links_3" title="grid view"
							href="javaScript:setCurrentId('WC_WishListResultDisplay_links_3'); AccountWishListDisplay.loadContentURL('WishListResultDisplayGridView.htm');">
							<img src="../StoreAssets/images/colors/color1/grid_normal.png" alt="grid view" />
						</a>
						 <img id="detailedTypeImageSelected" src="../StoreAssets/images/colors/color1/list_selected.png" alt="View Details"/>	
				</span>
			</div>
			<br/>
			<br clear="all" />
			<table id="horizontal_grid" cellpadding="0" cellspacing="0" border="0" role="presentation">
								<tr class="item_container">
									<td class="divider_line" colspan="4" id="WC_WishListResultDisplay_td_1_1"></td>
								</tr>
								<tr class="item_container">	
<!-- BEGIN CatalogEntrySearchThumbnailDisplay.jspf-->

		<td class="image" id="WC_CatalogEntryDBThumbnailDisplayJSPF_10041_td_4">
			<div id="baseContent_soaWishList_10041">
						<a href="HermitageRuchedBodiceCocktailDressAuroraESite.html" id="catalogEntry_img10041" 
							class="itemhoverdetailed" title="Hermitage Ruched Bodice Cocktail Dress $100.00" >
							<img src="../StoreAssets/images/catalog/apparel/women/womens_dresses_160x160/WD_028_a_red.jpg" 
								alt="Hermitage Ruched Bodice Cocktail Dress $100.00" 
								border="0" width="70" height="70"/>
						</a>
			</div>
		</td>
		<td>
			<table>
				<tr>
					<td class="information" id="WC_CatalogEntryDBThumbnailDisplayJSPF_10041_td_5">
						<h3><a class="hover_underline" id="WC_CatalogEntryDBThumbnailDisplayJSPF_10041_detailed_link" href="HermitageRuchedBodiceCocktailDressAuroraESite.html">Hermitage Ruched Bodice Cocktail Dress</a></h3>
						<p>Strapless cocktail dress with ruched bodice</p>
					</td>
					<td class="price" id="WC_CatalogEntryDBThumbnailDisplayJSPF_10041_td_6">
						<p>
<!-- BEGIN CatalogEntryPriceDisplay.jspf-->

			<span  class="listPrice bold">
				$250.00
			</span>
			<div  class="offerprice bold">
				$100.00
			</div>			
<!-- END CatalogEntryPriceDisplay.jspf-->

						</p>
					</td>
					<td class="add_to_cart" id="WC_CatalogEntryDBThumbnailDisplayJSPF_10041_td_7">
		<a  role="button" class="no_float button_primary " id="WC_CatalogEntryDBThumbnailDisplayJSPF_10041_links_11" onclick="javascript: showMiniShopCartDropDown('widget_minishopcart','quick_cart_container','orderItemAdded');" waistate:controls="MiniShoppingCart">
			<div class="left_border"></div>
			<div class="button_text">Add To Cart</div>												
			<div class="right_border"></div>
		</a>
								    <br>
											<a class="deleteLink hover_underline"  id="WC_CatalogEntryDBThumbnailDisplayJSPF_10041_links_14"><span class="remove">&nbsp;</span>Remove</a>
					</td>
				</tr>
				<tr>
					<td>
					</td>
				</tr>
			</table>
		</td>
<!-- END CatalogEntrySearchThumbnailDisplay.jspf-->

								<tr class="item_container">
									<td class="divider_line" colspan="4" id="WC_WishListResultDisplay_td_1_2"></td>
								</tr>
								<tr class="item_container">	
<!-- BEGIN CatalogEntrySearchThumbnailDisplay.jspf-->

		<td class="image" id="WC_CatalogEntryDBThumbnailDisplayJSPF_10063_td_4">
			<div id="baseContent_soaWishList_10063">
						<a href="HermitageRuchedBodiceCocktailDressAuroraESite.html" id="catalogEntry_img10063" 
							class="itemhoverdetailed" title="Versatil Empire Waist Sundress $50.00" >
							<img src="../StoreAssets/images/catalog/apparel/women/womens_dresses_160x160/WD_015_a_red.jpg" 
								alt="Versatil Empire Waist Sundress $50.00" 
								border="0" width="70" height="70"/>
						</a>
			</div>
		</td>
		<td>
			<table>
				<tr>
					<td class="information" id="WC_CatalogEntryDBThumbnailDisplayJSPF_10063_td_5">
						<h3><a class="hover_underline" id="WC_CatalogEntryDBThumbnailDisplayJSPF_10063_detailed_link" href="HermitageRuchedBodiceCocktailDressAuroraESite.html">Versatil Empire Waist Sundress</a></h3>
						<p>Empire waist sundress with flower print and frilly sleeves</p>
					</td>
					<td class="price" id="WC_CatalogEntryDBThumbnailDisplayJSPF_10063_td_6">
						<p>
<!-- BEGIN CatalogEntryPriceDisplay.jspf-->

			<div  class="offerprice bold">
				$50.00
			</div>			
<!-- END CatalogEntryPriceDisplay.jspf-->

						</p>
					</td>
					<td class="add_to_cart" id="WC_CatalogEntryDBThumbnailDisplayJSPF_10063_td_7">
		<a  role="button" class="no_float button_primary " id="WC_CatalogEntryDBThumbnailDisplayJSPF_10063_links_11" onclick="javascript: showMiniShopCartDropDown('widget_minishopcart','quick_cart_container','orderItemAdded');" waistate:controls="MiniShoppingCart">
			<div class="left_border"></div>
			<div class="button_text">Add To Cart</div>												
			<div class="right_border"></div>
		</a>
								    <br>
											<a class="deleteLink hover_underline"  id="WC_CatalogEntryDBThumbnailDisplayJSPF_10063_links_14"><span class="remove">&nbsp;</span>Remove</a>
					</td>
				</tr>
				<tr>
					<td>
					</td>
				</tr>
			</table>
		</td>
<!-- END CatalogEntrySearchThumbnailDisplay.jspf-->

				<tr class="item_container">
					<td class="divider_line" colspan="4" id="WC_WishListResultDisplay_td_1a"></td>
				</tr>
			</table>
			<div class="top_pagination">
				<span class="subheader_text left">
					Displaying products 1 - 2 of 2
				</span>
			</div>			
			<div class="clear_both"></div>
</div>		
<input type="hidden" name="controllerURLWishlist" value ="https:///webapp/wcs/stores/servlet/WishListResultDisplayView?startIndex=0&pageView=detailed&catalogId=10001&currentPage=0&langId=-1&storeId=10152" id="controllerURLWishlist"/>
<div class="footer" id="WC_WishListResultDisplay_div_12">
	<div class="left_corner" id="WC_WishListResultDisplay_div_13"></div>
	<div class="left" id="WC_WishListResultDisplay_div_14"></div>
	<div class="right_corner" id="WC_WishListResultDisplay_div_15"></div>
</div>
</span>
<!-- END WishListResultDisplay.jsp -->



