<!-- BEGIN WishListResultDisplay.jsp -->
<span class="highlight">
<div class="jspcaption" style="display:none">WishListResultDisplay.jsp</div>
<script type="text/javascript">
	dojo.addOnLoad(function() {
		MultipleWishLists.setDefaultListId('11509');
	});
</script>
<div class="left body588" id="WC_WishListResultDisplay_div_3l">
			<h2 class="myaccount_header no_side_lines">My Wishlist</h2>
</div>
<div class="body588" id="WC_WishListResultDisplay_div_5">
			<div class="left_wishlist" id="WC_WishListResultDisplay_div_8">
				<span class="subheader_text">
					Displaying products 1 - 2 of 2
				</span>
			</div>
			<div class="right" id="WC_WishListResultDisplay_div_9">              
				<span class="views_icon">  
						<img id="imageTypeImageSelected" src="../StoreAssets/images/colors/color1/grid_selected.png" alt="View Icons"/>
						<a  id="WC_WishListResultDisplay_links_4" title="list view"
							href="javaScript:setCurrentId('WC_WishListResultDisplay_links_4'); AccountWishListDisplay.loadContentURL('WishListResultDisplayListView.htm');">
							<img src="../StoreAssets/images/colors/color1/list_normal.png" alt="list view" />
						</a>
				</span>
			</div>
			<br/>
			<br clear="all" />
			<table id="four-grid-wishlist" cellpadding="0" cellspacing="0" border="0" role="presentation">
								<tr class="item_container">
									<td class="divider_line" colspan="4" id="WC_WishListResultDisplay_td_1_1"></td>
								</tr>
								<tr class="item_container">	
								<td class="item" id="WC_WishListResultDisplay_td_2_1">
									<div id="WC_WishListResultDisplay_div_11_1" >
<!-- BEGIN CatalogEntrySearchThumbnailDisplay.jspf-->

		<div id="baseContent_soaWishList_10041">
			<div class="img" id="WC_CatalogEntryDBThumbnailDisplayJSPF_10041_div_1">
						<a href="HermitageRuchedBodiceCocktailDressAuroraESite.html" id="catalogEntry_img10041" 
							class="itemhover" title="Hermitage Ruched Bodice Cocktail Dress $100.00" >														
							<img src="../StoreAssets/images/catalog/apparel/women/womens_dresses_70x70/WD_028_a_red.jpg" 
								alt="Hermitage Ruched Bodice Cocktail Dress $100.00" 
								border="0" width="70" height="70" style"position:relative"/>
						</a>
			</div>
		</div>
		<div class="description_fixedwidth hover_underline" id="WC_CatalogEntryDBThumbnailDisplayJSPF_10041_div_9b">
			<a id="WC_CatalogEntryDBThumbnailDisplayJSPF_10041_link_9b"
				 href="HermitageRuchedBodiceCocktailDressAuroraESite.html" >
				Hermitage Ruched Bodice Cocktail Dress
			</a>
		</div>
		<div class="price" id="WC_CatalogEntryDBThumbnailDisplayJSPF_10041_div_10">
<!-- BEGIN CatalogEntryPriceDisplay.jspf-->

			<span  class="listPrice bold">
				$250.00
			</span>
			<div  class="offerprice bold">
				$100.00
			</div>			
<!-- END CatalogEntryPriceDisplay.jspf-->

		</div>
		<div class="button" id="WC_CatalogEntryDBThumbnailDisplayJSPF_10041_div_11">
					<div id="WC_CatalogEntryDBThumbnailDisplayJSPF_10041_add_div_1">
		<a  role="button" class="no_float button_primary " id="WC_CatalogEntryDBThumbnailDisplayJSPF_10041_links_1" onclick="javascript: showMiniShopCartDropDown('widget_minishopcart','quick_cart_container','orderItemAdded');" waistate:controls="MiniShoppingCart">
			<div class="left_border"></div>
			<div class="button_text">Add To Cart</div>												
			<div class="right_border"></div>
		</a>
					</div>
						<div id="WC_CatalogEntryDBThumbnailDisplayJSPF_10041_remove_div_1">
										<a class="deleteLink hover_underline"  id="WC_CatalogEntryDBThumbnailDisplayJSPF_10041_links_4"><span class="remove">&nbsp;</span>Remove</a>
						</div>
		</div>
<!-- END CatalogEntrySearchThumbnailDisplay.jspf-->

									</div>
								</td>
								<td class="item" id="WC_WishListResultDisplay_td_2_2">
									<div id="WC_WishListResultDisplay_div_11_2"  class="container" >
<!-- BEGIN CatalogEntrySearchThumbnailDisplay.jspf-->

		<div id="baseContent_soaWishList_10063">
			<div class="img" id="WC_CatalogEntryDBThumbnailDisplayJSPF_10063_div_1">
						<a href="HermitageRuchedBodiceCocktailDressAuroraESite.html" id="catalogEntry_img10063" 
							class="itemhover" title="Versatil Empire Waist Sundress $50.00" >														
							<img src="../StoreAssets/images/catalog/apparel/women/womens_dresses_70x70/WD_015_a_red.jpg" 
								alt="Versatil Empire Waist Sundress $50.00" 
								border="0" width="70" height="70" style"position:relative"/>
						</a>
			</div>
		</div>
		<div class="description_fixedwidth hover_underline" id="WC_CatalogEntryDBThumbnailDisplayJSPF_10063_div_9b">
			<a id="WC_CatalogEntryDBThumbnailDisplayJSPF_10063_link_9b"
				 href="HermitageRuchedBodiceCocktailDressAuroraESite.html" >
				Versatil Empire Waist Sundress
			</a>
		</div>
		<div class="price" id="WC_CatalogEntryDBThumbnailDisplayJSPF_10063_div_10">
<!-- BEGIN CatalogEntryPriceDisplay.jspf-->

			<div  class="offerprice bold">
				$50.00
			</div>			
<!-- END CatalogEntryPriceDisplay.jspf-->

		</div>
		<div class="button" id="WC_CatalogEntryDBThumbnailDisplayJSPF_10063_div_11">
					<div id="WC_CatalogEntryDBThumbnailDisplayJSPF_10063_add_div_1">
		<a  role="button" class="no_float button_primary " id="WC_CatalogEntryDBThumbnailDisplayJSPF_10063_links_1" onclick="javascript: showMiniShopCartDropDown('widget_minishopcart','quick_cart_container','orderItemAdded');" waistate:controls="MiniShoppingCart">
			<div class="left_border"></div>
			<div class="button_text">Add To Cart</div>												
			<div class="right_border"></div>
		</a>
					</div>
						<div id="WC_CatalogEntryDBThumbnailDisplayJSPF_10063_remove_div_1">
										<a class="deleteLink hover_underline"  id="WC_CatalogEntryDBThumbnailDisplayJSPF_10063_links_4"><span class="remove">&nbsp;</span>Remove</a>
						</div>
		</div>
<!-- END CatalogEntrySearchThumbnailDisplay.jspf-->

									</div>
								</td>
					</tr>
				<tr class="item_container">
					<td class="divider_line" colspan="4" id="WC_WishListResultDisplay_td_1a"></td>
				</tr>
			</table>
			<div class="top_pagination">
				<span class="subheader_text left">
					Displaying products 1 - 2 of 2
				</span>
			</div>			
			<div class="clear_both"></div>
</div>		
<input type="hidden" name="controllerURLWishlist" value ="https:///webapp/wcs/stores/servlet/WishListResultDisplayView?startIndex=0&pageView=image&catalogId=10001&currentPage=0&langId=-1&storeId=10152" id="controllerURLWishlist"/>
<div class="footer" id="WC_WishListResultDisplay_div_12">
	<div class="left_corner" id="WC_WishListResultDisplay_div_13"></div>
	<div class="left" id="WC_WishListResultDisplay_div_14"></div>
	<div class="right_corner" id="WC_WishListResultDisplay_div_15"></div>
</div>
</span>
<!-- END WishListResultDisplay.jsp -->



