<%--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2011, 2012 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
--%>
<%-- START ShortDescription_UI.jspf --%>
	<div class="product_text">
				<p itemprop="description" id="product_shortdescription_<c:out value='${catalogEntryID}'/>"/><c:out value="${shortDescription}" escapeXml="false"/></p>
		
		<%-- Show Recurring Item link only if FlexFlow RecurringOrders is enabled --%>
		<flow:ifEnabled feature="RecurringOrders">
			<c:if test="${isRecurrable ne 'false'}">
				<div class="recurring">
					<div class="recurring_icon"></div>
					<a id="RecurringPopupLink" class="recurring_text" href="javaScript: shoppingActionsJS.showWCDialogPopup('widget_subscription_item_popup');"><fmt:message key="PD_RECURRING_ITEM" bundle="${widgetText}"/></a>
				</div>
			</c:if>
		</flow:ifEnabled>
		<div class="clear_float"></div>		
	</div>
	
<%-- Show Reccuring Item link only if FlexFlow RecurringOrders is enabled --%>
<flow:ifEnabled feature="RecurringOrders">
	<c:if test="${isRecurrable ne 'false'}">
		<div id="widget_subscription_item" style="display:none;">
			<div id="widget_subscription_item_popup" dojoType="wc.widget.WCDialog" closeOnTimeOut="false" parseOnLoad="true" title="<fmt:message key="PD_RECURRING_ITEM" bundle="${widgetText}"/>">
				<div class="widget_subscription_item">
					<div class="top">
						<div class="left_border"></div>
						<div class="middle"></div>
						<div class="right_border"></div>
					</div>
					<div class="clear_float"></div>
					<div class="middle">
						<div class="content_left_border">
							<div class="content_right_border">
								<div class="content">
									<div class="header">
										<span><fmt:message key="PD_RECURRING_ITEM" bundle="${widgetText}"/></span>
										<a id="widget_subscription_item_popup_close" class="close" href="javascript:dijit.byId('widget_subscription_item_popup').hide();"><img role="button" onmouseover="this.src='<c:out value='${jspStoreImgDir}'/>images/colors/color1/close_hover.png'" onmouseout="this.src='<c:out value='${jspStoreImgDir}'/>images/colors/color1/close_normal.png'" src="<c:out value='${jspStoreImgDir}'/>images/colors/color1/close_normal.png" alt="<fmt:message key="LC_CLOSE" bundle="${widgetText}"/>"/></a>
										<div class="clear_float"></div>
									</div>
									<div class="clear_float"></div>
									<div class="input_section">
										<span><fmt:message key="PD_RECURRING_ITEM_DESC" bundle="${widgetText}"/></span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="clear_float"></div>
					<div class="bottom">
						<div class="left_border"></div>
						<div class="middle"></div>
						<div class="right_border"></div>
					</div>
					<div class="clear_float"></div>
				</div>
			</div>
		</div>
	</c:if>
</flow:ifEnabled>

<%-- END ShortDescription_UI.jspf --%>
