<%--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2011, 2014 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
--%>

<%-- START ProductDescription_Data.jsp --%>
<c:choose>
	<c:when test="${!empty param.productId}">
		<c:set var="productId" value="${param.productId}" />
	</c:when>
	<c:when test="${!empty WCParam.productId}">
		<c:set var="productId" value="${WCParam.productId}" />
	</c:when>
</c:choose>

<c:choose>
	<c:when test="${!empty param.hasAssociations}">
		<c:set var="hasAssociations" value="${param.hasAssociations}"/>
	</c:when>
</c:choose>

<c:set var="productDetailsPageCatalogEntryID" value="${param.productDetailsPageCatalogEntryID}"/>
<c:set var="associationIndex" value="${param.associationIndex}"/>

<c:set var="disableProductCompare" value="false" scope="request"/>
<c:if test="${param.showCompareBox == 'false' || param.disableProductCompare == 'true'}">
	<c:set var="disableProductCompare" value = "true" />
</c:if>

<c:set var="search" value='"'/>
<c:set var="replaceCmprStr" value=""/>
<c:set var="search01" value="'"/>
<c:set var="replaceStr01" value="\\\\'"/>
<c:set var="replaceStr02" value='\\\\"'/>


<c:if test="${empty catalogEntryDetails}">	
	<c:if test="${!empty productId}">
		<%-- Try to get it from our internal hashMap --%>
		<c:set var="key1" value="${productId}+getCatalogEntryViewAllByID"/>
		<c:set var="catalogEntryDetails" value="${cachedCatalogEntryDetailsMap[key1]}"/>
		<c:if test="${empty catalogEntryDetails}">
		<wcf:rest var="catalogNavigationView" url="${searchHostNamePath}${searchContextPath}/store/${WCParam.storeId}/productview/byId/${productId}" format="json" >	
			<wcf:param name="langId" value="${WCParam.langId}"/>
			<wcf:param name="currency" value="${env_currencyCode}"/>
			<wcf:param name="responseFormat" value="json"/>		
			<wcf:param name="catalogId" value="${WCParam.catalogId}"/>
		</wcf:rest>
			<c:set var="catalogEntryDetails" value="${catalogNavigationView.catalogEntryView[0]}"/>
			<wcf:set target = "${cachedCatalogEntryDetailsMap}" key="${key1}" value="${catalogNavigationView.catalogEntryView[0]}"/>
		</c:if>
	</c:if>

	<c:if test="${empty productId && !empty WCParam.partNumber}">
		<c:set var="key1" value="${WCParam.partNumber}+getCatalogEntryViewAllByPartnumber"/>
		<c:set var="catalogEntryDetails" value="${cachedCatalogEntryDetailsMap[key1]}"/>
		<c:if test="${empty catalogEntryDetails}">
			<wcf:rest var="catalogNavigationView" url="${searchHostNamePath}${searchContextPath}/store/${WCParam.storeId}/productview/${WCParam.partNumber}" format="json" >	
				<wcf:param name="langId" value="${WCParam.langId}"/>
				<wcf:param name="currency" value="${env_currencyCode}"/>
				<wcf:param name="responseFormat" value="json"/>		
				<wcf:param name="catalogId" value="${WCParam.catalogId}"/>
			</wcf:rest>
			<c:set var="catalogEntryDetails" value="${catalogNavigationView.catalogEntryView[0]}"/>
			<wcf:set target = "${cachedCatalogEntryDetailsMap}" key="${key1}" value="${catalogNavigationView.catalogEntryView[0]}"/>
		</c:if>
	</c:if>

	<c:if test="${!empty catalogNavigationView && !empty catalogNavigationView.catalogEntryView[0]}">
		<c:set var="catalogEntryDetails" value="${catalogNavigationView.catalogEntryView[0]}"/>
	</c:if>
</c:if>

<c:set var="type" value="${fn:toLowerCase(catalogEntryDetails.catalogEntryTypeCode)}" />
<c:set var="type" value="${fn:replace(type,'bean','')}" />
<c:set var="catalogEntryID" value="${catalogEntryDetails.uniqueID}" />
<c:set var="shortDescription" value="${catalogEntryDetails.shortDescription}" />
<c:set var="longDescription" value="${catalogEntryDetails.longDescription}" />
<c:set var="name" value="${catalogEntryDetails.name}" />
<c:set var="partnumber" value="${catalogEntryDetails.partNumber}" />
<c:set var="partNumber" value="${catalogEntryDetails.partNumber}" />
<c:set var="manufacturerName" value="${catalogEntryDetails.manufacturer}" />
<c:set var="entitledItems" value="${catalogEntryDetails.sKUs}"/>
<c:set var="numberOfSKUs" value="${catalogEntryDetails.numberOfSKUs}"/>
<c:set var="attributes" value="${catalogEntryDetails.attributes}"/>


<c:forEach var="attribute" items="${attributes}" varStatus="count">
	<c:if test="${attribute.storeDisplay eq true && attribute.usage ne 'Defining'}">
		<c:set var="adRibbonStyle" value="${attribute.identifier}"/>
		<c:set var="adRibbonText" value=""/>
		<c:forEach var="e" items="${attribute.values}">
			<c:set var="adRibbonText" value="${e.value}"/>
		</c:forEach>
		<c:set target="${adRibbonMap}" property="${adRibbonStyle}" value="${adRibbonText}"/>
	</c:if>
</c:forEach>

<wcf:useBean var="swatchImagesList" classname="java.util.ArrayList"/>
<c:forEach items="${catalogEntryDetails.attachments}" var="attachment">
	<c:if test="${attachment.usage == 'SWATCH_IMAGE'}">
		<c:set var="attchName" value="${attachment.name}" />
		<c:set var="attchIdentifier" value="${attachment.identifier}" />
		<jsp:useBean id="swatchDetails" class="java.util.HashMap" type="java.util.Map"/>
		<c:set target="${swatchDetails}" property="name" value="${attchName}"/>
		<c:set target="${swatchDetails}" property="identifier" value="${attchIdentifier}"/>
		<c:set target="${swatchDetails}" property="assetPath" value="${attachment.attachmentAssetPath}"/>
		<wcf:set target="${swatchImagesList}" value="${swatchDetails}"/>
		<c:remove var="swatchDetails"/>
	</c:if>
</c:forEach>

<c:if test="${not empty param.displayAttachments and param.displayAttachments}">
	<wcf:useBean var="attachmentsList" classname="java.util.ArrayList"/>
	<c:forEach items="${catalogEntryDetails.attachments}" var="attachment">
		<c:set var="fetchAttachments" value="true" />
		<%-- if usage is specified, only display attachment of the specified usage. --%>
		<c:choose>
			<c:when test="${!empty param.usage}">
			    <c:if test="${param.usage ne attachment.usage}">
				    <c:set var="fetchAttachments" value="false" />
			    </c:if>
			</c:when>
			<c:when test="${!empty param.excludeUsageStr}">
				<%-- checks the usage type of this attachment and see if should exclude this attachment from display --%>
	            <c:forTokens items="${param.excludeUsageStr}" delims="," var="usageType">
				    <c:if test="${usageType == attachment.usage}">
					    <c:set var="fetchAttachments" value="false" />
				    </c:if>
			    </c:forTokens>
			</c:when>
		</c:choose>
			
		<c:if test="${fetchAttachments}">
			<c:set var="mimeType" value="${attachment.mimeType}" />
			<c:set var="mimePart" value="" />
		
			<c:forTokens items="${mimeType}" delims="/" var="mimePartFromType" end="0">
				<c:set var="mimePart" value="${mimePartFromType}" />
			</c:forTokens>

			<c:choose>
				<c:when test="${(fn:startsWith(attachment.attachmentAssetPath, 'http://') || fn:startsWith(attachment.attachmentAssetPath, 'https://'))}">
					<wcst:resolveContentURL var="resolvedPath" url="${attachment.attachmentAssetPath}" mimeTypeVar="resolvedMimeType" mimeSubtypeVar="resolvedMimeSubtype"/>
					<c:set var="assetPath" value="${resolvedPath}"/>
					<c:if test="${!empty resolvedMimeType}">
						<c:set var="mimeType" value="${resolvedMimeType}"/>
						<c:set var="mimePart" value="${resolvedMimeType}"/>
						<c:if test="${!empty resolvedMimeSubtype}">
							<c:set var="mimeType" value="${resolvedMimeType}/${resolvedMimeSubtype}"/>
						</c:if>
					</c:if>
				</c:when>
				<c:when test="${mimePart eq 'uri' || empty mimePart}">
					<c:set var="assetPath" value="${attachment.attachmentAssetPath}"/>
				</c:when>
				<c:otherwise>
					<c:set var="assetPath" value="${staticAssetContextRoot}/${attachment.attachmentAssetPath}"/>
				</c:otherwise>
			</c:choose>
	    
			<c:set var="attachmentType" value="default"/>
			<c:if test="${not empty mimeType}">	
				<c:if test="${mimeType eq 'text/plain'}">
					<c:set var="attachmentType" value="text"/>
				</c:if>
				<c:if test="${mimeType eq 'image/gif' || mimeType eq 'image/jpeg' || mimeType eq 'image/jpg' || mimeType eq 'image/png'}">
					<c:set var="attachmentType" value="image"/>
				</c:if>
				<c:if test="${mimeType eq 'application/pdf'}">
					<c:set var="attachmentType" value="pdf"/>
				</c:if>
				<c:if test="${mimeType eq 'application/postscript' || mimeType eq 'application/msword'}">
					<c:set var="attachmentType" value="doc"/>
				</c:if>
				<c:if test="${mimeType eq 'application/vnd.ms-powerpoint'}">
					<c:set var="attachmentType" value="presentation"/>
				</c:if>
				<c:if test="${mimeType eq 'application/vnd.ms-excel'}">
					<c:set var="attachmentType" value="spreadsheet"/>
				</c:if>
				<c:if test="${mimeType eq 'audio/x-wav' || mimeType eq 'audio/x-pn-realaudio' || mimeType eq 'audio/x-pn-realaudio-plugin'}">
					<c:set var="attachmentType" value="audio"/>
				</c:if>
				<c:if test="${mimeType eq 'video/mpeg' || mimeType eq 'video/quicktime'|| mimeType eq 'video/x-msvideo'|| mimeType eq 'application/x-shockwave-flash'}">
					<c:set var="attachmentType" value="video"/>
				</c:if>
				<c:if test="${mimeType eq 'application/x-gzip' || mimeType eq 'application/zip' || mimeType eq 'application/x-gtar' || mimeType eq 'application/x-tar' || mimeType eq 'application/java-archive'}">
					<c:set var="attachmentType" value="archive"/>
				</c:if>
			</c:if>
			<c:if test="${empty mimePart}">
				<c:set var="attachmentType" value="webpage"/>
			</c:if>
			<c:set var="attchImage" value="${jspStoreImgDir}${env_vfileColor}${attachmentType}_icon.png" />
			<c:set var="attchName" value="${attachment.name}" />
			<c:set var="attchShortDesc" value="${attachment.shortdesc}" />
			<c:set var="description" value="${attchShortDesc}"/>
			<c:set var="attchLongDesc" value="${attachment.longdesc}" />
			<c:if test="${empty description and not empty attchLongDesc}">
				<c:set var="description" value="${attchLongDesc}"/>
			</c:if>
			<c:choose>
				<c:when test="${empty mimePart || mimeType == 'content/unknown' || mimeType == 'text/html'}">
					<c:set var="linkName" value="${assetPath}"/>
				</c:when>
				<c:otherwise>
					<fmt:message key="DOWNLOAD_{0}" var="linkName" bundle="${widgetText}">
						<fmt:param value="${fn:toUpperCase(attachmentType)}"/>
					</fmt:message>
				</c:otherwise>
			</c:choose>
			
			<jsp:useBean id="attachmentDetails" class="java.util.HashMap" type="java.util.Map"/>
			<c:set target="${attachmentDetails}" property="name" value="${attchName}"/>
			<c:set target="${attachmentDetails}" property="linkName" value="${linkName}"/>
			<c:set target="${attachmentDetails}" property="assetPath" value="${assetPath}"/>
			<c:set target="${attachmentDetails}" property="image" value="${attchImage}"/>
			<c:set target="${attachmentDetails}" property="attachmentType" value="${fn:toUpperCase(attachmentType)}"/>
			<c:set target="${attachmentDetails}" property="description" value="${description}"/>
			
			<wcf:set target="${attachmentsList}" value="${attachmentDetails}"/>
			<c:remove var="attachmentDetails"/>
			<c:remove var="attachmentType"/>
			<c:remove var="attchImage"/>
		</c:if>
	</c:forEach>
</c:if>
<c:set var="thumbNail" value="${catalogEntryDetails.thumbnail}" />
<c:set var="fullImage" value="${catalogEntryDetails.fullImage}" />

<c:forEach var="metadata" items="${catalogEntryDetails.metaData}" varStatus="status2">
	<c:if test="${metadata.key == 'ThumbnailPath'}">
		<c:choose>
			<c:when test="${(fn:startsWith(metadata.value, 'http://') || fn:startsWith(metadata.value, 'https://'))}">
				<wcst:resolveContentURL var="thumbNail" url="${metadata.value}"/>
			</c:when>
			<c:otherwise>
				<c:set var="thumbNail" value="${env_imageContextPath}/${metadata.value}" />
			</c:otherwise>
		</c:choose>
	</c:if>
	<c:if test="${metadata.key == 'FullImagePath'}">
		<c:choose>
			<c:when test="${(fn:startsWith(metadata.value, 'http://') || fn:startsWith(metadata.value, 'https://'))}">
				<wcst:resolveContentURL var="fullImage" url="${metadata.value}"/>
			</c:when>
			<c:otherwise>
				<c:set var="fullImage" value="${env_imageContextPath}/${metadata.value}" />
			</c:otherwise>
		</c:choose>
	</c:if>
</c:forEach>

<c:if test="${not empty originalSearchCatEntry.metaData.score}">
	<fmt:formatNumber var="searchScore" type="number" maxFractionDigits="15" groupingUsed="true" value="${originalSearchCatEntry.metaData.score}" />
</c:if>

<c:if test="${numberOfSKUs > 0}">
	<c:set var="firstItemID" value="${entitledItems[0].uniqueID}"/>
</c:if>

<%
	String storeId = request.getParameter("storeId");
	String priceMode = com.ibm.commerce.foundation.internal.server.services.search.util.StoreHelper.getPriceMode(null, storeId);
	
	if(priceMode.equals("0")){ // Computed Price
		request.setAttribute("calculatedPriceFlag","true");
	}else if(priceMode.equals("1")){ // Index Price
		request.setAttribute("calculatedPriceFlag","false");
	}else if(priceMode.equals("2")){ // Mixed Price
		request.setAttribute("calculatedPriceFlag","true");
	}
	
%>

<c:choose>
 <c:when test="${calculatedPriceFlag == 'true'}">
 <c:set var="minimumPrice" value=""  />
		<c:set var="maximumPrice" value=""  />
 		
 		<wcf:getData var="entitledPrices"
				type="com.ibm.commerce.price.facade.datatypes.EntitledPriceType[]"
				expressionBuilder="getEntitledPricesByCatalogEntryIds">
			<wcf:contextData name="storeId" data="${WCParam.storeId}"/>
			<c:forEach var="entitledItem" items="${entitledItems}">
				<wcf:param name="catEntryId" value="${entitledItem.uniqueID}" />
				<wcf:param name="currency" value="${env_currencyCode}"/>
			</c:forEach>
		</wcf:getData> 
		<c:if test="${null!=entitledPrices}">
			<c:forEach var="entitledPrice" items="${entitledPrices}" varStatus="idx">
				<c:forEach var="unitPrice" items="${entitledPrice.unitPrice}" >
				   <c:if test="${idx.index == 0}">
				   		<c:set var="maximumPrice" value="${unitPrice.price.value}" />
				   		<c:set var="minimumPrice" value="${unitPrice.price.value}" />
				   </c:if>
				   <c:if test="${!empty unitPrice.price.value && unitPrice.price.value > maximumPrice}">
				   		<c:set var="maximumPrice" value="${unitPrice.price.value}" />
				   </c:if>
				   <c:if test="${!empty unitPrice.price.value && unitPrice.price.value < minimumPrice}">
				   		<c:set var="minimumPrice" value="${unitPrice.price.value}" />
				   </c:if>
				</c:forEach>
			</c:forEach>
		</c:if>
		
		<c:if test="${!empty maximumPrice}">
			<c:set var="maximumItemPrice" value="${maximumPrice}"/>
		</c:if>
 </c:when>
 <c:otherwise>
 	<c:forEach var="prices" items="${catalogEntryDetails.price}">
	<c:if test="${prices.usage == 'Offer'}">
		<c:set var="maximumItemPrice" value="${prices.maximumValue.value}"/>
		<c:if test="${empty maximumItemPrice}">						
			<c:set var="maximumItemPrice" value="${prices.value}"/>
		</c:if>
	</c:if>
</c:forEach>
 </c:otherwise>
 </c:choose>


<c:choose>
	<c:when test="${!empty thumbNail}">	<!-- added -->
		<c:set var="productThumbNailImage" value="${thumbNail}"/>
		<c:set var="productThumbNail160Image" value="${thumbNail}"/>
	</c:when>
	<c:otherwise>
		<c:set var="productThumbNailImage" value="${hostPath}${jspStoreImgDir}images/NoImageIcon_sm.jpg"/>
		<c:set var="productThumbNail160Image" value="${hostPath}${jspStoreImgDir}images/NoImageIcon_sm.jpg"/>
	</c:otherwise>
</c:choose>


<%-- Find out all the subscription related attributes if any --%>
<c:set var="isRecurrable" value="true"/>
<c:if test="${catalogEntryDetails.disallowRecurringOrder == '1'}">
	<c:set var="isRecurrable" value="false"/>
</c:if>
<c:set var="isSubscription" value="false"/>
<c:if test="${!empty catalogEntryDetails.subscriptionTypeCode && catalogEntryDetails.subscriptionTypeCode != 'NONE'}">
	<c:set var="isSubscription" value="true"/>
</c:if>
<c:set var="fulfillmentFrequency" value=""/>
<c:set var="fulfillmentFrequencyAttrName" value=""/>
<c:set var="paymentFrequency" value=""/>
<c:set var="paymentFrequencyAttrName" value=""/>
<c:set var="aValidTimePeriod" value=""/>
<jsp:useBean id="validTimePeriodAttrValues" class="java.util.HashMap" scope="page" />

<div id="entitledItem_<c:out value='${catalogEntryID}'/>" style="display:none;">
		[
		<c:if test="${type == 'product'}">

				<%-- SwatchCode start --%>
				<c:if test="${!empty entitledItems}">
				<%-- Find out if we have angle image attachments in the product, if there is then we should retrieve that for all items. --%>
				<%-- Otherwise, we can use a lighter service. --%>
				<c:set var="hasAngleImages" value="false" />
				<c:set var="allAttachments" value="${catalogEntryDetails.attachments}" />
				<c:forEach var="anAttachment" items="${allAttachments}">
					<c:if test="${'ANGLEIMAGES_THUMBNAIL' eq anAttachment.usage}">
						<c:set var="hasAngleImages" value="true" />
					</c:if>
				</c:forEach>

				<c:set var="exprBuilder_PD" value="getCatalogEntryViewPriceWithAttributesByID"/>
				<c:set var="searchProfile_PD" value="IBM_findCatalogEntryPriceWithAttributes_PriceMode"/>
				<c:if test="${hasAngleImages}">
					<c:set var="exprBuilder_PD" value="getCatalogEntryViewDetailsWithAttachmentsByID"/>
					<c:set var="searchProfile_PD" value="IBM_findCatalogEntryDetailsWithAttachments"/>
				</c:if>
	

				</c:if>
				<%-- SwatchCode end --%>

				<c:forEach var='entitledItem' items='${entitledItems}' varStatus='outerStatus'>
					<c:if test="${entitledItem.buyable eq 'true'}">
						<c:set var="sku" value="${entitledItem}"/>
						<c:set var="skuID" value="${entitledItem.uniqueID}"/>
	
						{
						"catentry_id" : "<c:out value='${skuID}' />",
						"Attributes" :	{
							<c:set var="hasAttributes" value="false"/>											
							<c:forEach var="definingAttrValue2" items="${sku.attributes}" varStatus="innerStatus">
								<c:if test="${definingAttrValue2.identifier == env_subsFulfillmentFrequencyAttrName}">
									<c:set var="fulfillmentFrequency" value="${definingAttrValue2.values[0].value}"/>
									<c:set var="fulfillmentFrequencyAttrName" value="${definingAttrValue2.name}"/>
								</c:if>
								<c:if test="${definingAttrValue2.identifier == env_subsPaymentFrequencyAttrName}">
									<c:set var="paymentFrequency" value="${definingAttrValue2.values[0].value}"/>
									<c:set var="paymentFrequencyAttrName" value="${definingAttrValue2.name}"/>
								</c:if>
								<c:if test="${definingAttrValue2.identifier == env_subsTimePeriodAttrName}">
									<c:set var="aValidTimePeriod" value="${definingAttrValue2.values[0].value}"/>
									<c:set property="${definingAttrValue2.values[0].value}" value="${definingAttrValue2.values[0].value}" target="${validTimePeriodAttrValues}"/>	
								</c:if>
								<c:if test="${definingAttrValue2.usage == 'Defining'}">
									<c:if test='${hasAttributes eq "true"}'>,</c:if>
									"<c:out value="${fn:replace(definingAttrValue2.name, search01, replaceStr01)}_${fn:replace(fn:replace(definingAttrValue2.values[0].value, search01, replaceStr01), search, replaceStr02)}" />":"<c:out value='${innerStatus.count}' />"
									<c:set var="hasAttributes" value="true"/>
								</c:if>
							</c:forEach>
							},
							
							<%-- SwatchCode start --%>
							<c:forEach items = "${entitledItems}" var="itemDetail">
										
										<c:if test="${!empty itemDetail.thumbnail}">
											<c:choose>
												<c:when test="${(fn:startsWith(itemDetail.thumbnail, 'http://') || fn:startsWith(itemDetail.thumbnail, 'https://'))}">
													<wcst:resolveContentURL var="thumbnailImage" url="${itemDetail.thumbnail}"/>
												</c:when>
												<c:otherwise>
													<c:set var="thumbnailImage" value="${itemDetail.thumbnail}" />
												</c:otherwise>
											</c:choose>
											<c:set var="itemFullImage" value="${fn:replace(thumbnailImage, productThumbnailImage, productMasterImage)}" />
										</c:if>
							
								<c:if test="${itemDetail.uniqueID == entitledItem.uniqueID}">
									"ItemImage" : "<c:out value='${itemFullImage}' />",
									"ItemImage467" : "<c:out value='${itemFullImage}' />",
									"ItemThumbnailImage" : "<c:out value='${fn:replace(itemFullImage, productMasterImage, productThumbnailImage)}' />"
									<c:if test="${fn:length(itemDetail.attachments) > 0}">
										,"ItemAngleThumbnail" : {
										<c:set var="imageCount" value="0" />
										<c:forEach var="itemAttachment" items="${itemDetail.attachments}" varStatus="status1">
											<c:if test="${itemAttachment.usage == 'ANGLEIMAGES_THUMBNAIL'}">
												<c:if test='${imageCount gt 0}'>,</c:if>
												<c:set var="imageCount" value="${imageCount+1}" />
												<c:choose>
													<c:when test="${(fn:startsWith(itemAttachment.attachmentAssetPath, 'http://') || fn:startsWith(itemAttachment.attachmentAssetPath, 'https://'))}">
														<wcst:resolveContentURL var="resolvedPath" url="${itemAttachment.attachmentAssetPath}"/>
													</c:when>
													<c:otherwise>
														<c:set var="resolvedPath" value="${env_imageContextPath}/${itemAttachment.attachmentAssetPath}" />
													</c:otherwise>
												</c:choose>
												"image_${imageCount}" : "<c:out value='${resolvedPath}' />"
											</c:if>
										</c:forEach>
										},
										"ItemAngleFullImage" : {
										<c:set var="imageCount" value="0" />
										<c:forEach var="itemAttachment" items="${itemDetail.attachments}" varStatus="status2">
											<c:set var="imgSource" value="${itemAttachment.attachmentAssetPath}" />
											<c:if test="${itemAttachment.usage == 'ANGLEIMAGES_FULLIMAGE'}">
												<c:if test='${imageCount gt 0}'>,</c:if>
												<c:set var="imageCount" value="${imageCount+1}" />
												<c:choose>
													<c:when test="${(fn:startsWith(imgSource, 'http://') || fn:startsWith(imgSource, 'https://'))}">
														<wcst:resolveContentURL var="imgSource" url="${imgSource}"/>
													</c:when>
													<c:otherwise>
														<c:set var="imgSource" value="${env_imageContextPath}/${imgSource}" />
													</c:otherwise>
												</c:choose>
												"image_${imageCount}" : "<c:out value='${imgSource}' />"
											</c:if>
										</c:forEach>
										}
									</c:if>
								</c:if>
							</c:forEach>
							<%-- SwatchCode end --%>
						}<c:if test='${!outerStatus.last}'>,</c:if>
					</c:if>
				</c:forEach>
			
		</c:if>
		<c:if test="${type == 'package' || type == 'bundle' || type == 'item' || type == 'dynamickit'}">
			{
			"catentry_id" : "<c:out value='${catalogEntryID}'/>",
			"Attributes" :	{ }
			}
		</c:if>
		]
</div>

<%-- 
***
*	Start: Product Descriptive and Defining Attributes
* 	
* Defining attributes are properties of SKUs.  They are used for SKU resolution.
***
--%>

<wcf:useBean var="descriptiveAttributeList" classname="java.util.ArrayList"/>

<wcf:useBean var="descriptiveAttributeMap" classname="java.util.HashMap"/>

<wcf:useBean var="subsFulfillmentFrequencyAttrList" classname="java.util.ArrayList"/>

<wcf:useBean var="subsPaymentFrequencyAttrList" classname="java.util.ArrayList"/>

<wcf:useBean var="subsTimePeriodAttrList" classname="java.util.ArrayList"/>

<wcf:useBean var="swatchAttrList" classname="java.util.ArrayList"/>

<wcf:useBean var="definingAttributeList" classname="java.util.ArrayList"/>

<c:choose>
	<c:when test="${type eq 'product'}">
		<c:if test="${numberOfSKUs eq 1}">
			<%-- 
			If there is only one SKU then let's just display the attributes of the one item as text without selection.
			Also, initialize the JavaScript code to simulate attribute selections made already.
			--%>
			<c:forEach var="attribute" items="${entitledItems[0].attributes}">
				<c:if test="${attribute.usage eq 'Defining'}">
					<c:choose>
						<c:when test="${attribute.identifier eq env_subsTimePeriodAttrName}">
							<c:set var="isValidValue" value="false"/>
							<c:forEach var="validValue" items="${validTimePeriodAttrValues}">
								<c:if test="${attribute.values[0].value == validValue.value}">
									<c:set var="isValidValue" value="true"/>
								</c:if>
							</c:forEach>
							
							<c:set var="attributeUOMKey" value="QI_ATTR_UOM_ANN" />
							<c:forEach var="extValue" items="${attribute.values[0].extendedValue}">
								<c:if test="${extendedValue.key == 'UnitOfMeasure'}">
									<c:set var="attributeUOMKey" value="QI_ATTR_UOM_${extValue.value}" />
								</c:if>
							</c:forEach>
							<fmt:message var="displayValue" key="${attributeUOMKey}" bundle="${widgetText}">
								<fmt:param value="${attribute.values[0].value}" />
							</fmt:message>
							
							<c:if test="${isValidValue}">
								<wcf:useBean var="listValues" classname="java.util.ArrayList" capacity="3"/>
								<wcf:set target="${listValues}" value="${fn:replace(attribute.name, search01, replaceStr01)}" />
								<wcf:set target="${listValues}" value="${fn:replace(attribute.values[0].value, search01, replaceStr01)}" />
								<wcf:set target="${listValues}" value="${fn:replace(displayValue, search01, replaceStr01)}" />
								<wcf:set target="${definingAttributeList}" value="${listValues}" />
								<c:remove var="listValues"/>
							</c:if>
						</c:when>
						<c:when test="${attribute.identifier != env_subsFulfillmentFrequencyAttrName && attribute.identifier != env_subsPaymentFrequencyAttrName}">
							<wcf:useBean var="listValues" classname="java.util.ArrayList" capacity="2"/>
							<wcf:set target="${listValues}" value="${fn:replace(attribute.name, search01, replaceStr01)}" />
							<wcf:set target="${listValues}" value="${fn:replace(attribute.values[0].value, search01, replaceStr01)}" />
							<wcf:set target="${definingAttributeList}" value="${listValues}" />
							<c:remove var="listValues"/>
						</c:when>
					</c:choose>
				</c:if>
			</c:forEach>
		</c:if>

		<c:forEach var="attribute" items="${catalogEntryDetails.attributes}" varStatus="aStatus">
			<c:if test="${ attribute.usage=='Descriptive' and attribute.displayable}" >
				<wcf:useBean var="listValues" classname="java.util.ArrayList" capacity="3"/>
				<c:choose>
					<c:when test="${ !empty attribute.image1 }" >
						<wcf:set target="${listValues}" value="${attribute.name}"/>
						<wcf:set target="${listValues}" value="${attribute.values[0].value}"/>											
						<wcf:set target="${listValues}" value="${attribute.image1}" />
						
					</c:when>
					<c:otherwise >
						<wcf:set target="${listValues}" value="${attribute.name}" />
						<wcf:set target="${listValues}" value="${attribute.values[0].value}" />
					</c:otherwise>
				</c:choose>
				<wcf:set target="${descriptiveAttributeList}" value="${listValues}"/>
				<c:remove var="listValues"/>
			</c:if>
			<c:if test="${(attribute.usage eq 'Defining') and (numberOfSKUs gt 1)}" >
				<c:set var="swatchEnabled" value="false"/>
				
				<c:forEach var="attrValue" items="${attribute.values}"> 
						<c:if test="${!empty attrValue.image1}">
						
								<c:if test="${!empty attrValue.value}">
									<c:set var="swatchEnabled" value="true"/>
								</c:if>			
						</c:if>						
				</c:forEach>		

				<c:choose>
					<c:when test="${attribute.identifier == env_subsFulfillmentFrequencyAttrName}">
						<wcf:useBean var="listValues" classname="java.util.ArrayList" capacity="3"/>
						<wcf:set target="${listValues}" value="${fn:replace(attribute.name, search01, replaceStr01)}"/>
						<wcf:set target="${listValues}" value="${fn:replace(fulfillmentFrequency, search01, replaceStr01)}"/>		
						<wcf:set target="${subsFulfillmentFrequencyAttrList}" value="${listValues}" />
						<c:remove var="listValues"/>
					</c:when>
					<c:when test="${attribute.identifier == env_subsPaymentFrequencyAttrName}">
						<wcf:useBean var="listValues" classname="java.util.ArrayList" capacity="3"/>
						<wcf:set target="${listValues}" value="${fn:replace(attribute.name, search01, replaceStr01)}"/>
						<wcf:set target="${listValues}" value="${fn:replace(paymentFrequency, search01, replaceStr01)}"/>
						<wcf:set target="${subsPaymentFrequencyAttrList}" value="${listValues}" />
						<c:remove var="listValues"/>
					</c:when>
					<c:when test="${attribute.identifier == env_subsTimePeriodAttrName}">
						<wcf:useBean var="values" classname="java.util.ArrayList"/>
						<wcf:useBean var="displayValues" classname="java.util.ArrayList" />
						<wcf:useBean var="listValues" classname="java.util.ArrayList" capacity="3"/>
						<c:forEach var="allowedValue" items="${attribute.values}" varStatus="vStatus">
							<c:set var="isValidValue" value="false"/>
							<c:forEach var="validValue" items="${validTimePeriodAttrValues}">
								<c:if test="${allowedValue.value == validValue.value}">
									<c:set var="isValidValue" value="true"/>
								</c:if>
							</c:forEach>
							
							<c:set var="attributeUOMKey" value="PD_ATTR_UOM_ANN" />
							<c:forEach var="extValue" items="${allowedValue.extendedValue}">
								<c:if test="${extendedValue.key == 'UnitOfMeasure'}">
									<c:set var="attributeUOMKey" value="PD_ATTR_UOM_${extValue.value}" />
								</c:if>
							</c:forEach>
							<fmt:message var="displayValue" key="${attributeUOMKey}" bundle="${widgetText}">
								<fmt:param value="${allowedValue.value}" />
							</fmt:message>
							
							<c:if test="${isValidValue}">
								<wcf:set target="${values}" value="${fn:replace(allowedValue.value, search01, replaceStr01)}" />
								<wcf:set target="${displayValues}" value="${fn:replace(displayValue, search01, replaceStr01)}" />
							</c:if>
						</c:forEach>
						
						<wcf:set target="${listValues}" value="${fn:replace(attribute.name, search01, replaceStr01)}"/>
						<wcf:set target="${listValues}" value="${values}"/>
						<wcf:set target="${listValues}" value="${displayValues}"/>
						<wcf:set target="${subsTimePeriodAttrList}" value="${listValues}" />
						<c:remove var="values" />
						<c:remove var="displayValues" />
						<c:remove var="listValues" />
					</c:when>
					<c:when test="${swatchEnabled}">
						<wcf:useBean var="swatchValues" classname="java.util.ArrayList" />
						<wcf:useBean var="swatchImages" classname="java.util.ArrayList" />
						<wcf:useBean var="listValues" classname="java.util.ArrayList" capacity="3"/>
						<c:set var="attributeCount" value="${fn:length(catalogEntryDetails.attributes)}"/>
						
						<c:if test="${attributeCount > 1 && aStatus.count == 1}">
							<c:set var="doNotDisable" value="${fn:replace(attribute.name, search01, replaceStr01)}"/>
						</c:if>

						<c:forEach var="swatchValue" items="${attribute.values}">
							<c:set var="isSwatchAttachmentFound" value="false"/>
							<c:set var="swatchAttachmentIdentifier" value="${partnumber}_${attribute.identifier}_${swatchValue.identifier}"/>
							<c:forEach var="swatchAttachment" items="${swatchImagesList}">
								<c:if test="${fn:containsIgnoreCase(swatchAttachment.identifier, swatchAttachmentIdentifier) && !isSwatchAttachmentFound}">
									<wcf:set target="${swatchValues}" value="${fn:replace(swatchValue.value, search01, replaceStr01)}" />
									<c:choose>
										<c:when test="${(fn:startsWith(swatchAttachment.assetPath, 'http://') || fn:startsWith(swatchAttachment.assetPath, 'https://'))}">
											<wcst:resolveContentURL var="resolvedPath" url="${swatchAttachment.assetPath}"/>
											<wcf:set target="${swatchImages}" value="${resolvedPath}" />
										</c:when>
										<c:otherwise>
											<wcf:set target="${swatchImages}" value="${env_imageContextPath}/${swatchAttachment.assetPath}" />
										</c:otherwise>
									</c:choose>
									<c:set var="isSwatchAttachmentFound" value="true"/>
								</c:if>
							</c:forEach>
							<c:if test="${!isSwatchAttachmentFound}">
									<c:if test="${!empty swatchValue.image1path}">
										<wcf:set target="${swatchValues}" value="${fn:replace(swatchValue.value, search01, replaceStr01)}" />
										<c:choose>
											<c:when test="${(fn:startsWith(swatchValue.value, 'http://') || fn:startsWith(swatchValue.value, 'https://'))}">
												<wcst:resolveContentURL var="resolvedPath" url="${swatchValue.value}"/>
												<wcf:set target="${swatchImages}" value="${resolvedPath}" />
											</c:when>
											<c:otherwise>
												<wcf:set target="${swatchImages}" value="${swatchValue.image1path}" />
											</c:otherwise>
										</c:choose>
									</c:if>
							</c:if>							
						</c:forEach>
						
						<wcf:set target="${listValues}" value="${fn:replace(attribute.name, search01, replaceStr01)}"/>
						<wcf:set target="${listValues}" value="${swatchValues}"/>
						<wcf:set target="${listValues}" value="${swatchImages}"/>				
						<wcf:set target="${swatchAttrList}" value="${listValues}" />
						<c:remove var="swatchValues" />
						<c:remove var="swatchImages" />
						<c:remove var="listValues" />
					</c:when>
					<c:otherwise>
						<wcf:useBean var="attributeValues" classname="java.util.ArrayList" />
						<c:forEach var="allowedValue" items="${attribute.values}">
							<%-- For each allowedValue, go through the attributes of the SKUs of the catalogEntry to figure out if the allowedValue attributes
							match those of the SKU whose buyable flag is false--%>
							<c:forEach var="sku" items="${catalogEntryDetails.sKUs}">
								<c:if test="${sku.buyable eq 'true'}">
									<%-- Buyable SKU --%>
									<c:forEach var="skuAttributes" items="${sku.attributes}">
										<c:if test="${attribute.name == skuAttributes.name}">
											<%-- Check if the same attribute is being compared --%>
											<c:forEach var="skuAttributeValues" items="${skuAttributes.values}">										
												<c:if test="${skuAttributeValues.uniqueID == allowedValue.uniqueID}">
													<%-- ID of SKU matches the allowedValue's ID --%>									
													<c:set var="isBuyable" value="true"/>
												</c:if>
											</c:forEach>
										</c:if>
									</c:forEach>
								</c:if>
							</c:forEach>
							<c:if test="${isBuyable eq 'true'}">							
								<%-- Display allowedValue --%>						
								<wcf:set target="${attributeValues}" value="${fn:replace(allowedValue.value, search01, replaceStr01)}" />
							</c:if>
							<c:remove var="isBuyable"/>
						</c:forEach>
						<wcf:useBean var="listValues" classname="java.util.ArrayList" capacity="3"/>
						<wcf:set target="${listValues}" value="${fn:replace(attribute.name, search01, replaceStr01)}" />
						<wcf:set target="${listValues}" value="${attributeValues}" />
						<wcf:set target="${definingAttributeList}" value="${listValues}" />
						<c:remove var="attributeValues" />
						<c:remove var="listValues" />
					</c:otherwise>
				</c:choose>
			</c:if>
		</c:forEach>
	</c:when>

	<c:when test="${type eq 'item'}">
		<c:forEach var="attribute" items="${catalogEntryDetails.attributes}" varStatus="aStatus">
			<c:if test="${attribute.usage eq 'Defining'}">
				<wcf:useBean var="attributeValues" classname="java.util.ArrayList" />
				<c:if test="${attribute.identifier != env_subsFulfillmentFrequencyAttrName && attribute.identifier != env_subsPaymentFrequencyAttrName}">
					<c:choose>
						<c:when test="${attribute.identifier == env_subsTimePeriodAttrName}">						
							<c:forEach var="allowedValue" items="${attribute.values}" varStatus="vStatus">							
								<c:set var="attributeUOMKey" value="PD_ATTR_UOM_ANN" />
								<c:forEach var="extValue" items="${allowedValue.extendedValue}">
									<c:if test="${extendedValue.key == 'UnitOfMeasure'}">
										<c:set var="attributeUOMKey" value="PD_ATTR_UOM_${extValue.value}" />
									</c:if>
								</c:forEach>
								<fmt:message var="displayValue" key="${attributeUOMKey}" bundle="${widgetText}">
									<fmt:param value="${allowedValue.value}" />
								</fmt:message>
								
								<wcf:set target="${attributeValues}" value="${fn:replace(displayValue, search01, replaceStr01)}" />
							</c:forEach>
						</c:when>
						<c:otherwise>
							<wcf:set target="${attributeValues}" value="${fn:replace(attribute.values[0].value, search01, replaceStr01)}"/>
						</c:otherwise>
					</c:choose>
				</c:if>
				<wcf:useBean var="listValues" classname="java.util.ArrayList" capacity="3"/>
				<wcf:set target="${listValues}" value="${fn:replace(attribute.name, search01, replaceStr01)}" />
				<wcf:set target="${listValues}" value="${attributeValues}" />
				<wcf:set target="${definingAttributeList}" value="${listValues}" />
				<c:remove var="attributeValues" />
				<c:remove var="listValues" />
			</c:if>
		</c:forEach>
	</c:when>
</c:choose>
<%-- 
***
*	End: Product Descriptive and Defining Attributes
***
--%>

<%-- 
	Loop through all the SKUs and see if any one of them is marked 'buyable'. 
	Even if one of them is buyable, we show Add to Cart button.. Buyable flag set at product level is ignored 
--%>
<c:if test="${empty requestScope.bundleId and empty requestScope.packageId}">
	<c:set var="bundleKitAvailable" value="false" scope="request"/> <%-- set default value to false --%>
</c:if>
<c:set var="productAvailable" value="false" scope="request"/> <%-- set default value to false --%>
<c:set var="dynamicKitAvailable" value="false" scope="request"/> <%-- set default value to false --%>
<c:if test="${!empty maximumItemPrice}">
	<%-- We have price... Continue with other checks --%>
	<c:choose>
		<c:when test="${type eq 'bundle' or type eq 'package'}">
			<%--For bundle and package check the buyable flag at the bundle or pacakge level instead of looping through each individual components --%>
			<c:set var="bundleKitAvailable" value="${catalogEntryDetails.buyable}" scope="request"/>
		</c:when>
		<c:otherwise>
			<%-- It is not a Subscription item OR Subscription products with the well known 3 attributes set properly --%>
			<c:if test="${!isSubscription || (fulfillmentFrequency != '' && paymentFrequency != '' && aValidTimePeriod != '')}" >
				<c:choose>
					<%-- If it is a product iterate through all its SKUs --%>
					<c:when test="${type eq 'product'}">
						<c:forEach var="entitledItem" items="${entitledItems}">
							<c:if test = "${entitledItem.buyable eq 'true'}">
								<c:set var="productAvailable" value="true" scope="request"/> <%-- We have one item which is marked as buyable..Show AddToCart button --%>
							</c:if>
						</c:forEach>
					</c:when>
					<c:otherwise>
						<%-- Since it is an item, pick from buyable field --%>
						<c:set var="productAvailable" value="${catalogEntryDetails.buyable}" scope="request"/>
					</c:otherwise>
				</c:choose>
			</c:if>
		</c:otherwise>
	</c:choose>
</c:if>

<%-- For dynamic kit, check the buyable flag directly at the details level instead of looping through each individual components --%>
<c:if test="${type eq 'dynamickit'}">
	<c:set var="dynamicKitAvailable" value="${catalogEntryDetails.buyable}" scope="request"/>
</c:if>

<c:set var="buyable" value="${catalogEntryDetails.buyable}"/>

<c:set var="singleSKU" value="false"/>
<c:choose>
	<c:when test="${type == 'bundle'}">
		<c:set var="singleSKU" value="${catalogEntryDetails.hasSingleSKU}"/>
	</c:when>
	<c:when test="${type == 'product'}">
		<c:set var="singleSKU" value="${catalogEntryDetails.hasSingleSKU}"/>
	</c:when>
	<c:when test="${type == 'dynamickit'}">
		<c:set var="singleSKU" value="false"/>
		<c:set var="isDKConfigurable" value="${!empty catalogEntryDetails.dynamicKitModelReference}"/>
		<c:if test="${empty isDKConfigurable}">
			<c:set var="isDKConfigurable" value="true"/>
		</c:if>

		<c:if test="${empty isDKPreConfigured}">
			<%-- determine if the kit is pre-configured or not --%>
			<c:set var="isDKPreConfigured" value="${catalogEntryDetails.dynamicKitDefaultConfigurationComplete}" scope="request"/>
		</c:if>
	</c:when>
</c:choose>


<c:if test="${!empty globalbreadcrumbs}">
	<c:forEach var="breadcrumb" items="${globalbreadcrumbs.breadCrumbTrailEntryView}">
			<c:if test="${breadcrumb.type_ == 'FACET_ENTRY_CATEGORY'}">
			 <c:choose>
				<c:when test="${empty searchTopCategoryId}">
					<c:set var="searchTopCategoryId" value="${breadcrumb.value}" scope="request"/>
				</c:when>
				<c:when test="${empty searchParentCategoryId}">
					<c:set var="searchParentCategoryId" value="${breadcrumb.value}" scope="request"/>
				</c:when>
			</c:choose>
			</c:if>
	</c:forEach>
</c:if>

<c:choose>
	<%-- Use the context parameters if they are available; usually in a subcategory --%>
	<c:when test="${empty WCParam.categoryId || (!empty param.emsName && param.fromWidget ne 'CatalogEntryList')}">
		<%-- categoryId is empty..just display product URL --%>
		<c:set var="patternName" value="ProductURL"/>
		<c:set var="parent_category_rn" value="${searchParentCategoryId}" />
		<c:set var="top_category" value="${searchTopCategoryId}" />
		<c:set var="categoryId" value="${WCParam.categoryId}" />
	</c:when>
	<c:when test="${searchParentCategoryId == WCParam.categoryId}">
			<%-- CategoryId is present..but it is same as parent category Id --%>
			<c:set var="parent_category_rn" value="${searchTopCategoryId}" />
			<c:set var="top_category" value="${searchTopCategoryId}" />
			<c:set var="categoryId" value="${WCParam.categoryId}" />
			<c:set var="patternName" value="ProductURLWithCategory"/>
			<c:if test="${!empty top_category && top_category != searchParentCategoryId}">
				<c:set var="patternName" value="ProductURLWithParentCategory"/>
			</c:if>
	</c:when>
	<c:when test="${!empty searchParentCategoryId && !empty searchTopCategoryId}">
		<%-- both parent and top category are present.. display full product URL --%>
		<c:set var="parent_category_rn" value="${searchParentCategoryId}" />
		<c:set var="top_category" value="${searchTopCategoryId}" />
		<c:set var="categoryId" value="${WCParam.categoryId}" />
		<c:set var="patternName" value="ProductURLWithParentAndTopCategory"/>
		<c:if test="${top_category == parent_category_rn}">
			<%-- But both top and parent category are same..display only parent category in product URL --%>
			<c:set var="patternName" value="ProductURLWithParentCategory"/>
		</c:if>
	</c:when>
	<c:when test="${!empty searchParentCategoryId}">
		<%-- parent category is not empty..use product URL with parent category --%>
		<c:set var="parent_category_rn" value="${searchParentCategoryId}" />
		<c:set var="top_category" value="${searchTopCategoryId}" />
		<c:set var="categoryId" value="${WCParam.categoryId}" />
		<c:set var="patternName" value="ProductURLWithParentCategory"/>
	</c:when>
	<c:when test="${!empty WCParam.categoryId}">
			<c:set var="parent_category_rn" value="${searchTopCategoryId}" />
			<c:set var="top_category" value="${searchTopCategoryId}" />
			<c:set var="categoryId" value="${WCParam.categoryId}" />
			<c:set var="patternName" value="ProductURLWithCategory"/>
	</c:when>
	<%-- Store front main page; usually eSpots, parents unknown --%>
	<c:otherwise>
		<c:set var="parent_category_rn" value="${searchParentCategoryId}" />
		<c:set var="top_category" value="${searchTopCategoryId}" />
		<%-- Just display productURL without any category info --%>
		<c:set var="patternName" value="ProductURL"/>
	</c:otherwise>
</c:choose>

<c:set var = "categoryId_local" value = "${WCParam.categoryId}"/>
<c:if test = "${param.useClickInfoURL == 'true'}">
  <c:set var = "categoryId_local" value = ""/>
</c:if>

<wcf:url var="productDisplayUrl" patternName="${patternName}" value="Product2">
	<wcf:param name="catalogId" value="${catalogId}"/>
	<wcf:param name="storeId" value="${storeId}"/>
	<wcf:param name="productId" value="${productId}"/>
	<wcf:param name="langId" value="${langId}"/>
	<wcf:param name="errorViewName" value="ProductDisplayErrorView"/>
	<wcf:param name="categoryId" value="${categoryId_local}" />
	<wcf:param name="top_category" value="${top_category}" />
	<wcf:param name="parent_category_rn" value="${parent_category_rn}" />
	<wcf:param name="urlLangId" value="${urlLangId}" />
</wcf:url>

<c:choose>
	<c:when test = "${param.useClickInfoURL == 'true'}" >
		<c:url var="ClickInfoURL" value="${param.clickInfoURL}">
			<c:param name="URL" value="${productDisplayUrl}" />
		</c:url>
		<%-- Replace productDisplayUrl with clickInfoURL --%>
		<c:set var = "productDisplayUrl" value = "${env_absoluteUrl}${ClickInfoURL}" />
	</c:when>
	<c:when test="${! empty experimentId}">
		<wcf:url var="productDisplayUrl" value="ClickInfo">
			<wcf:param name="storeId" value="${WCParam.storeId}"/>
			<wcf:param name="evtype" value="CpgnClick" />
			<wcf:param name="mpe_id" value="${mpe_id}" />
			<wcf:param name="intv_id" value="${intv_id}" />
			<wcf:param name="experimentId" value="${experimentId}" />
			<wcf:param name="testElementId" value="${testElementId}" />
			<wcf:param name="expDataType" value="CatalogEntryId" />
			<wcf:param name="expDataUniqueID" value="${productId}" />
			<wcf:param name="URL" value="${catEntryDisplayUrl}" />
		</wcf:url>
	</c:when>
</c:choose>

<%-- END ProductDescription_Data.jsp --%>
