/*
 *-----------------------------------------------------------------
 * Licensed Materials - Property of IBM
 *
 * WebSphere Commerce
 *
 * (C) Copyright IBM Corp. 2013, 2014 All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with
 * IBM Corp.
 *-----------------------------------------------------------------
 */

.homeESpotContainer {
	color: #666666;
	margin: 10px 24px 0 30px;
	max-width: 1010px;
	text-align: center;
}

#homePageEspot2_Slot {
	min-height: 340px;
	margin-top: 90px !important;
}
#homePageEspot2_Slot .textContainer {
	min-width: 204px;
	width: 50%;
	text-align: left;
	float: right;
}
#homePageEspot2_Slot .imageContainer {
	float: left;
	margin-top: -46px;
	z-index: -1000;
	position: relative;
}
html[lang='ar'] #homePageEspot2_Slot .textContainer, html[lang='he'] #homePageEspot2_Slot .textContainer {
	float: left;
}
html[lang='ar'] #homePageEspot2_Slot .imageContainer, html[lang='he'] #homePageEspot2_Slot .imageContainer {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	float: right;
}
html[lang='ar'].dj_ie8 #homePageEspot2_Slot .imageContainer, html[lang='he'].dj_ie8 #homePageEspot2_Slot .imageContainer {
	filter: fliph();	
}

#homePageEspot2_Slot .imageContainer img {
	max-width: 537px;
	width: 100%;
}

@media screen and (min-width: 1281px) {
	#homePageEspot2_Slot .imageContainer {
		margin-top: -150px;
	}
}

@media screen and (max-width: 1113px) {
	html[lang='ar'] #homePageEspot2_Slot .textContainer, html[lang='he'] #homePageEspot2_Slot .textContainer {
		margin-top: 30px;
		min-width: 60%;
	}
	html[lang='ar'] #homePageEspot2_Slot .imageContainer, html[lang='he'] #homePageEspot2_Slot .imageContainer {
		max-width: 60%;
	}
}

@media screen and (max-width: 1133px) {
	html[lang='he'] #homePageEspot2, html[lang='ar'] #homePageEspot2 {
		width: 105%;
	}  	
	html[lang='ar'] #homePageEspot2_Slot .imageContainer, html[lang='he'] #homePageEspot2_Slot .imageContainer {
		max-width: 60%;
	}
}

@media screen and (min-width: 952px) {
	#homePageEspot2_Slot {
		margin-top: 90px !important;
	}
	.homeESpotContainer .textContainer {
		text-align: left;
		z-index: 5;
	}
	.homeESpotContainer {
		color: #666666;
		margin: 10px 24px 0 30px;
		max-width: 1010px;
		text-align: center;
	}
}

@media screen and (max-width: 952px) {
	#homePageEspot2_Slot {
		margin-top: 10px !important;
	}
	html[lang='ar'] #homePageEspot2_Slot .imageContainer, html[lang='he'] #homePageEspot2_Slot .imageContainer {
		max-width: 60%;
	}
	html[lang='ar'] #homePageEspot2_Slot .imageContainer img, html[lang='he'] #homePageEspot2_Slot .imageContainer img {
		margin-right: 0;
	}
	html[lang='ar'] #homePageEspot2_Slot .textContainer, html[lang='he'] #homePageEspot2_Slot .textContainer {
		min-width: 60%;
	}
}

@media screen and (max-width: 770px) {
	html[lang='ar'] #homePageEspot2_Slot, html[lang='he'] #homePageEspot2_Slot {
		margin-top: -60px !important;
	}
	html[lang='ar'] #homePageEspot2_Slot .textContainer, html[lang='he'] #homePageEspot2_Slot .textContainer {
		min-width: 60%;
	}
	html[lang='ar'] #homePageEspot2_Slot .imageContainer, html[lang='he'] #homePageEspot2_Slot .imageContainer {
		max-width: 70%;
		margin-left: 0;
		margin-right: 0;
		margin-top: -45px;
	}
}

@media screen and (min-width: 953px) and (max-width: 1000px) {
	#homePageEspot2 {
		width: 150%;
	}
	html[lang='he'] #homePageEspot2, html[lang='ar'] #homePageEspot2 {
		width: 120%;
	}  	
	#homePageEspot2_Slot .imageContainer {
		margin-top: -55px;
	}
	#homePageEspot2_Slot .textContainer {
		width: 36%;
		margin-top: 55px;
	}
}

@media screen and (min-width: 863px) and (max-width: 952px) {
	#homePageEspot2 {
		width: 150%;
	}
	html[lang='he'] #homePageEspot2, html[lang='ar'] #homePageEspot2 {
		width: 120%;
	}  	
	#homePageEspot2_Slot .imageContainer {
		margin-top: -180px;
	}
	html[lang='he'] #homePageEspot2_Slot .imageContainer, html[lang='ar'] #homePageEspot2_Slot .imageContainer {
		margin-top: -50px;
	} 
	#homePageEspot2_Slot .textContainer {
		width: 45%;
		margin-top: 100px;
	}
}

@media screen and (min-width: 771px) and (max-width: 862px) {
	#homePageEspot2 {
		width: 150%;
	}
	html[lang='he'] #homePageEspot2, html[lang='ar'] #homePageEspot2 {
		width: 140%;
	}  	
	#homePageEspot2_Slot .imageContainer {
		margin-top: -85px;
	}
}

@media screen and (min-width: 601px) and (max-width: 770px) {
	#homePageEspot2 {
		width: 150%;
	}
	html[lang='he'] #homePageEspot2, html[lang='ar'] #homePageEspot2 {
		width: 140%;
	}  	
	#homePageEspot2_Slot .imageContainer {
		margin-top: -85px;
	}
}

@media screen and (max-width: 644px) {
	#homePageEspot2_Slot .imageContainer img {
		margin-left: -16px;
	}
}

@media screen and (max-width: 600px) {
	#homePageEspot2_Slot .textContainer {
		background-color: transparent;
		left: auto;
		right: 10px;
		width: 60%;
	}
	#homePageEspot2_Slot .imageContainer {
		bottom: 0px;
		left: -10px;
		right: auto;
		top: auto;
	}
	#homePageEspot2_Slot .imageContainer img {
		min-width: 275px;
		width: 90%;
	}
	.homeESpotContainer {
		margin: 21px 0 20px 0 !important;
		position: relative;
	}
	html[lang='he'] #homePageEspot2, html[lang='ar'] #homePageEspot2 {
		width: 100%;
	}  	
	
}
@media screen and (max-width: 520px) {
	#homePageEspot2_Slot {
		margin-top: 40px !important;
	}
	html[lang='ar'] #homePageEspot2_Slot, html[lang='he'] #homePageEspot2_Slot {
		margin-top: -20px !important;
	}
	#homePageEspot2_Slot .imageContainer {
		margin-top: -40px;
	}
}
@media screen and (max-width: 362px) {
	#homePageEspot2_Slot .imageContainer {
		margin-top: -5px;
	}
}
