<%--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2011, 2013 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
--%>

<!-- BEGIN ContentRecommendation_Vertical_UI.jspf -->

<c:if test="${!empty contentFormatMap}">
	<c:choose>
		<c:when test="${totalPages > 1}">
			<fmt:message key="PC_PREVIOUS_PAGE" bundle="${widgetText}" var="PC_PREVIOUS_PAGE"/>
			<fmt:message key="PC_NEXT_PAGE" bundle="${widgetText}" var="PC_NEXT_PAGE"/>
			<fmt:message key="PC_MOVE_TO_PAGE_{0}" bundle="${widgetText}" var="PC_MOVE_TO_PAGE"/>
			<fmt:message key="CLOSE" bundle="${widgetText}" var="CLOSE"/>
			
			<div id="contentRecommendationWidget${widgetSuffix}" class="contentRecommendationWidget carousel clip-true" data-dojo-type="wc/widget/Carousel" <c:if test="${!empty titleContentTypeMap}" >role="region" aria-labelledby="title${widgetSuffix}"</c:if>>
				<div class="header">
					<h2 id="title${widgetSuffix}"><%@include file="../Common/ESpot/ESpotTitle_UI.jspf"%></h2>
					<div class="controlBar">
						<a id="prevPageButton${widgetSuffix}" href="#" class="prevPageButton" data-dojo-attach-point="prevPageButton" role="button" aria-label="${PC_PREVIOUS_PAGE}"></a>
						<div class="pageControlWrapper">
							<a href="#" class="pageControlButton" data-dojo-attach-point="pageControlButton" data-toggle="pageControlMenu${widgetSuffix}" role="button">1</a>
							<div id="pageControlMenu${widgetSuffix}" class="pageControlMenu" data-dojo-attach-point="pageControlMenu" data-parent="header">
								<div class="pageControl number" data-dojo-attach-point="pageControl"><a href="#" role="button" aria-label="${PC_MOVE_TO_PAGE}">{0}</a></div>
								<a class="closeButton" href="#" alt="${CLOSE}" data-deactivate="pageControlMenu${widgetSuffix}" role="button"></a>
							</div>
						</div>
						<a id="nextPageButton${widgetSuffix}" href="#" class="nextPageButton" data-dojo-attach-point="nextPageButton" role="button" aria-label="${PC_NEXT_PAGE}"></a>
						<flow:ifEnabled feature="RemoteWidget">
							<c:if test="${param.showFeed}">
								<%out.flush();%>
								<c:import url="/Widgets/Common/ESpot/FeedAndRemoteWidgetDisplay.jsp">
									<c:param name="feedURL" value="${eMarketingFeedURL}"/>
									<c:param name="widgetPrefix" value="${widgetPrefix}"/>
								</c:import>
								<%out.flush();%>
							</c:if>
						</flow:ifEnabled>
					</div>
				</div>
				<div class="content" data-dojo-attach-point="content">
					<ul data-dojo-attach-point="ul">
						<c:forEach begin="0" end="${totalPages - 1}" varStatus="status"><li>
							<c:forEach items="${contentFormatMap}" begin="${pageSize * status.index}" end="${pageSize * (status.index + 1) - 1}" var="contentFormat">
								<c:set var="key" value="${contentFormat.key}"/>
								<%@include file="Content_UI.jspf"%>
							</c:forEach>
						</li></c:forEach>
					</ul>
				</div>
			</div>
		</c:when>
		
		<c:otherwise>
			<div id="contentRecommendationWidget${widgetSuffix}" class="contentRecommendationWidget" <c:if test="${!empty titleContentTypeMap}" >role="region" aria-labelledby="title${widgetSuffix}"</c:if>>
				<h3 id="title${widgetSuffix}"><%@include file="../Common/ESpot/ESpotTitle_UI.jspf"%></h3>
				<c:forEach var="contentFormat" items="${contentFormatMap}">
					<c:set var="key" value="${contentFormat.key}"/>
					<%@include file="Content_UI.jspf"%>
				</c:forEach>
				<flow:ifEnabled feature="RemoteWidget">
					<c:if test="${param.showFeed}">
						<c:import url="/Widgets/Common/ESpot/FeedAndRemoteWidgetDisplay.jsp">
							<c:param name="feedURL" value="${eMarketingFeedURL}"/>
							<c:param name="widgetPrefix" value="${widgetPrefix}"/>
						</c:import>
					</c:if>
				</flow:ifEnabled>
			</div>
		</c:otherwise>
	</c:choose>
</c:if>

<!-- END ContentRecommendation_Vertical_UI.jspf -->
