/*
 *-----------------------------------------------------------------
 * Licensed Materials - Property of IBM
 *
 * WebSphere Commerce
 *
 * (C) Copyright IBM Corp. 2013 All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with
 * IBM Corp.
 *-----------------------------------------------------------------
 */

/*
*-----------------------------------------------------------------
* New Classes added by Kyle
*-----------------------------------------------------------------
*/

.category-hero--full-width {
	position: relative;
	width: 100%;
	height: 200px;
}

.category-hero_background {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-image: url('hardware-bg.jpg');
	background-size: cover;
}

.category-hero_text {
	color: #fff;
	padding: 0;
	height: 100%;
	display: table;
}
.category-hero_text > h1 {
	color: #fff;
	font-size: 36px;
	font-weight: 200;
	padding: 0;
	display: table-cell;
	height: 100%;
	vertical-align: middle;
	padding-left: 315px;
	text-shadow: 0 1px 1px #444;
	line-height: normal;
}
@media(max-width: 480px) {
	.category-hero_text > h1 {
		padding-left: 10px;
	}
}















	#deptMainESpot {
		height: 286px;
		overflow:hidden;
		position: relative;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}

	#deptMainESpot-bkgrd-couple {
		display: none;
	}

	#deptMainESpot-bkgrd {
		width:100%;
		height:100%;
		/* webkit example */
        background-image: -webkit-gradient(
          linear, left bottom, left top, from(rgba(209, 199, 210, 1)),
          to(rgba(255, 255, 255, 0))
        );

        background: -moz-linear-gradient(white, #d1c7d2);

        background: linear-gradient(to bottom, rgba(255, 255, 255, 0),  rgba(209, 199, 210, 1));

        zoom: 1;

	    filter: progid:DXImageTransform.Microsoft.gradient(
	        gradientType=0, startColor=14085119, endColorStr=#d1c7d2ff
	    );
	    -ms-filter: progid:DXImageTransform.Microsoft.gradient(
	        gradientType=0, startColor=14085119, endColorStr=#d1c7d2ff
	    );
	}

	#deptMainESpot-girl2 {
		position: absolute;
		height: 349px;
		width: 282px;
		left: -232px;
		top: 0px;
		z-index: 0;
	}

	#deptMainESpot-girl2  > div{
		height: 100%;
		background-image: url("female.png");
		background-position: center;
		background-size: cover;
	}

	#deptMainESpot-girl2  > img{
		width:100%;
		height:100%;
	}

	#deptMainESpot-multiImgCont {
		position: absolute;
		right: -33%;
		top: 0;
		width: 62%;
		max-width: 240px;
	}

	#deptMainESpot-male {
		display: none;
		position: absolute;
		height: 292px;
		width: 415px;
		left: 9px;
		top: 10px;
	}

	#deptMainESpot-male  > div{
		height: 100%;
		background-image: url("male.png");
		background-position: center;
		background-size: cover;
	}

	#deptMainESpot-couple {
		position: absolute;
		height: 288px;
		width: 263px;
		left: 15px;
		top: 34px;
	}

	#deptMainESpot-couple  > div{
		height: 100%;
		background-image: url("couple.png");
		background-position: center;
		background-size: cover;
	}

	#deptMainESpot-couple  > img{
		width:100%;
		height:100%;
	}

	#deptMainESpot-container {
		width:50%;
		margin:0 auto;
		position:relative;
		min-width:320px;
		max-width: 363px;
	}

	#deptMainESpot-titleCont {
		position: relative;
		width: 262px;
		height: 200px;
		padding-top: 64px;
		margin: 0 auto;
		z-index: 1;
	}

	#deptMainESpot-titleCont .title {
		font-family: arial, Helvetica, sans-serif;
		font-size: 48px;
		line-height: 32px;
		color: #980173;
		text-align: center;
		padding-bottom:5px;
	}

	#deptMainESpot-titleCont .title2 {
		font-family: arial, Helvetica, sans-serif;
		font-size: 29px;
		line-height: 32px;
		color: #747474;
		font-weight: bold;
		text-align: center;
		letter-spacing: 3px;
		margin: 0 auto;
		width: auto;
		text-transform: uppercase;
		border-bottom: 1px solid #9c9b9b;
		padding-bottom: 4px;
	}

	#deptMainESpot-titleCont .title3 {
		font-family: arial, Helvetica, sans-serif;
		font-size: 13px;
		line-height: 24px;
		color: #3b3b3b;
		text-align: center;
		width: 109px;
		margin: 0 auto;
	}

		#deptMainESpot-titleCont .title3 .link {
			color: #0a4caf;
			font-weight: bold;
			font-size: 12px;
			line-height: 29px;
			text-transform: uppercase;
			text-align: left;
		}

			#deptMainESpot-titleCont .title3 .link .arrow {
				width:5px;
				height: 9px;
				float:right;
				overflow: hidden;
				margin-top: 10px;
			}

			#deptMainESpot-titleCont.title3 .link img {
				width:300px !important;
				margin-left: -200px;
				margin-top: -41px;
			}

	#deptMainESpot-titleCont .title4 {
		font-size: 16px;
		line-height: 18px;
		color: #626262;
		text-align: center;
		margin-top: 6px;
		margin-bottom: 18px;
	}

	.container.wide {
		height:330px !important;
		margin-left:10px;
	}

	#deptMainESpot.container.wide .espotCont {
		max-width: 420px;
	}

	#deptMainESpot-girl2 {
		display: block;
		position: absolute;
		height: 349px;
		left: -232px;
		top: 0px;
		z-index: 0;
	}

	#deptMainESpot-couple {
		display: block;
		position: absolute;
		height: 282px;
		left: 15px;
		top: 49px;
	}

	#deptMainESpot-titleCont{
		padding-top: 75px;
		width:244px;
		margin: 0 auto;
	}

	#deptMainESpot.title {
		font-size: 45px;
		line-height: 30px;
	}

	#deptMainESpot.title2 {
		font-size: 28px;
		line-height: 31px;
		letter-spacing: 2px;
		margin-bottom: 6px;
		padding-bottom: 3px;
	}

	#deptMainESpot.title4 {
		font-size: 16px;
		line-height: 18px;
		margin-bottom: 21px;
	}

	#deptMainESpot-multiImgCont {
		right: -39%;
	}

	#deptMainESpot-bag1 {
		position: absolute;
		height: 289px;
		left: 24px;
		top: 60px;
	}

	#deptMainESpot-heels {
		position: absolute;
		height: 194px;
		right: -29px;
		top: 148px;
	}

	.productContainer {
		width: 95%;
	}
	.widget_carousel_catalog .productContainer {
		width: 100%;
	}

@media screen and (min-width: 1660px) {
	.catPos_catalog {
		width: 16.6666% !important;
	}
	.widget_carousel_catalog .productContainer {
		width: 97%;
	}
}

@media screen and (max-width: 1280px) {
	.productContainer {
		width: 99%;
	}
	.widget_carousel_catalog .productContainer {
		width: 98%;
	}
	/*.category_recommendation > ul > li {
		width: 50%;
	}*/
}

@media screen and (min-width: 1281px) {

		#deptMainESpot.container.wide {
			height:422px !important;
			margin-left:20px;
		}

		#deptMainESpot {
			height: 422px;
		}

		#deptMainESpot-multiImgCont2{
			position: absolute;
			left: -7%;
			top: 0;
			width: 72%;
			max-width:264px;
		}

		#deptMainESpot #deptMainESpot-girl2 {
			height: 452px;
			left: auto;
			right: 84%;
			width:365px;
			top: 17px;
			z-index: 0;
		}

		#deptMainESpot-multiImgCont{
			position: absolute;
			left: 71%;
			top: 0;
			width: 100%;
			max-width: 386px;
		}

		#deptMainESpot-male {
			display: block;
			height: 494px;
			width:415px;
			left: 66%;
			top: 0;
			z-index: 3;
		}

		#deptMainESpot #bag2 {
			display: block;
			position: absolute;
			height: 222px;
			left: 122px;
			top: 191px;
			z-index: 0;
		}

		#deptMainESpot #belts {
			display: block;
			position: absolute;
			height: 117px;
			right: 171px;
			z-index: 2;
			top: 282px;
		}

		#deptMainESpot-couple{
			display: block;
			position: absolute;
			height: 358px;
			width: 327px;
			right: -25px;
			top: 67px;
			z-index: 3;
		}

		#deptMainESpot-container {
			width: 30%;
			margin-left: 22%;
			position: relative;
			min-width: 320px;
			max-width: 460px;
		}

		#deptMainESpot-titleCont{
			width: 305px;
			padding-top: 114px;
		}

		#deptMainESpot .title {
			font-size: 56px;
			line-height: 39px;
			padding-bottom: 7px;
		}

		#deptMainESpot .title2{
			font-weight: bold;
			font-size: 35px;
			line-height: 39px;
			color: #7a7a7a;
			margin-bottom: 0px;
			width: 100%;
			letter-spacing: 3px;
		}

		#deptMainESpot .title4{
			font-size: 19px;
			line-height: 21px;
			margin-top: 8px;
			margin-bottom: 27px;

		}
}

@media screen and (max-width: 952px) {
		#deptMainESpot {
		height: 286px;
		overflow:hidden;
		position: relative;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}

	#deptMainESpot-bkgrd {
		width:100%;
		height:100%;
		/* webkit example */
        background-image: -webkit-gradient(
          linear, left bottom, left top, from(rgba(209, 199, 210, 1)),
          to(rgba(209, 199, 210, 0))
        );

        background: -moz-linear-gradient(white, #d1c7d2);

        background: linear-gradient(to bottom, rgba(209, 199, 210, 0),  rgba(209, 199, 210, 1));

        zoom: 1;

	    filter: progid:DXImageTransform.Microsoft.gradient(
	        gradientType=0, startColor=14085119, endColorStr=#d1c7d2ff
	    );
	    -ms-filter: progid:DXImageTransform.Microsoft.gradient(
	        gradientType=0, startColor=14085119, endColorStr=#d1c7d2ff
	    );
	}

	#deptMainESpot-girl2 {
		display: none;
		position: absolute;
		height: 349px;
		left: -232px;
		top: 0px;
		z-index: 0;
	}

	#deptMainESpot-multiImgCont {
		right: -40%;
	}

	#deptMainESpot-male {
		display: none;
		position: absolute;
		height: 292px;
		left: 9px;
		top: 10px;
	}

	#deptMainESpot-couple {
		position: absolute;
		height: 288px;
		width: 263px;
		left: -81px;
		top: 0;
	}

	#deptMainESpot-container {
		width: 61%;
		margin: 0 auto;
		position: relative;
		min-width: 0;
		max-width: 271px;
	}

	#deptMainESpot-titleCont {
		width: 196px;
		margin-left: -63px;
	}

	#deptMainESpot .title {
		font-size: 37px;
		line-height: 25px;
	}

	#deptMainESpot .title2 {
		font-size: 22px;
		line-height: 25px;
		letter-spacing: 2px;
	}

	#deptMainESpot .title4 {
		font-size: 14px;
		line-height: 16px;
	}
	.productContainer {
		width: 98%;
	}
	.widget_carousel_catalog .productContainer {
		width: 97%;
	}
}

@media screen and (max-width: 600px) {
	#deptMainESpot {
		margin: 0 -10px;
		background-image: none;
		border-radius: 0px;
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;
	}

	#deptMainESpot-bkgrd {
		background-image: none;
	}

	#ApparelRow1_Content_{
		margin: 10px -5px;
	}

	#deptMainESpot {
		width:100%;
	}

	#deptMainESpot{
		height:190px !important;
		margin: 0;
	}

	#deptMainESpot-bkgrd-couple {
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
	}

	#deptMainESpot-bkgrd-couple > div {
		width: 100%;
		height: 100%;
		background-image: url("bkgrd-couple.jpg");
		background-position: center;
		background-size: cover;
	}

	#deptMainESpot-girl2{
		display:none;
	}

	#deptMainESpot-male{
		display:none;
	}

	#deptMainESpot-couple{
		display:none;
	}

	#deptMainESpot-container{
		width: 59%;
		margin: 0 auto;
		position: relative;
		min-width: 0px;
		max-width: 263px;
	}

	#deptMainESpot-titleCont {
		width:154px;
		padding-top:29px;
		margin-left: -53px;
	}

	#deptMainESpot .title {
		font-size: 28px;
		line-height: 21px;
		padding-bottom: 4px;
	}

	#deptMainESpot .title2 {
		font-size: 17px;
		line-height: 21px;
		letter-spacing: 2px;
		padding-bottom: 3px;
		color: #535353;
	}

	#deptMainESpot .title4 {
		font-size: 13px;
		line-height: 16px;
		color: #3e3e3e;
		margin-bottom: 8px;
		margin-top: 5px;
	}

	#deptMainESpot .title3 .link .arrow {
		width: 5px;
		height: 9px;
		margin-top: 8px;
	}
}

@media screen and (max-width: 340px) {
	#deptMainESpot-bkgrd-couple > div {
		background-position-x: -170px;
	}
}
