<%--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2011, 2013 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
--%>

<flow:ifEnabled feature="Analytics">
<c:if test="${fn:contains(catEntryDisplayUrl, '?')}">
   <c:set var="cmcrurl" value="${fn:replace(cmcrurl, '?', '&')}" />
</c:if>
</flow:ifEnabled>

<c:choose>
	<c:when test="${disableProductCompare == 'false'}">
		<c:set var="showCompareBox" value="true" />
	</c:when>
	<c:otherwise>
		<c:set var="showCompareBox" value="false" />
	</c:otherwise>
</c:choose>
<c:if test="${type eq 'package' || type eq 'bundle' || type eq 'dynamickit'}">
	<c:set var="showCompareBox" value="false" />
</c:if>

<div id="CatalogEntryProdImg_${catEntryIdentifier}" class="product_image">
	<div class="image">
		<a ${ShowProductInNewWindow} id="catalogEntry_img${catEntryIdentifier}"
				href="${fn:escapeXml(catEntryDisplayUrl)}${fn:escapeXml(cmcrurl)}"
				title="${altImgText}" >
			<img alt="${altImgText}" src="${imgSource}"/>
			<c:forEach var="adRibbon" items="${adRibbonMap}">
				<c:set var="adRibbonStyle" value="RibbonAdDefault ${fn:replace(adRibbon.key , '\"' , '_')}"/>
				<div class="${fn:escapeXml(adRibbonStyle)}">${adRibbon.value}</div>
			</c:forEach>
		</a>
	</div>
</div>
<div class="product_info">
	<div class="product_name">
		<c:if test="${not empty searchScore}">
			<div class="searchScore">[<fmt:message key='SEARCH_SCORE' bundle="${widgetText}"/> <c:out value="${searchScore}"/>]</div>
		</c:if>
		<a aria-hidden="true" tabindex="-1" id="WC_CatalogEntryDBThumbnailDisplayJSPF_${catEntryIdentifier}_link_9b" ${ShowProductInNewWindow} href="${fn:escapeXml(catEntryDisplayUrl)}${fn:escapeXml(cmcrurl)}">${highlightedName}</a>
	</div>
	<div class="product_price" id="product_price_${catEntryIdentifier}">
			<%@include file = "/Widgets/Common/PriceDisplay/PriceDisplay.jspf" %>
	</div>
</div>


<c:choose>
	<c:when test="${showCompareBox eq 'true'}">
		<div id="compare_${fn:escapeXml(catalogEntryID)}" class="compare_target">
			<input id="comparebox_${fn:escapeXml(catalogEntryID)}" type="checkbox" name="comparebox_${fn:escapeXml(catalogEntryID)}" value="${catalogEntryID}"
				onchange="javascript:shoppingActionsJS.addOrRemoveFromCompare('${fn:escapeXml(catalogEntryID)}',this.checked)"/>
			<label for="comparebox_${fn:escapeXml(catalogEntryID)}"><fmt:message key="COMPARE" bundle="${widgetText}"/></label>
			<a id="compareButton_${fn:escapeXml(catalogEntryID)}" href="javascript:shoppingActionsJS.compareProducts(${categoryIds});" role="button" aria-label="<fmt:message key="COMPARE" bundle="${widgetText}"/>"><fmt:message key="COMPARE" bundle="${widgetText}"/></a>
		</div>
	</c:when>
	<c:otherwise>
		<div id="compare_${fn:escapeXml(catalogEntryID)}" class="compare_target compare_target_hidden">
			<input id="comparebox_${fn:escapeXml(catalogEntryID)}" type="checkbox" name="comparebox_${fn:escapeXml(catalogEntryID)}" value="${catalogEntryID}"
				onchange="javascript:shoppingActionsJS.addOrRemoveFromCompare('${fn:escapeXml(catalogEntryID)}',this.checked)"/>
			<label for="comparebox_${fn:escapeXml(catalogEntryID)}"><fmt:message key="COMPARE" bundle="${widgetText}"/></label>
			<a id="compareButton_${fn:escapeXml(catalogEntryID)}" href="javascript:shoppingActionsJS.compareProducts(${categoryIds});" role="button" aria-label="<fmt:message key="COMPARE" bundle="${widgetText}"/>"><fmt:message key="COMPARE" bundle="${widgetText}"/></a>
		</div>
	</c:otherwise>
</c:choose>
<c:if test="${showCompareBox eq 'true' and param.fromPage ne 'compare'}">
	<script>
		if(dojo.byId("comparebox_${fn:escapeXml(catalogEntryID)}").checked){
			dojo.addOnLoad(function(){
				dojo.byId("comparebox_${fn:escapeXml(catalogEntryID)}").checked = '';
			});
		}
	</script>
</c:if>
