.soria .dojoxCalendarColumnView {
  cursor: default;
  -webkit-user-select: none;
}
.soria .dojoxCalendarColumnView .dojoxCalendarHeader {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 29px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.soria .dojoxCalendarColumnView .dojoxCalendarScrollContainer {
  left: 0;
  right: 0;
  bottom: 0;
  top: 72px;
  position: absolute;
  overflow-y: hidden;
  overflow-x: hidden;
  border-top: 1px solid #b1badf;
  border-bottom: 1px solid #b1badf;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.soria .dojoxCalendarColumnView .dojoxCalendarGrid {
  position: absolute;
  left: 70px;
  right: 0;
}
.soria .dojoxCalendarColumnView .dojoxCalendarGridTable {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}
.soria .dojoxCalendarColumnView .dojoxCalendarGridTable td {
  border-top: dotted 1px #B5BCC7;
  border-right: 1px solid #bfbfbf;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.soria .dojoxCalendarColumnView .dojoxCalendarGridTable .hour {
  border-top: 1px solid #cccccc;
}
.soria .dojoxCalendarColumnView .dojoxCalendarGridTable tr:first-child td {
  border-top: 1px solid transparent;
}
.soria .dojoxCalendarColumnView .dojoxCalendarGridTable .halfhour {
  border-top: dotted 1px #cccccc;
}
.soria .dojoxCalendarColumnView .dojoxCalendarGridTable .quarterhour {
  border-top: dotted 1px #cccccc;
}
/* 
 * The dojoxCalendarToday & dojoxCalendarWeekend classes is added by the 
 * ColumnView.styleGridColumn method that can be subclassed to add/remove css classes
 */
.soria .dojoxCalendarColumnView .dojoxCalendarGridTable .dojoxCalendarToday {
  background-color: #fff2d2;
}
.soria .dojoxCalendarColumnView .dojoxCalendarGridTable tr td.last-child {
  border-right: 1px solid #b1badf;
}
.soria .dojoxCalendarColumnView .dojoxCalendarGridTable tr:first-child td.dojoxCalendarToday {
  border-top: 1px solid #fff2d2;
}
.soria .dojoxCalendarColumnView .dojoxCalendarGridTable .dojoxCalendarWeekend {
  background-color: #fdfdfd;
}
.soria .dojoxCalendarColumnView .dojoxCalendarGridTable tr:first-child td.dojoxCalendarWeekend {
  border-top: 1px solid #fdfdfd;
}
.soria .dojoxCalendarColumnView .dojoxCalendarContainer {
  position: absolute;
  top: 0;
  left: 70px;
  right: 0;
  cursor: default;
}
.soria .dojoxCalendarColumnView .dojoxCalendarContainerTable {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}
.soria .dojoxCalendarColumnView .dojoxCalendarContainerTable td {
  height: 100%;
  padding: 0;
  vertical-align: top;
}
.soria .dojoxCalendarColumnView .dojoxCalendarContainerColumn {
  position: relative;
  margin-left: 2px;
  margin-right: 9px;
}
.soria .dojoxCalendarColumnView .dojoxCalendarEventContainer {
  position: absolute;
  overflow: hidden;
  -moz-user-select: none;
  -webkit-user-select: none;
  khtml-user-select: none;
  user-select: none;
}
.soria .dojoxCalendarColumnView .dojoxCalendarYearColumnHeader {
  position: absolute;
  height: 29px;
  left: 0;
  width: 68px;
  top: 0;
  border-left: 1px solid #b1badf;
  border-top: 1px solid #b1badf;
  border-right: 1px solid #b1badf;
}
.soria .dojoxCalendarColumnView .dojoxCalendarYearColumnHeader table {
  position: relative;
  width: 100%;
  height: 100%;
}
.soria .dojoxCalendarColumnView .dojoxCalendarYearColumnHeader table td {
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid #b1badf;
  color: #293a4b;
  background: #cccccc;
  background: #ffffff url("images/titleBar.png") repeat-x top left;
  padding: 3px 4px;
  font-size: 0.9em;
  font-weight: bold;
  color: #6d6d6d;
}
.soria .dojoxCalendarColumnView .dojoxCalendarColumnHeader {
  position: absolute;
  height: 30px;
  left: 70px;
  right: 0;
  top: 0;
  cursor: default;
}
.soria .dojoxCalendarColumnView .dojoxCalendarColumnHeaderTable {
  border-collapse: collapse;
  table-layout: fixed;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.soria .dojoxCalendarColumnView .dojoxCalendarColumnHeaderTable td {
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  background: #cccccc;
  background: #ffffff url("images/titleBar.png") repeat-x top left;
  padding: 3px 4px;
  font-size: 0.9em;
  font-weight: bold;
  color: #6d6d6d;
  border-right: 1px solid #bfbfbf;
  border-top: 1px solid #b1badf;
  border-bottom: 1px solid #b1badf;
  -moz-user-select: none;
  -webkit-user-select: none;
  khtml-user-select: none;
  user-select: none;
  color: #293a4b;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.soria .dojoxCalendarColumnView .dojoxCalendarColumnHeaderTable td.last-child {
  border-right: 1px solid #b1badf;
}
/* 
 * The dojoxCalendarToday & dojoxCalendarWeekend classes is added by the 
 * ColumnView.styleColumnHeaderCell method that can be subclassed to add/remove css classes
 */
.soria .dojoxCalendarColumnView .dojoxCalendarColumnHeaderTable .dojoxCalendarToday {
  font-weight: bold;
  color: #ff2200;
}
.soria .dojoxCalendarColumnView .dojoxCalendarColumnHeaderTable .dojoxCalendarWeekend {
  color: #999999;
}
.soria .dojoxCalendarColumnView .dojoxCalendarColumnHeaderTable td.Hover {
  cursor: pointer;
  background: #f9f9f9 url("images/accordionItemActive.png") top repeat-x;
}
.soria .dojoxCalendarColumnView .dojoxCalendarColumnHeaderTable td.Active {
  cursor: pointer;
}
.soria .dojoxCalendarColumnView .dojoxCalendarRowHeader {
  position: absolute;
  width: 68px;
  cursor: default;
  border-left: 1px solid #b1badf;
  border-right: 1px solid #b1badf;
  height: 100%;
  -moz-user-select: none;
  -webkit-user-select: none;
  khtml-user-select: none;
  user-select: none;
}
.soria .dojoxCalendarColumnView .dojoxCalendarRowHeaderTable {
  border-collapse: collapse;
  table-layout: fixed;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.soria .dojoxCalendarColumnView .dojoxCalendarRowHeaderTable td.dummy {
  border-top: 1px solid #fdfdfd;
}
/* 
 * The ColumnView.styleRowHeaderCell method that can be subclassed to add/remove css classes per hour.
 */
.soria .dojoxCalendarColumnView .dojoxCalendarRowHeaderTable td {
  vertical-align: top;
  text-align: right;
  border-top: 1px solid #b1badf;
  background-color: #fdfdfd;
  color: #293a4b;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.soria .dojoxCalendarColumnView .dojoxCalendarRowHeaderTable tr:first-child td {
  border-top: 1px solid #fdfdfd;
}
.soria .dojoxCalendarColumnView .dojoxCalendarRowHeaderTable td span {
  padding-right: 4px;
}
.soria .dojoxCalendarColumnView .dojoxCalendarEvent {
  position: absolute;
  text-align: left;
  color: #FFF;
  cursor: default;
}
.soria .dojoxCalendarColumnView .dojoxCalendarEvent .bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  border: 1px solid #260000;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background-color: #9F0000;
  filter: alpha(opacity=90);
  opacity: 0.9;
}
.soria .dojoxCalendarColumnView .dojoxCalendarEvent.Hovered .bg {
  background-color: #CC0000;
}
.soria .dojoxCalendarColumnView .dojoxCalendarEvent.Selected .bg {
  background-color: #660000;
}
.soria .dojoxCalendarColumnView .dojoxCalendarEvent.Edited .bg {
  border: dashed 1px #FFFFFF;
  filter: alpha(opacity=70);
  opacity: 0.7;
}
.soria .dojoxCalendarColumnView .dojoxCalendarEvent.Focused .bg {
  border: dashed 1px #FFFFFF;
}
.soria .dojoxCalendarColumnView .dojoxCalendarEvent .startTime {
  font-weight: bold;
}
.soria .dojoxCalendarColumnView .dojoxCalendarEvent .endTime {
  position: absolute;
  font-weight: bold;
  bottom: 3px;
  left: 6px;
}
.soria .dojoxCalendarColumnView .dojoxCalendarEvent .beforeIcon {
  text-align: center;
}
.soria .dojoxCalendarColumnView .dojoxCalendarEvent .afterIcon {
  position: absolute;
  bottom: 2px;
  width: 100%;
  text-align: center;
}
.soria .dojoxCalendarColumnView .dojoxCalendarEvent .handle {
  z-index: 2;
  background: #00FF00;
  filter: alpha(opacity=0);
  opacity: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  khtml-user-select: none;
  user-select: none;
}
.soria .dojoxCalendarColumnView .dojoxCalendarEvent .moveHandle {
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 0;
  cursor: move;
}
.soria .dojoxCalendarColumnView .dojoxCalendarEvent .resizeStartHandle {
  position: absolute;
  top: 0;
  width: 100%;
  height: 10px;
  cursor: n-resize;
}
.soria .dojoxCalendarColumnView .dojoxCalendarEvent .resizeEndHandle {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10px;
  cursor: n-resize;
}
.soria .dojoxCalendarColumnView .dojoxCalendarEvent dl {
  margin: 0;
}
.soria .dojoxCalendarColumnView .dojoxCalendarEvent dd {
  margin: 0;
  padding: 0 3px;
  text-align: left;
}
.soria .dojoxCalendarColumnView .dojoxCalendarVScrollBar {
  position: absolute;
  top: 72px;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}
.soria .dojoxCalendarColumnView .dojoxCalendarMatrixView {
  position: absolute;
  left: 0;
  right: 0;
  top: 30px;
  height: 39px;
}
.soria .dojoxCalendarColumnView .dojoxCalendarMatrixView .dojoxCalendarGrid {
  position: absolute;
  left: 70px;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.soria .dojoxCalendarColumnView .dojoxCalendarMatrixView .dojoxCalendarContainer {
  position: absolute;
  top: 0;
  left: 70px;
  right: 0;
  bottom: 0;
  cursor: default;
}
.soria .dojoxCalendarColumnView .dojoxCalendarMatrixView .dojoxCalendarRowHeader {
  position: absolute;
  left: 0;
  top: 0;
  width: 70px;
  bottom: 0;
  border-right: none;
  border-left: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.soria .dojoxCalendarColumnView .dojoxCalendarMatrixView .dojoxCalendarGridTable td {
  text-align: right;
  vertical-align: top;
  border-top: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
  border-right: 1px solid #bfbfbf;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.soria .dojoxCalendarColumnView .dojoxCalendarMatrixView .dojoxCalendarGridTable tr.last-child td {
  border-bottom: 1px solid #b1badf;
}
.soria .dojoxCalendarColumnView .dojoxCalendarMatrixView .dojoxCalendarGridTable td.last-child {
  border-right: 1px solid #b1badf;
}
.soria .dojoxCalendarColumnView .dojoxCalendarMatrixView .dojoxCalendarRowHeaderTable td {
  border-top: 1px solid #bfbfbf;
  border-left: 1px solid #b1badf;
  border-right: 1px solid #b1badf;
  border-bottom: 1px solid #b1badf;
  background-color: #fdfdfd;
}
.soria .dojoxCalendarColumnView .dojoxCalendarMatrixView .dojoxCalendarEvent .handle {
  z-index: 2;
  background: #00FF00;
  filter: alpha(opacity=0);
  opacity: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  khtml-user-select: none;
  user-select: none;
  position: absolute;
  width: 5px;
  height: 100%;
  cursor: e-resize;
}
.soria .dojoxCalendarColumnView .dojoxCalendarMatrixView .dojoxCalendarEvent .moveHandle {
  left: 0;
  top: 0;
  width: 100%;
  cursor: move;
}
.soria .dojoxCalendarColumnView .dojoxCalendarMatrixView .dojoxCalendarEvent.dojoxCalendarHorizontal .labels {
  position: absolute;
  left: 3px;
  right: 1px;
  bottom: 2px;
  overflow: hidden;
}
.soria .dojoxCalendarColumnView .dojoxCalendarMatrixView .dojoxCalendarEvent .resizeEndHandle {
  right: 0px;
}
.soria .dojoxCalendarColumnView .dojoxCalendarMatrixView .dojoxCalendarEvent .afterIcon {
  width: auto;
}
.soria .dojoxCalendarColumnView .dojoxCalendarMatrixView .dojoxCalendarEvent .endTime {
  position: relative;
  bottom: auto;
  left: auto;
}
.soria .dojoxCalendarColumnView .dojoxCalendarMatrixView .dojoxCalendarExpand {
  position: absolute;
  text-align: center;
}
.soria .dojoxCalendarColumnView .dojoxCalendarMatrixView .dojoxCalendarExpand .bg {
  position: relative;
  margin-right: 10%;
  margin-left: 10%;
  border-radius: 5px;
  height: 100%;
  -moz-user-select: none;
  -webkit-user-select: none;
  khtml-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  -moz-border-radius: 5px;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.soria .dojoxCalendarColumnView .dojoxCalendarMatrixView .dojoxCalendarExpand.Up .bg {
  background-color: #e5f2fe;
  border: 1px solid #909da9;
}
.soria .dojoxCalendarColumnView .dojoxCalendarMatrixView .dojoxCalendarExpand.Down .bg {
  background-color: #a5d1fb;
  border: 1px solid #507ca6;
}
.soria .dojoxCalendarColumnView .dojoxCalendarMatrixView .dojoxCalendarEvent div {
  white-space: nowrap;
}
