/*
 *-----------------------------------------------------------------
 * Licensed Materials - Property of IBM
 *
 * WebSphere Commerce
 *
 * (C) Copyright IBM Corp. 2013, 2014 All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with
 * IBM Corp.
 *-----------------------------------------------------------------
 */


.sub_categories .middle {
    background: #252E36;
}

div#widget_departments:hover > .drop_down .departments > .department > .sub_categories > .middle > .middle_tile > .sub_category > .name a, div#widget_departments:focus > .drop_down .departments > .department > .sub_categories > .middle > .middle_tile > .sub_category > .item.name a {
	color: #fff!important;
}

div#widget_departments .drop_down .item.name {
	color: #fff!important;
}

div#widget_departments:hover > .drop_down .departments > .department > .sub_categories > .middle > .middle_tile > .sub_category > .item a, div#widget_departments:focus > .drop_down .departments > .department > .sub_categories > .middle > .middle_tile > .sub_category > .item a {
	color: #fff!important;
}




.espot_text {
	padding-left: 5px;
}
#content p {
	padding-bottom: 1.5em;
}
.homepage-espot {
	padding: 30px 0;
}
	.homepage-espot h2 {
		font-size: 32px;
		font-weight: 200;
		margin-bottom: 15px;
	}
	.homepage-espot h3 {
		font-size: 24px;
		font-weight: 200;
		margin-bottom: 10px;
	}

.values {
	border-bottom: 1px dotted #eaeaea;
	padding: 30px 0!important;
}
 .values h2 {
	font-size: 22px;
	padding: 15px 0;
	font-weight: 200;
 }
 .values p {
 	text-align: center;
 	padding-bottom: 30px;
 }
 .centered { text-align: center; }
 #contentWrapper {
 	padding-bottom: 400px;
 }
#footerWrapper {
	position: relative;
}
.background-image {
	width: 100%;
	height: 1000px;
	position: absolute;
	bottom: 286px;
	background: url('../images/blackforrest.JPG') no-repeat center 500px;
	background-size: cover;
	z-index: -1;
	opacity: .4;
}

.responsive-img {
	width: 100%;
	height: auto;
}
.label {
	display: inline-block;
	padding: .3em 1em;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	color: #FFF;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
    transform: skew(-25deg);
    -webkit-transform: skew(-25deg);
    background-color: #EBBB27;
}
.label > span {
	display: inline-block;
	transform: skew(25deg);
    -webkit-transform: skew(25deg);
}
.label-default 			{ background-color: #777; 		}
.label-new 				{ background-color: #EBBB27; 	}
.label-promotional 		{ background-color: #A0C345; 	}
.label-deleted			{ background-color: #D9534F;	}
.label-discount			{ background-color: #7CB5ED;	}


#text_highlight { display: none; }

@font-face {
    font-family: 'lavanderia_sturdysturdy';
    src: url('fonts/lavanderia_sturdy-webfont.eot');
    src: url('fonts/lavanderia_sturdy-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lavanderia_sturdy-webfont.woff') format('woff'),
         url('fonts/lavanderia_sturdy-webfont.ttf') format('truetype'),
         url('fonts/lavanderia_sturdy-webfont.svg#lavanderia_sturdysturdy') format('svg');
    font-weight: normal;
    font-style: normal;
}

.lavanderia {
	font-family: "lavanderia_sturdysturdy",'Helvetica Neue', Arial, sans-serif;
}
.bliss-light { font-family:"Bliss Light", 'Gill Sans', Calibri, 'Helvetica Neue', Arial, sans-serif; font-size-adjust:0.47; font-weight:200; font-style:normal; }
.bliss-bold { font-family:"Bliss Bold", 'Gill Sans', Calibri, 'Helvetica Neue', Arial, sans-serif; font-size-adjust:0.47; font-weight:bold; font-style:normal; }
.bliss { font-family:"Bliss Regular", 'Gill Sans', Calibri, 'Helvetica Neue', Arial, sans-serif; font-size-adjust:0.47; font-weight:normal; font-style:normal; }

.heading--centered {
	text-align: center;
	position: relative;
	font-size: 36px;
}
.heading--centered span {
	display: inline-block;
	position: relative;
	width: 300px;
}
.heading--centered span:before,
 .heading--centered span:after {
	content: "";
	position: absolute;
	top: 12px;
	height: 10px;
	width: 1200px;
	background: #ccc;
}

.heading--centered span:before {
	right: 100%;
	margin-right: 25px;
}

.heading--centered span:after {
	left: 100%;
	margin-left: 25px;
}

.homeContentBlock {
	padding: 24px 0;
}

/*** Reset + basic styles ***/

body {
	margin: 0;
	padding: 0;
	color: #4d4d4d;
	font-family: "Helvetica", "Arial", sans-serif;
	line-height: 1.4;
	font-weight:normal;
	font-style:normal;
}
body.bliss {
	font-family:"Bliss Regular", 'Helvetica Neue', Arial, sans-serif;
	font-size-adjust:0.47;\
}
body.open-sans {
	font-family:"Open Sans", 'Helvetica Neue', Arial, sans-serif;
}
a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}
blockquote, h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
	font-size: inherit;
}
button, input, textarea, select {
	margin: 0;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}
fieldset, iframe, img {
	margin: 0;
	padding: 0;
	border: 0;
}
dl, ol, ul {
	margin: 0;
}
#content {
	overflow: hidden;
}

.compare_target {
	display: none!important;
}

/* Button */

.basicButton {
	display: inline-block;
	position: relative;
	background: #C00;
	border-spacing: 0;
	vertical-align: middle;
}
.basicButton:hover {
	background: #A52D2F;
}
.basicButton > span {
	display: table-cell;
	height: 30px;
	padding: 0 15px;
	line-height: normal;
	text-align: center;
	vertical-align: middle;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
}

/* Department button */

.departmentButton {
	display: inline-block;
	width: 240px;
	height: 42px;
	position: relative;
	margin: 2px;
	background: rgba(0,0,0, .25);
	background-image: none;
	border-spacing: 0;
	color: #FFF;
	text-transform: uppercase;
	vertical-align: middle;
}
.departmentButton:hover {

}
.departmentButton.selected {
	color: #FFF;

}
.departmentButton > span {
	display: table-cell;
	max-width: 240px;
	height: 42px;
	padding: 0 15px;
	border-radius: 3px;
	line-height: normal;
	text-align: center;
	vertical-align: middle;
}
.departmentButton.selected > span {
	border-color: #fdd466;
}

/* Menu */

.basicMenu {
	display: none;
}
.basicMenu.active {
	display: block;
	position: absolute;
	top: 100%;
	z-index: 20;
	background-color: #ffffff;
	border: 1px solid #c9cece;
	border-radius: 0 0 4px 4px;
}
.basicMenu > h3, .basicMenu > .closeButton {
	display: none;
}
.basicMenu > ul {
	margin: 0;
	padding: 0 16px 16px 16px;
	list-style: none;
}
.basicMenu > ul > li {
	padding: 8px 0;
	border-bottom: 1px solid #c9cece;
}
.basicMenu > ul > li > a {
	display: block;
	margin: 0 -8px;
	padding: 8px;
}
.basicMenu > ul > li > span {
	display: block;
	padding: 8px 0;
}

/* Underline decoration */

.basicMenu a, .departmentMenu a, #quickLinksBar > li > a, #searchFilterButton {
	text-decoration: none;
}
.basicMenu a:hover, .departmentMenu a:hover, #quickLinksBar > li > a:hover, #searchFilterButton:hover {
	text-decoration: underline;
}

/* Arrow decoration */

.departmentButton:after, #quickLinksButton:after, #widget_minishopcart:after, #departmentsButton:after, #searchButton:after, .pageControlButton:after {
/*	content: "";
	display: block;
	position: absolute;
	width: 7px;
	height: 7px;
	right: 3px;
	bottom: 3px;
	background-image: url("../images/responsive/rwdUI.png");
	background-position: -101px -1px;*/
}
.departmentButton.selected:after {
	content: " ";
	background-position: -21px -21px;
}
#quickLinksButton:after {
	bottom: 10px;
	background-position: -121px -1px;
}
#widget_minishopcart:after, #departmentsButton:after, #allDepartmentsButton:after, #searchButton:after {
	background-position: -121px -1px;
}
#quickLinksButton.selected:after, #widget_minishopcart.selected:after, #departmentsButton.selected:after, #allDepartmentsButton.selected:after, #searchButton.selected:after {
	content: " ";
	background-position: -241px -21px;
}
.pageControlButton:after {
	background-position: -141px -1px;
}

/* Marketing content */

.left_espot.centered {
	text-align: center;
}
.left_espot.centered > a,
.left_espot.centered > img {
	display: inline-block;
	max-width: 100%;
	vertical-align: top;
}
.left_espot.centered > a > img {
	display: block;
	max-width: 100%;
}

/* Subscribe button */

.subscribeButton {
	position: absolute;
	right: 5px;
	top: 5px;
	z-index: 1;
	line-height: 0;
}
.subscribeButton:before {
	content: url("../images/responsive/rss_feed.png");
}



/*** Grid system ***/

/* Row container */

.rowContainer > .row { padding: 5px 0; }
.rowContainer > .row.margin-true { padding: 0 5px; }
.row.margin-true > div > div { margin: 10px 5px; }
.row.margin-true > div > div:first-of-type { margin-top: 5px; }
.row.margin-true > div > div:last-of-type { margin-bottom: 5px; }
.row.margin-true > div > .row { margin: 0 !important; }

.rowContainer {
	max-width: 1200px;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	position: relative;
}

/* Row */

.row:after {
	content: "";
	display: block;
	clear: both;
}
.row > div { float: left; }
.row > .right { float: right; }

/* Columns */

.col1 { width: 8.333333%; }
.col2 { width: 16.666666%; }
.col3 { width: 25%; }
.col4 { width: 33.333333%; }
.col5 { width: 41.666666%; }
.col6 { width: 50%; }
.col7 { width: 58.333333%; }
.col8 { width: 66.666666%; }
.col9 { width: 75%; }
.col10 { width: 83.333333%; }
.col11 { width: 91.666666%; }
.col12 { width: 100%; }

/*
 * RWD-A - 0-600px
 * RWD-B - 601-1280px
 * RWD-C - 1281px+
 */

/* Grid system - RWD-A */

@media (max-width: 600px) {
	.acol1 { width: 8.333333%; }
	.acol2 { width: 16.666666%; }
	.acol3 { width: 25%; }
	.acol4 { width: 33.333333%; }
	.acol5 { width: 41.666666%; }
	.acol6 { width: 50%; }
	.acol7 { width: 58.333333%; }
	.acol8 { width: 66.666666%; }
	.acol9 { width: 75%; }
	.acol10 { width: 83.333333%; }
	.acol11 { width: 91.666666%; }
	.acol12 { width: 100%; }
	.rowContainer > .row.margin-true {
		padding-left: 0;
		padding-right: 0;
	}
	.row.margin-true > div > div {
		margin-left: 0;
		margin-right: 0;
	}
}

/* Grid system - RWD-C */

@media (min-width: 1281px) {
	.ccol1 { width: 8.333333%; }
	.ccol2 { width: 16.666666%; }
	.ccol3 { width: 25%; }
	.ccol4 { width: 33.333333%; }
	.ccol5 { width: 41.666666%; }
	.ccol6 { width: 50%; }
	.ccol7 { width: 58.333333%; }
	.ccol8 { width: 66.666666%; }
	.ccol9 { width: 75%; }
	.ccol10 { width: 83.333333%; }
	.ccol11 { width: 91.666666%; }
	.ccol12 { width: 100%; }
	.rowContainer > .row { padding: 10px 0; }
	.rowContainer > .row.margin-true { padding: 0 10px; }
	.row.margin-true > div > div { margin: 20px 20px 10px 0px; }
	.row.margin-true > div > div:first-of-type { margin-top: 10px; }
	.row.margin-true > div > div:last-of-type { margin-bottom: 10px; }
}

/* wc/widget/Grid - fluid grid responsive to container width */

.grid {
	margin: 0;
	padding: 0;
	list-style: none;
}
.grid > li {
	display: inline-block;
	vertical-align: top;
}

.grid_mode.grid {
	font-size: 0; /* Needed to fix white space issue with display: inline-block; --KSR */
}


/*** Header ***/

#header {
	position: relative;
	background-color: #323E48;
	font-size: 14px;
	line-height: normal; /* Needed because of bad CSS reset */
	z-index: 10;
	padding: 10px 0;
}
/*#header:before {
	content: "";
	display: block;
	height: 10px;
	background-image: url("../images/responsive/masthead_top_bg.png");
}*/
#headerRow1 {
	position: relative;
	height: 78px;
	padding: 10px 10px 0 10px;
}
#headerRow2 {
	position: relative;
	min-height: 44px;
	padding: 10px 10px 0 10px;
}
@media(max-width: 480px) {
	#headerRow2 {
		padding: 0 10px;
		margin-top: 5px;
		min-height: 38px;
	}
}
#headerRow1:after, #headerRow2:after {
	content: "";
	display: block;
	clear: both;
}

/* Logo */

#logo {
	position: absolute;
	z-index: 1;
	height: 100%;
	left: 10px;
}
#logo .contentRecommendationWidget,
#logo .contentRecommendationWidget > .left_espot,
#logo .contentRecommendationWidget > .left_espot > a,
#logo .contentRecommendationWidget > .left_espot > a > img,
#logo .genericESpot {
	height: auto;
	width: 115px;
}

/*** Quick links bar ***/

#quickLinksBar {
	margin: 0;
	padding: 0;
	color: #FFF;
	list-style: none;
	text-align: right;
}
@media (max-width: 480px) {
	#quickLinksBar {
		display: none;
	}
}
#quickLinksBar > li {
	display: inline-block;
	border-right: 1px solid #c9cece;
	text-align: left;
	vertical-align: middle;
}
#quickLinksBar > li.hidden {
	position: absolute;
	visibility: hidden;
}
#quickLinksBar > li.separator-false {
	border-right: 0 none;
}
#quickLinksBar > li > a {
	display: block;
	position: relative;
	max-width: 200px;
	margin: -10px 0;
	padding: 10px 15px;
}
#quickLinksBar > li > span {
	padding: 0 15px;
}
#quickLinksBar > li > a > span > br {
	display: none;
}
#quickLinksBar .spanacce {
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
}
#quickLinksMenu.active {
	right: 15px;
	width: 298px;
}

#quickLinksBar > li > #quickLinksButton {
	/* Hiding the Quick Links Button for now --KSR */
	display: none;
}

/* Facebook link */

#headerFBlogin {
	display: block;
	margin: 0 -8px;
	padding: 8px;
}
#headerFBlogin_alt {
	display: block;
	margin: -10px 0;
	padding: 10px 15px;
}
#headerFBlogin > img,
#headerFBlogin_alt > img {
	vertical-align: middle;
}

/* Mini cart button */

#widget_minishopcart {
	display: none;
	position: relative;
	width: 58px;
	height: 43px;
	margin: 16px 20px 16px 16px;
	padding: 0 !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f9f9), to(#e5e8e9));
	background-image: linear-gradient(#f7f9f9, #e5e8e9);
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorStr='#f7f9f9', endColorStr='#e5e8e9')";
	border: 1px solid #e1e1e1 !important;
	border-radius: 4px;
	overflow: hidden;
}
#widget_minishopcart:before {
	content: url("../images/responsive/rwdUI.png");
	display: block;
	position: absolute;
	left: 7px;
	top: -27px;
	width: 28px;
	height: 20px;
	clip: rect(41px, 29px, 61px, 1px);
}
#widget_minishopcart:hover {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f9f9), to(#ced2d3));
	background-image: linear-gradient(#f7f9f9, #ced2d3);
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorStr='#f7f9f9', endColorStr='#ced2d3')";
	text-decoration: none !important;
}
#minishopcart_total {
	display: block;
	position: absolute;
	right: 10px;
	top: 5px;
	padding: 0 5px;
	background-color: #ca4200;
	border-radius: 4px;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
}

/* Mini cart */

#cartDropdown {
	position: relative;
	width: 360px;
	background-color: #ffffff;
	border: 1px solid #c9cece;
	border-top: 3px solid #ffa200;
	border-radius: 0 0 4px 4px;
	font-size: 12px;
}
#cartDropdown > h3 {
	margin: 0;
	padding: 15px;
	background-color: #f5f6f7;
	border-bottom: 1px solid #edeff0;
	font-size: inherit;
	font-weight: inherit;
}
#cartDropdown > .closeButton {
	display: block;
	position: absolute;
	top: 15px;
	right: 15px;
}
#cartDropdown > .closeButton:after {
	content: "";
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-left: 5px;
	background-image: url("../images/responsive/rwdUI.png");
	background-position: -61px -1px;
	vertical-align: middle;
}
#cartDropdown > .closeButton:hover:after {
	background-position: -241px -1px;
}
#cartDropdown > .content {
	padding: 15px;
}
#cartDropdown > .footer {
	padding: 10px 15px;
	border-top: 1px solid #edeff0;
	text-align: right;
}

/*** Departments bar ***/

#departmentsButton {
	display: none;
}
#departmentsMenu {
	margin: 0 0 0 10px;
	padding: 0;
	list-style: none;
}
#departmentsMenu > li {
	display: inline-block;
	position: relative;
}
#departmentsMenu > li.hidden {
	position: absolute;
	visibility: hidden;
}
#departmentsMenu > li > .link,
#departmentsMenu > li > .toggle {
	display: none;
}

/* Department menu */

.departmentMenu {
	display: none;
	position: absolute;
	left: 2px;
	top: 96%;
	width: 360px;
	margin: 0;
	padding: 0;
	background-color: #252E36;
	font-size: 14px;
	color: #fff;
	list-style: none;
}
.departmentMenu.active {
	display: block;
}
.departmentMenu > .header {
	margin: 0;
	padding: 8px 0;
	border-bottom: 1px solid #ffa200;
	font-size: inherit;
}
.departmentMenu > .header > .link {
	display: block;
	margin: 0 -8px;
	padding: 8px;
	font-weight: bold;
}
.departmentMenu > .header > .toggle {
	display: none;
}
.departmentMenu > li {
	padding: 8px 0;
}
.departmentMenu > li > a {
	display: block;
	margin: 0;
	padding: 8px 16px;
	font-weight: bold;
}

.departmentMenu > li > a:hover {
	text-decoration: none;
	background-color: rgba(0,0,0,.25);
}
#allDepartmentsMenu {
	width: 240px;
}

/* Category list */

.categoryList {
	margin: 0;
	padding: 8px 0;
	list-style: none;
}
.departmentMenu.active > .categoryList {
	display: block;
}
.categoryList > li {
	display: inline-block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 50%;
	padding-right: 16px;
	vertical-align: top;
}
.categoryList > li.more {
	display: block;
}
.categoryList > li > a {
	display: block;
	margin: 0 -8px;
	padding: 8px;
	font-weight: bold;
	text-transform: uppercase;
}
.categoryList > li > a:last-child {
	font-weight: normal;
	text-transform: none;
}
.categoryList > li.more > a {
	font-weight: bold;
	text-transform: uppercase;
}

/* Subcategory list */

.subcategoryList {
	margin: 0 0 8px 0;
	padding: 0 0 8px 0;
	list-style: none;
}
.subcategoryList > li > a {
	display: block;
	margin: 0 -8px;
	padding: 8px;
}

/* Department menu (1025px+) */

@media (min-width: 1025px) {
	.departmentMenu {
		width: 540px;
	}
	.categoryList > li {
		width: 33.333333%;
	}
}



/*** Search bar ***/

#searchButton {
	display: none;
}
#searchBar {
	position: absolute;
	right: 0;
	top: 0;
	width: 42%;
	padding: 2px;
}
#searchBox {
	position: relative;
	height: 38px;
	background-color: #ffffff;
	text-align: right;
	vertical-align: middle;
}
#searchBox > * {
	text-align: left;
}
#searchTermWrapper {
	position: absolute;
	left: 0;
	right: 170px;
	height: 18px;
	padding: 6px 10px;
	margin: 4px 0;
}
#searchTermWrapper > .placeholder {
	position: absolute;
	color: #bfbfbf;
	cursor: text;
}
#searchTermWrapper > input {
	position: relative;
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-color: transparent;
	border: 0 none;
	font-size: inherit;
	line-height: 18px;
	outline: none;
	color: #888;
}
#searchFormLabel {
	display: none;
}
#searchFilterButton {
	display: inline-block;
	position: relative;
	width: 150px;
	padding: 5px 10px;
	border-left: 1px solid #bfbfbf;
	border-right: 1px solid #bfbfbf;
	vertical-align: middle;
}
#searchFilterButton:after {
	content: "";
	display: block;
	position: absolute;
	right: 5px;
	bottom: 5px;
	width: 4px;
	height: 4px;
	background-image: url("../images/responsive/rwdUI.png");
	background-position: -201px -1px;
}
#searchFilterButton.selected:after {
	content: " ";
	background-position: -221px -1px;
}
#searchFilterMenu.active {
	right: -1px;
	width: 210px;
}
@media (min-width: 601px) and (max-width: 900px) {
	#searchTermWrapper {
		right: 35px;
	}
	#searchFilterButton {
		display: none;
	}
	#searchFilterMenu.active {
		display: none;
	}
}
#searchBox > .submitButton {
	display: inline-block;
	position: relative;
	width: 14px;
	height: 14px;
	margin: 4px 4px 4px 0;
	border: 8px solid #ffffff;
	vertical-align: middle;
	overflow: hidden;
}
#searchBox > .submitButton:before {
	content: url("../images/responsive/rwdUI.png");
	display: block;
	position: absolute;
	left: -121px;
	top: -21px;
}
#searchBox > .submitButton:hover:before {
	left: -141px;
}

/* Autocomplete menu */

#searchDropdown {
	position: absolute;
	left: -1px;
	right: -1px;
	top: 38px;
}
#AutoSuggestDiv {
	background-color: #ffffff;
	border: 1px solid #c9cece;
}
#AutoSuggestDiv > ul {
	padding: 0;
}
#AutoSuggestDiv > ul > li {
	padding: 0;
	margin: 0;
	list-style: none;
}
#AutoSuggestDiv .list_section li {
	border-bottom: 1px solid #c9cece;
	list-style: none;
}
#AutoSuggestDiv .list_section li > a,
#AutoSuggestDiv #autoSuggestAdvancedSearch > a {
	padding: 15px;
	display: block;
	height: 100%;
}
#AutoSuggestDiv .heading {
	background-color: #f5f6f7;
	text-transform: uppercase;
	padding: 15px;
	border-bottom: 1px solid #c9cece;
	list-style: none;
}
#AutoSuggestDiv #autoSuggestAdvancedSearch {
	border-bottom: 0 none;
	background-color: #fff;
	color: #b54200;
	padding: 0;
}
#AutoSuggestDiv #autoSuggestAdvancedSearch:hover {
	background-color: #d9e9f7;
}
#AutoSuggestDiv #autoSuggestAdvancedSearch > a:hover {
	text-decoration: underline;
}
#autoSuggest_Result_div,
#autoSuggestCachedSuggestions_div {
	display: none;
}

/*** Footer ***/

#footer {
	padding: 10px;
	background: #273139;
	text-align: center;
}
#footerRow1 {
	display: inline-block;
	width: 100%;
	text-align: left;
}
@media (max-width: 480px) {
	#footerRow1 {
		width: 100%;
		text-align: center;
	}
}
@media (min-width: 961px) {
	#footerRow1 {
		width: 100%;
		text-align: center;
	}
}
#footerRow1 > .section {
	display: inline-block;
	width: 22%;
	padding: 10px;
	text-align: left;
	vertical-align: top;
}
@media (max-width: 480px) {
	#footerRow1 > .section {
		width: 100%;
	}
}

#footerRow1 > .section > .header {
	position: relative;
	padding: 5px 0px;
	border-bottom: 1px solid #bfbfbf;
	border-bottom: 1px solid rgba(185,185,185,0.45);
	color: #e9e9e9;
	font-size: 14px;
	font-weight: bold;
}
#footerRow1 > .section > .header:before {
/*	content: "";
	display: block;
	position: absolute;
	left: -30px;
	bottom: -1px;
	width: 30px;
	height: 3px;
	background-color: #bfbfbf;
	background-color: rgba(185,185,185,0.45);
	border-radius: 0 0 0 3px;*/
}
#footerRow1 > .section > .header > .toggle {
	display: none;
}
#footerRow1 > .section > ul {
	padding: 10px 0;
	color: #ffffff;
	font-size: 12px;
	list-style: none;
}
#footerRow1 > .section > ul > li > a {
	display: block;
	margin: 0 -10px;
	padding: 10px;
}

/*** wc/widget/Carousel - fluid, touch-enabled carousel responsive to container width ***/

.carousel {
	position: relative;
}
.carousel > h2 {
	position: relative;
	z-index: 1;
	margin: 0;
	padding: 0 50px 10px 10px;
	color: #010f1c;
	font-weight: inherit;
}
.carousel > .content {
	position: relative;
	z-index: 0;
}
.carousel > .content > ul {
	display: block;
	position: relative;
	left: 0%;
	margin: 0;
	padding: 0;
	list-style: none;
	white-space: nowrap;
}
.carousel > .content > ul > li {
	display: inline-block;
	vertical-align: top;
	white-space: normal;
}
.carousel > .content > ul > li.hidden {
	visibility: hidden;
}
.carousel .left_espot.centered {
	margin: 0 5px;
}

/* Prev/next page buttons */

.carousel > .prevPageButton,
.carousel > .nextPageButton {
	display: block;
	position: absolute;
	top: 50%;
	z-index: 1;
	width: 21px;
	height: 42px;
	margin-top: -21px;
	overflow: hidden;
}
.carousel > .prevPageButton {
	left: 10px;
}
.carousel > .nextPageButton {
	right: 10px;
}
.carousel > .prevPageButton.hidden,
.carousel > .nextPageButton.hidden {
	display: none;
}
.carousel > .prevPageButton:before,
.carousel > .nextPageButton:before {
	content: url("../images/responsive/rwdUI.png");
	display: block;
	position: absolute;
	top: -60px;
}
.carousel > .prevPageButton:before {
	left: -1px;
}
.carousel > .nextPageButton:before {
	left: -81px;
}
.carousel > .prevPageButton:hover:before,
.carousel > .prevPageButton:active:before {
	left: -41px;
}
.carousel > .nextPageButton:hover:before,
.carousel > .nextPageButton:active:before {
	left: -121px;
}

/* Page control */

.pageControl {
	position: absolute;
	z-index: 1;
	left: 10px;
	right: 10px;
	bottom: 10px;
}
.pageControl.hidden {
	display: none;
}
.pageControl > a {
	display: inline-block;
	vertical-align: top;
}
.pageControl > .hidden {
	display: none !important;
}

/* Page control - dot */

.pageControl.dot {
	text-align: center;
}
.pageControl.dot > a {
	width: 20px;
	height: 20px;
	margin: 0 10px;
	background-color: rgba(0,0,0,.5);
	border-radius: 10px;
	opacity: 0.4;
	border: 1px solid transparent;
}
.pageControl.dot > a:hover {
	opacity: 0.6;
}
.pageControl.dot > a.selected {
	opacity: 0.8;
}

/* Page control - number */

.pageControl.number {
	text-align: center;
}
.pageControl.number > a {
	width: 25px;
	margin: 0 10px;
	background-color: #22a3e7;
	border-radius: 2px;
	color: #ffffff;
	font-size: 14px;
	opacity: 0.4;
}
.pageControl.number > a:hover {
	opacity: 0.6;
}
.pageControl.number > a.selected {
	opacity: 0.8;
}
.pageControl.number > .ellipsis:after {
	content: "\2026";
	color: #4d4d4d;
}

/* Page control - thumbnail */

.pageControl.thumbnail {
	text-align: center;
}
.pageControl.thumbnail > a {
	display: inline-block !important;
	height: 30px;
	margin: 0 10px;
	background-color: #ffffff;
	border: 1px solid #a7daf5;
	border-radius: 2px;
}
.pageControl.thumbnail > a:hover {
	border: 1px solid #79c7f0;
}
.pageControl.thumbnail > a.selected {
	border: 1px solid #22a3e7;
}
.pageControl.thumbnail > a > img {
	height: 100%;
}

/* Options */

.carousel.clip-true > .content {
	overflow: hidden;
}

.carousel.padding-true {
	padding: 10px;
}
.carousel.padding-true > .content {
	margin: 0 30px;
}
.carousel.padding-true .pageControl {
	position: relative;
	left: auto;
	right: auto;
	bottom: auto;
	padding-top: 10px;
}
.carousel.padding-true .pageControl.hidden {
	display: block;
	visibility: hidden;
}

.carousel.background-true {
	background-image: url("../images/colors/color1/widget_carousel/widget_bg.png");
}
.carousel.border-true {
	border: 1px solid #e9e9e9;
	border-radius: 10px;
}



/*** wc/widget/Carousel - vertical orientation ***/

.carousel > .header {
	position: relative;
	padding: 10px;
	line-height: 40px;
}
.carousel > .header:after {
	content: "";
	display: block;
	clear: both;
}
.carousel > .header > h2 {
	display: inline-block;
	margin: 0;
	font-weight: inherit;
	line-height: normal;
	vertical-align: middle;
}
.carousel > .header > .controlBar {
	float: right;
}

/* Prev/next page buttons */

.controlBar > .prevPageButton,
.controlBar > .nextPageButton {
	display: inline-block;
	position: relative;
	width: 6px;
	height: 12px;
	border: 14px solid transparent;
	overflow: hidden;
	vertical-align: middle;
}
.controlBar > .prevPageButton.hidden,
.controlBar > .nextPageButton.hidden {
	display: none;
}
.controlBar > .prevPageButton:before,
.controlBar > .nextPageButton:before {
	content: url("../images/responsive/rwdUI.png");
	display: block;
	position: absolute;
	top: -1px;
}
.controlBar > .prevPageButton:before,
.controlBar > .prevPageButton:hover:before,
.controlBar > .prevPageButton:active:before {
	left: -21px;
}
.controlBar > .nextPageButton:before,
.controlBar > .nextPageButton:hover:before,
.controlBar > .nextPageButton:active:before {
	left: -41px;
}

/* Page control */

.controlBar .pageControl {
	display: inline-block;
	position: static;
	left: auto;
	right: auto;
	bottom: auto;
	line-height: 41px;
	vertical-align: middle;
	font-size: 0; /*To correct the whitespace issue with inline-block*/
}
.controlBar .pageControl.hidden {
	display: none;
}

/* Page control - number */

.controlBar > .pageControlWrapper {
	display: inline-block;
	vertical-align: middle;
}
.pageControlButton,
.pageControlMenu > .closeButton {
	display: none;
}
.controlBar .pageControl.number > a {
	width: 28px;
	margin: 0;
	background-color: #eaeaea;
	border: none;
	border-radius: 0px;
	color: #4d4d4d;
	font-size: 16px;
	text-align: center;
	opacity: 1;
}
.controlBar .pageControl.number > a:hover,
.controlBar .pageControl.number > a.selected {
	background-color: #ccc;
	border-color: #767676;
	color: #4d4d4d;
	opacity: 1;
}

/* Control bar - subscribe button */

.controlBar > .subscribeButton {
	display: inline-block;
	position: static;
	right: auto;
	top: auto;
	margin: 0 2px;
	vertical-align: middle;
}



/*** Widgets ***/

.catalogEntryRecommendationWidget > .header,
.categoryRecommendationWidget > .header {
	border-bottom: 1px solid #e9e9e9;
}

.contentRecommendationWidget {
	position: relative;
}

.contentCarouselWidget > .content {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
.contentCarouselWidget .left_espot,
.contentCarouselWidget .left_espot.centered {
	width: 100%;
	margin: 0 auto;
}
.contentCarouselWidget.clip-true > .content {
	width: auto;
	margin: 0;
}
.contentCarouselWidget.clip-true .left_espot,
.contentCarouselWidget.clip-true .left_espot.centered {
	width: auto;
	margin: 0;
}

.contentCarouselWidget > .prevPageButton,
.contentCarouselWidget > .nextPageButton {
	width: 40px;
	height: 72px;
	margin-top: -36px;
}
.contentCarouselWidget > .prevPageButton {
	left: 0;
}
.contentCarouselWidget > .nextPageButton {
	right: 0;
}
.contentCarouselWidget > .prevPageButton:before,
.contentCarouselWidget > .nextPageButton:before {
	content: url("../images/responsive/DirectionalControls_MasterSprite.png");
}
.contentCarouselWidget > .prevPageButton:before {
	left: 0;
	top: 0;
}
.contentCarouselWidget > .prevPageButton:hover:before {
	left: 0;
	top: -72px;
}
.contentCarouselWidget > .prevPageButton:active:before {
	left: 0;
	top: -144px;
}
.contentCarouselWidget > .nextPageButton:before {
	left: -40px;
	top: 0;
}
.contentCarouselWidget > .nextPageButton:hover:before {
	left: -40px;
	top: -72px;
}
.contentCarouselWidget > .nextPageButton:active:before {
	left: -40px;
	top: -144px;
}



/*** 0 - 1133px ***/

@media (max-width: 1133px) {

	/* Page control - number */

	.pageControlButton {
		display: inline-block;
		position: relative;
		width: 38px;
		margin: 0 5px;
		background-color: #767676;
		border: 1px solid #767676;
		border-radius: 5px;
		color: #ffffff;
		font-size: 16px;
		line-height: 38px;
		text-align: center;
	}
	.pageControlButton.hidden {
		display: none;
	}
	.pageControlMenu {
		display: none;
	}
	.pageControlMenu.active {
		display: block;
		position: absolute;
		z-index: 20;
		background-color: #ffffff;
		border: 1px solid #a0a0a0;
	}
	.pageControlMenu > .pageControl.number > a {
		display: block;
		margin: 4px;
	}
	.pageControlMenu > .pageControl.number > .ellipsis {
		display: block;
		line-height: normal;
		text-align: center;
	}
	.pageControlMenu > .pageControl.number > .ellipsis:after {
		content: "\22ee";
	}
	.pageControlMenu > .closeButton {
		display: block;
		position: relative;
		width: 14px;
		height: 14px;
		margin: 0 4px 4px 4px;
		border: 13px solid #ffffff;
		overflow: hidden;
	}
	.pageControlMenu > .closeButton:before {
		content: url("../images/responsive/rwdUI.png");
		display: block;
		position: absolute;
		left: -61px;
		top: -1px;
	}
	.pageControlMenu > .closeButton:hover:before {
		left: -241px;
	}

}



/*** RWD-A ***/

@media (max-width: 600px) {

	/* Menu */

	#logo .contentRecommendationWidget > .left_espot > a > img {
		width: 90px;
		height: auto;
	}

	.basicMenu > h3 {
		display: block;
		margin: 0;
		padding: 15px;
		background-color: #687979;
		color: #ffffff;
		font-size: inherit;
	}
	.basicMenu > .closeButton {
		display: block;
		position: absolute;
		top: 5px;
		right: 5px;
		padding: 10px;
		color: #ffffff;
		font-family: monospace;
	}
	.basicMenu > .closeButton > span:before {
		content: "[x]";
	}

	/* Header */

	#header:before {
		height: 5px;
	}
	#headerRow1 {
		height: 53px;
	}

	/* Quick links bar */

	#quickLinksBar > li > a {
		font-size: 12px;
	}
	#quickLinksBar > li > a > span > br {
		display: inline;
	}
	#quickLinksMenu.active {
		left: 0;
		right: 0;
		width: auto;
	}

	/* Mini cart button */

	#widget_minishopcart {
		margin: 3px 15px;
	}

	/* Mini cart */

	#cartDropdown {
		width: auto;
	}

	/* Departments menu */

	#departmentsButton {
		display: block;
		max-width: 300px;
		margin: 0px 90px 0px 0px;
		background-image: none;
		border: none;
		border-radius: 0;
		background: rgba(0,0,0,.25);
		color: #FFF;

	}
	#departmentsButton > span {
		display: block;
		height: 38px;
		line-height: 38px;
		padding: 0 10px;
		text-align: left;
		border-radius: 0;
		border: none;
	}
	#departmentsMenu {
		display: block;
	}
	#departmentsMenu.active {
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		top: 96%;
		margin: 0;
		padding: 0;
		background-color: #252E36;
		color: #404040;
		font-size: 12px;
		list-style: none;
	}
	#departmentsMenu > li {
		display: block;
	}
	#departmentsMenu > li.hidden {
		position: static;
		visibility: visible;
	}
	.departmentButton {
		display: none;
	}

	/* Department menu */

	.departmentMenu {
		display: block;
		position: relative;
		top: auto;
		width: auto;
		margin: 0;
		padding: 0;
		border: 0 none;
	}
	.departmentMenu > .header > .toggle {
		display: block;
		position: absolute;
		right: -8px;
		top: 0;
		margin: 8px 0;
		padding: 8px;
		font-family: monospace;
	}
	.departmentMenu > .header > .toggle > span:before {
		content: "[+]";
	}
	.departmentMenu > .header > .toggle.selected > span:before {
		content: "[-]";
	}

	/* Category list */

	.categoryList {
		display: none;
		border-bottom: 1px solid #ffa200;
	}
	.departmentMenu.active .categoryList {
		display: block;
	}

	/* Subcategory list */

	.subcategoryList {
		border-bottom: 1px solid #e0dee5;
	}
	.subcategoryList > li {
		display: inline-block;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		width: 50%;
		padding-right: 16px;
		vertical-align: top;
	}

	/* "All departments" menu */

	#allDepartmentsButton {
		display: none;
	}

	#allDepartmentsMenu {
		display: none;
	}

	#departmentsMenu.active li #allDepartmentsMenu {
		display: block;
		width: 100%;
	}

	/* Search bar */

	#searchButton {
		display:block;
		position: absolute;
		right: 0;
		top: 0;
		width: 58px;
		height: 38px;
		margin: 0px;
		background-color: #ffffff;
		vertical-align: middle;
		overflow: hidden;
	}
	#searchButton:before {
		content: url("../images/responsive/rwdUI.png");
		position: absolute;
		left: -99px;
		top: -9px;
		clip: rect(21px, 135px, 35px, 121px);
	}
	#searchButton:hover:before {
		left: -119px;
		clip: rect(21px, 155px, 35px, 141px);
	}
	#searchBar {
		display: none;
	}
	#searchBar.active {
		display: block;
		position: static;
		right: auto;
		width: auto;
		padding: 2px 15px;
		border-top: 1px solid #c9cece;
	}
	#searchBox > .submitButton {
		width: 10px;
		height: 18px;
		border-width: 6px 10px;
	}
	#searchBox > .submitButton:before {
		left: -181px;
	}
	#searchBox > .submitButton:hover:before {
		left: -201px;
	}

	/* Autocomplete menu */

	#searchDropdown {
		left: -16px;
		right: -16px;
		top: 41px;
	}

	/* Footer */

	#footerRow1 > .section > .header:before {
		height: 30px;
		border-radius: 3px 3px 0 3px;
	}
	#footerRow1 > .section > .header > .toggle {
		display: block;
		position: absolute;
		left: -30px;
		bottom: -1px;
		width: 6px;
		height: 12px;
		border-width: 9px 12px;
		border-style: solid;
		border-color: transparent;
		overflow: hidden;
	}
	#footerRow1 > .section > .header > .toggle:before {
		content: url("../images/responsive/rwdUI.png");
		display: block;
		position: absolute;
		left: -161px;
		top: -1px;
	}
	#footerRow1 > .section.active > .header > .toggle {
		width: 12px;
		height: 6px;
		border-width: 12px 9px;
	}
	#footerRow1 > .section.active > .header > .toggle:before {
		left: -181px;
		top: -1px;
	}
	#footerRow1 > .section > ul {
		display: none;
	}
	#footerRow1 > .section.active > ul {
		display: block;
	}

	/* Carousel */

	.contentCarouselWidget {
		overflow: hidden;
	}

}



/*** Mobile (portrait) - 0-400px ***/

@media (max-width: 400px) {

	/* Category list */

	.categoryList > li {
		width: 100%;
		padding-right: 0;
	}

	/* Search bar */

	#searchTermWrapper {
		right: 58px;
		border-right: 1px solid #bfbfbf;
	}
	#searchFilterButton {
		display: none;
	}
	#searchFilterMenu.active {
		display: none;
	}
	#searchBox > .submitButton {
		border-width: 6px 20px;
	}

}



/*** High-resolution displays ***/

@media (-webkit-device-pixel-ratio: 2) {
	.departmentButton:after, #quickLinksButton:after, #widget_minishopcart:after, #departmentsButton:after, #searchButton:after, .pageControlButton:after,
	#cartDropdown > .closeButton:after,
	#searchFilterButton:after {
		background-image: url("../images/responsive/rwdUI@2x.png");
		background-size: 300px 400px;
	}
	#widget_minishopcart:before,
	#searchBox > .submitButton:before,
	.carousel > .prevPageButton:before,
	.carousel > .nextPageButton:before,
	.controlBar > .prevPageButton:before,
	.controlBar > .nextPageButton:before {
		content: url("../images/responsive/rwdUI@2x.png");
		-webkit-transform: scale(0.5);
		-webkit-transform-origin: 0 0 0;
	}
	.contentCarouselWidget > .prevPageButton:before,
	.contentCarouselWidget > .nextPageButton:before {
		content: url("../images/responsive/DirectionalControls_MasterSprite.png");
		-webkit-transform: scale(1);
	}
	#widget_minishopcart:before {
		clip: rect(82px, 58px, 122px, 2px);
	}
}

@media (-webkit-device-pixel-ratio: 2) and (max-width: 1133px) {
	.pageControlMenu > .closeButton:before {
		content: url("../images/responsive/rwdUI@2x.png");
		-webkit-transform: scale(0.5);
		-webkit-transform-origin: 0 0 0;
	}
}

@media (-webkit-device-pixel-ratio: 2) and (max-width: 600px) {
	#searchButton:before,
	#footerRow1 > .section > .header > .toggle:before {
		content: url("../images/responsive/rwdUI@2x.png");
		-webkit-transform: scale(0.5);
		-webkit-transform-origin: 0 0 0;
	}
	#searchButton:before {
		clip: rect(42px, 270px, 70px, 242px);
	}
	#searchButton:hover:before {
		clip: rect(42px, 310px, 70px, 282px);
	}
}

#guidelines > div {
	position: fixed;
	z-index: 1000;
	width: 1px;
	height: 100%;
	background-color: rgba(0,0,0,.2);
}
#guidelines > div:nth-child(1) { left: 8.333333%; }
#guidelines > div:nth-child(2) { left: 16.666666%; }
#guidelines > div:nth-child(3) { left: 25%; }
#guidelines > div:nth-child(4) { left: 33.333333%; }
#guidelines > div:nth-child(5) { left: 41.666666%; }
#guidelines > div:nth-child(6) { left: 50%; }
#guidelines > div:nth-child(7) { left: 58.333333%; }
#guidelines > div:nth-child(8) { left: 66.666666%; }
#guidelines > div:nth-child(9) { left: 75%; }
#guidelines > div:nth-child(10) { left: 83.333333%; }
#guidelines > div:nth-child(11) { left: 91.666666%; }


