<!-- BEGIN CatalogEntryListAjax.jsp --><!--

 -->
<!-- BEGIN CategoryNavigationSetup.jspf--><!-- END CategoryNavigationSetup.jspf-->

	<script>
		dojo.addOnLoad(function(){
			if(window.initialMinPrice == null && window.initialMaxPrice == null)
			{
				window.initialMinPrice = '';
				window.initialMaxPrice = '';
			}
			SearchBasedNavigationDisplayJS.init('ProductListingWidget.html');
			SearchBasedNavigationDisplayJS.updateContextProperties("searchBasedNavigation_context",{"pageView": 'grid', "minPrice": '', "maxPrice": ''});
			if(!!''){
				shoppingActionsJS.setSearchTerm('');
			}	
			
				shoppingActionsJS.setCompareReturnName('Dresses');
			
		});
	</script>

		<div class="productListingWidget">
		
							<script>
								dojo.addOnLoad(function(){
									dojo.topic.subscribe("Facet_Add", function(){
										if (arguments.length > 0) {
											SearchBasedNavigationDisplayJS.appendFilterFacet(arguments[0]);
										} else {
											SearchBasedNavigationDisplayJS.appendFilterPriceRange();
										}
										SearchBasedNavigationDisplayJS.doSearchFilter();
									});
									dojo.topic.subscribe("Facet_Remove", function(){
									if (arguments.length > 0) {
											SearchBasedNavigationDisplayJS.removeFilterFacet(arguments[0]);
											SearchBasedNavigationDisplayJS.doSearchFilter();											
										} else {
											SearchBasedNavigationDisplayJS.removeFilterPriceRange();
										}
									});
									dojo.topic.subscribe("Facet_RemoveAll", function(){
										SearchBasedNavigationDisplayJS.clearAllFacets(true);
									});
								});
							</script>
							
							<div class="header_bar">
								<div class="title">Products: 
									<span class="num_products">&#40;&nbsp;
										1 - 12 of 39
										&nbsp;&#41;
									</span>
								</div>
	
								
								<script>
									dojo.addOnLoad(function(){
										dojo.subscribe("toggleViewEvent",SearchBasedNavigationDisplayJS,"toggleView");
										dojo.subscribe("showResultsForPageNumber",SearchBasedNavigationDisplayJS,"showResultsPage");
										
									});
								</script>

								<div class="controls">
									<div class="sorting_controls">
										<span class="order_by_label"><label for="orderBy">Sort By</label>:</span>
										<div id="orderByDropdown" class="selectWrapper">
											<select data-dojo-type="dijit/form/Select" title="To change sorting options, press the up or down arrows on your keyboard." id="orderBy" name="orderBy" onChange="javaScript:setCurrentId('orderBy');SearchBasedNavigationDisplayJS.sortResults(this.value)">
												<option selected="selected" value = "0">Relevance</option>
												<option  value = "1">Brands</option>
												<option  value = "2">Name</option>
												
													<option  value = "3">Low to High</option>
													<option  value = "4">High to Low</option>
												
											</select>
										</div>
										
										<span class="page_size_label"><label for="pageSizeDropdown">Items Per Page</label>:</span>
										<div id="pageSizeDropdown" class="selectWrapper selectWrapperPageSize">
											<select data-dojo-type="dijit/form/Select" title="To change the number of items per page, press the up or down arrows on your keyboard." 	
												id="pageSize" class="pageSize" name="pageSize" 
												onChange="javaScript:setCurrentId('pageSize');SearchBasedNavigationDisplayJS.setPageSize(this.value)">
												<option  value = "6">6</option>
												<option selected="selected" value = "12">12</option>
												<option  value = "18">18</option>
											</select>
										</div>
									</div>
								
	<div class="view_controls">
	
	
			<div class="grid_icon" role="button" aria-disabled="true" aria-label="Switch to grid view" ></div>
			
			<a alt="Switch to list view" role="button" class="list_icon" id="WC_SearchBasedNavigationResults_pagination_link_list_categoryResults" href='javascript:dojo.publish("toggleViewEvent",[{pageView:"list",linkId:"WC_SearchBasedNavigationResults_pagination_link_list_categoryResults"}])' title="Switch to list view"></a>
		
	</div>

	<div class="paging_controls">
	
			<a role="button" class="left_arrow invisible" id = "WC_SearchBasedNavigationResults_pagination_link_left_categoryResults" href='javascript:dojo.publish("showResultsForPageNumber",[{pageNumber:"0",pageSize:"12", linkId:"WC_SearchBasedNavigationResults_pagination_link_left_categoryResults"}])' title="Show previous page"
				onmouseover="dojo.byId('WC_SearchBasedNavigationResults_pagination_link_left_categoryResults_img').src = '/wcsstore/Widgets/images/colors/color1/pagination/left_arrow_hover.png'"
				onmouseout="dojo.byId('WC_SearchBasedNavigationResults_pagination_link_left_categoryResults_img').src = '/wcsstore/Widgets/images/colors/color1/pagination/left_arrow.png'">
				<img alt="Show previous page" src="/wcsstore/Widgets/images/colors/color1/pagination/left_arrow.png" id = "WC_SearchBasedNavigationResults_pagination_link_left_categoryResults_img">
			</a>
		
		
	<div class="pages pageControlMenu" role="combobox">
		<div class="header">			
			<div class="controlBar">
				<div class="pageControlWrapper">
					
					<a href="#" class="pageControlButton" data-dojo-attach-point="pageControlButton" data-toggle="pageControlMenu" role="button"aria-label="Pagination Dropdown Current page 1">1</a>
					<div id="pageControlMenu" class="pageControlMenu" data-dojo-attach-point="pageControlMenu" data-parent="header">
						<div class="pageControl number">
							
										<a class="active selected" href="#" role="button"  aria-disabled="true" aria-label="Move to page 1" tabindex="0">1</a>
									
										<a class="hoverover" role="button" href = 'javascript:dojo.publish("showResultsForPageNumber",[{pageNumber:"2",pageSize:"12", linkId:"WC_SearchBasedNavigationResults_pagination_link_2_categoryResults"}])' id="WC_SearchBasedNavigationResults_pagination_link_2_categoryResults" aria-label="Move to page 2" title="Move to page 2">2</a>
									
										<a class="hoverover" role="button" href = 'javascript:dojo.publish("showResultsForPageNumber",[{pageNumber:"3",pageSize:"12", linkId:"WC_SearchBasedNavigationResults_pagination_link_3_categoryResults"}])' id="WC_SearchBasedNavigationResults_pagination_link_3_categoryResults" aria-label="Move to page 3" title="Move to page 3">3</a>
									
										<a class="hoverover" role="button" href = 'javascript:dojo.publish("showResultsForPageNumber",[{pageNumber:"4",pageSize:"12", linkId:"WC_SearchBasedNavigationResults_pagination_link_4_categoryResults"}])' id="WC_SearchBasedNavigationResults_pagination_link_4_categoryResults" aria-label="Move to page 4" title="Move to page 4">4</a>
									
						</div>			
	        			<a class="closeButton" alt="" role="button" href="#" aria-label="Close" data-deactivate="pageControlMenu"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
			<a role="button" class="right_arrow " id = "WC_SearchBasedNavigationResults_pagination_link_right_categoryResults" href = 'javascript:dojo.publish("showResultsForPageNumber",[{pageNumber:"2",pageSize:"12", linkId:"WC_SearchBasedNavigationResults_pagination_link_right_categoryResults"}])' title="Show next page"
				onmouseover="dojo.byId('WC_SearchBasedNavigationResults_pagination_link_right_categoryResults_img').src = '/wcsstore/Widgets/images/colors/color1/pagination/right_arrow_hover.png'"
				onmouseout="dojo.byId('WC_SearchBasedNavigationResults_pagination_link_right_categoryResults_img').src = '/wcsstore/Widgets/images/colors/color1/pagination/right_arrow.png'">
				<img alt="Show next page" src="/wcsstore/Widgets/images/colors/color1/pagination/right_arrow.png" id = "WC_SearchBasedNavigationResults_pagination_link_right_categoryResults_img">
			</a>	
		
	</div>

								</div>
	
							</div>
	
							<div class="product_listing_container">
								
											<ul class="grid_mode grid" data-dojo-type="wc/widget/Grid" data-dojo-props="columnCountByWidth:{0:1,201:2,488:3,730:4,923:5,1207:6}">
												<li>
														

<!-- BEGIN CatalogEntryDisplay.jsp -->













































	









	













	
	
	
	



 

































	




	
	










	




	











	
		
		
			


























	

	

	

	

	

	



 

	
	
		
	


	
	
		
	



	
		
	
	






	




	








	
	
	
	
		
		
	
	



	
			
			 
				
					
				
				
			
			
	
			
			 
				
				
					
				
			
			
	
			
			 
				
				
			
			
	




	
	
	
	
		
		
		
		
		
		
	
	
	
	
	






	
	
	
	
	
	
	
	
	



	
	


		
	

<div class="product">





	
		
		
		
			




	
		
	
	



<div id="CatalogEntryProdImg_3074457345616676668" class="product_image">
	<div class="image">
		<a  id="catalogEntry_img3074457345616676668"
				href="HermitageFitAndFlareDressAuroraESite.html"
				title="Hermitage Fit and Flare Dress" >
			<img alt="Hermitage Fit and Flare Dress" src="../../StoreAssets/images/catalog/apparel/women/wcl000_dresses/200x310/wcl000_0028_a_red.jpg"/>
			
		</a>
	</div>
</div>
<div class="product_info">
	<div class="product_name">
		
		<a aria-hidden="true" tabindex="-1" id="WC_CatalogEntryDBThumbnailDisplayJSPF_3074457345616676668_link_9b"  href="HermitageFitAndFlareDressAuroraESite.html">Hermitage Fit and Flare Dress</a>
	</div>
	<div class="product_price" id="product_price_3074457345616676668">
			



<!-- BEGIN PriceDisplay.jspf -->



	




















	
		
			
			
		
		
	

	
		
		
			
		
	



<!--  If leverage price rule to get the price, get the contract unit price. -->

 
 
 	
	
	
	
	
	
	
	
		
	
		
			
		
	





	
	
	
	
	

	

	
	
	
	
	
	
 





	
	


	
	
	
	
		
			
	



	



	








	








	
	
	
	
	
	
		
		
		
		
		<span id="offerPrice_3074457345616676668" class="price" itemprop="price">
			$100.00
			
		</span>
	
	
	
	
	
	




	
		<input type="hidden" id="ProductInfoPrice_3074457345616676668" value="$100.00"/>
		
	


<!-- END PriceDisplay.jspf -->
	</div>
</div>



	
		<div id="compare_3074457345616676668" class="compare_target">
			<input id="comparebox_3074457345616676668" type="checkbox" name="comparebox_3074457345616676668" value="3074457345616676668"
				onchange="javascript:shoppingActionsJS.addOrRemoveFromCompare('3074457345616676668',this.checked)"/>
			<label for="comparebox_3074457345616676668">Compare</label>
			<a id="compareButton_3074457345616676668" href="javascript:shoppingActionsJS.compareProducts({top_category: '', parent_category_rn: '', categoryId: '3074457345616676673'});" role="button" aria-label="Compare">Compare</a>
		</div>
	
	


	<script>
		if(dojo.byId("comparebox_3074457345616676668").checked){
			dojo.addOnLoad(function(){
				dojo.byId("comparebox_3074457345616676668").checked = '';
			});
		}
	</script>


		
	

</div>









		




<!-- END CatalogEntryDisplay.jsp -->

														<div class="catEntryGrid_border"></div>
													</li><li>
														

<!-- BEGIN CatalogEntryDisplay.jsp -->













































	









	













	
	
	
	



 

































	




	
	










	




	











	
		
		
			


























	

	

	

	

	

	



 

	
	
		
	


	
	
		
	



	
		
	
	






	




	








	
	
	
	
		
		
	
	



	
			
			 
				
				
			
			
	
			
			 
				
				
			
			
	
			
			 
				
				
			
			
	




	
	
	
	
		
		
		
		
		
		
	
	
	
	
	






	
	
	
	
	
	
	
	
	



	
	


		
	

<div class="product">





	
		
		
		
			




	
		
	
	



<div id="CatalogEntryProdImg_3074457345616676669" class="product_image">
	<div class="image">
		<a  id="catalogEntry_img3074457345616676669"
				href="HermitageFitAndFlareDressAuroraESite.html"
				title="Versatil Empire Waist Sundress" >
			<img alt="Versatil Empire Waist Sundress" src="../../StoreAssets/images/catalog/apparel/women/wcl000_dresses/200x310/wcl000_0015_a_teal.jpg"/>
			
		</a>
	</div>
</div>
<div class="product_info">
	<div class="product_name">
		
		<a aria-hidden="true" tabindex="-1" id="WC_CatalogEntryDBThumbnailDisplayJSPF_3074457345616676669_link_9b"  href="HermitageFitAndFlareDressAuroraESite.html">Versatil Empire Waist Sundress</a>
	</div>
	<div class="product_price" id="product_price_3074457345616676669">
			



<!-- BEGIN PriceDisplay.jspf -->



	




















	
		
			
			
		
		
	

	
		
		
			
		
	



<!--  If leverage price rule to get the price, get the contract unit price. -->

 
 
 	
	
	
	
	
	
	
	
		
	
		
			
		
	





	
	
	
	
	

	

	
	
	
	
	
	
 





	
	


	
	
	
	
		
			
	



	



	








	








	
	
	
	
	
	
		
		
		
		
		<span id="offerPrice_3074457345616676669" class="price" itemprop="price">
			$50.00
			
		</span>
	
	
	
	
	
	




	
		<input type="hidden" id="ProductInfoPrice_3074457345616676669" value="$50.00"/>
		
	


<!-- END PriceDisplay.jspf -->
	</div>
</div>



	
		<div id="compare_3074457345616676669" class="compare_target">
			<input id="comparebox_3074457345616676669" type="checkbox" name="comparebox_3074457345616676669" value="3074457345616676669"
				onchange="javascript:shoppingActionsJS.addOrRemoveFromCompare('3074457345616676669',this.checked)"/>
			<label for="comparebox_3074457345616676669">Compare</label>
			<a id="compareButton_3074457345616676669" href="javascript:shoppingActionsJS.compareProducts({top_category: '', parent_category_rn: '', categoryId: '3074457345616676673'});" role="button" aria-label="Compare">Compare</a>
		</div>
	
	


	<script>
		if(dojo.byId("comparebox_3074457345616676669").checked){
			dojo.addOnLoad(function(){
				dojo.byId("comparebox_3074457345616676669").checked = '';
			});
		}
	</script>


		
	

</div>









		




<!-- END CatalogEntryDisplay.jsp -->

														<div class="catEntryGrid_border"></div>
													</li><li>
														

<!-- BEGIN CatalogEntryDisplay.jsp -->













































	









	













	
	
	
	



 

































	




	
	










	




	











	
		
		
			


























	

	

	

	

	

	



 

	
	
		
	


	
	
		
	



	
		
	
	






	




	








	
	
	
	
		
		
	
	



	
			
			 
				
				
			
			
	
			
			 
				
				
			
			
	
			
			 
				
				
			
			
	




	
	
	
	
		
		
		
		
		
		
	
	
	
	
	






	
	
	
	
	
	
	
	
	



	
	


		
	

<div class="product">





	
		
		
		
			




	
		
	
	



<div id="CatalogEntryProdImg_3074457345616676670" class="product_image">
	<div class="image">
		<a  id="catalogEntry_img3074457345616676670"
				href="HermitageFitAndFlareDressAuroraESite.html"
				title="Luigi Valenti Empire Waist Slip Dress" >
			<img alt="Luigi Valenti Empire Waist Slip Dress" src="../../StoreAssets/images/catalog/apparel/women/wcl000_dresses/200x310/wcl000_0026_a_red.jpg"/>
			
		</a>
	</div>
</div>
<div class="product_info">
	<div class="product_name">
		
		<a aria-hidden="true" tabindex="-1" id="WC_CatalogEntryDBThumbnailDisplayJSPF_3074457345616676670_link_9b"  href="HermitageFitAndFlareDressAuroraESite.html">Luigi Valenti Empire Waist Slip Dress</a>
	</div>
	<div class="product_price" id="product_price_3074457345616676670">
			



<!-- BEGIN PriceDisplay.jspf -->



	




















	
		
			
			
		
		
	

	
		
		
			
		
	



<!--  If leverage price rule to get the price, get the contract unit price. -->

 
 
 	
	
	
	
	
	
	
	
		
	
		
			
		
	





	
	
	
	
	

	

	
	
	
	
	
	
 





	
	


	
	
	
	
		
			
	



	



	








	








	
	
	
	
	
	
		
		
		
		
		<span id="offerPrice_3074457345616676670" class="price" itemprop="price">
			$100.00
			
		</span>
	
	
	
	
	
	




	
		<input type="hidden" id="ProductInfoPrice_3074457345616676670" value="$100.00"/>
		
	


<!-- END PriceDisplay.jspf -->
	</div>
</div>



	
		<div id="compare_3074457345616676670" class="compare_target">
			<input id="comparebox_3074457345616676670" type="checkbox" name="comparebox_3074457345616676670" value="3074457345616676670"
				onchange="javascript:shoppingActionsJS.addOrRemoveFromCompare('3074457345616676670',this.checked)"/>
			<label for="comparebox_3074457345616676670">Compare</label>
			<a id="compareButton_3074457345616676670" href="javascript:shoppingActionsJS.compareProducts({top_category: '', parent_category_rn: '', categoryId: '3074457345616676673'});" role="button" aria-label="Compare">Compare</a>
		</div>
	
	


	<script>
		if(dojo.byId("comparebox_3074457345616676670").checked){
			dojo.addOnLoad(function(){
				dojo.byId("comparebox_3074457345616676670").checked = '';
			});
		}
	</script>


		
	

</div>









		




<!-- END CatalogEntryDisplay.jsp -->

														<div class="catEntryGrid_border"></div>
													</li><li>
														

<!-- BEGIN CatalogEntryDisplay.jsp -->













































	









	













	
	
	
	



 

































	




	
	










	




	











	
		
		
			


























	

	

	

	

	

	



 

	
	
		
	


	
	
		
	



	
		
	
	






	




	








	
	
	
	
		
		
	
	



	
			
			 
				
				
			
			
	
			
			 
				
				
			
			
	
			
			 
				
				
			
			
	




	
	
	
	
		
		
		
		
		
		
	
	
	
	
	






	
	
	
	
	
	
	
	
	



	
	


		
	

<div class="product">





	
		
		
		
			




	
		
	
	



<div id="CatalogEntryProdImg_3074457345616676671" class="product_image">
	<div class="image">
		<a  id="catalogEntry_img3074457345616676671"
				href="HermitageFitAndFlareDressAuroraESite.html"
				title="Hermitage Pencil Dress" >
			<img alt="Hermitage Pencil Dress" src="../../StoreAssets/images/catalog/apparel/women/wcl000_dresses/200x310/wcl000_0007_a_white.jpg"/>
			
		</a>
	</div>
</div>
<div class="product_info">
	<div class="product_name">
		
		<a aria-hidden="true" tabindex="-1" id="WC_CatalogEntryDBThumbnailDisplayJSPF_3074457345616676671_link_9b"  href="HermitageFitAndFlareDressAuroraESite.html">Hermitage Pencil Dress</a>
	</div>
	<div class="product_price" id="product_price_3074457345616676671">
			



<!-- BEGIN PriceDisplay.jspf -->



	




















	
		
			
			
		
		
	

	
		
		
			
		
	



<!--  If leverage price rule to get the price, get the contract unit price. -->

 
 
 	
	
	
	
	
	
	
	
		
	
		
			
		
	





	
	
	
	
	

	

	
	
	
	
	
	
 





	
	


	
	
	
	
		
			
	



	



	








	








	
	
	
	
	
	
		
		
		
		
		<span id="offerPrice_3074457345616676671" class="price" itemprop="price">
			$250.00
			
		</span>
	
	
	
	
	
	




	
		<input type="hidden" id="ProductInfoPrice_3074457345616676671" value="$250.00"/>
		
	


<!-- END PriceDisplay.jspf -->
	</div>
</div>



	
		<div id="compare_3074457345616676671" class="compare_target">
			<input id="comparebox_3074457345616676671" type="checkbox" name="comparebox_3074457345616676671" value="3074457345616676671"
				onchange="javascript:shoppingActionsJS.addOrRemoveFromCompare('3074457345616676671',this.checked)"/>
			<label for="comparebox_3074457345616676671">Compare</label>
			<a id="compareButton_3074457345616676671" href="javascript:shoppingActionsJS.compareProducts({top_category: '', parent_category_rn: '', categoryId: '3074457345616676673'});" role="button" aria-label="Compare">Compare</a>
		</div>
	
	


	<script>
		if(dojo.byId("comparebox_3074457345616676671").checked){
			dojo.addOnLoad(function(){
				dojo.byId("comparebox_3074457345616676671").checked = '';
			});
		}
	</script>


		
	

</div>









		




<!-- END CatalogEntryDisplay.jsp -->

														<div class="catEntryGrid_border"></div>
													</li><li>
														

<!-- BEGIN CatalogEntryDisplay.jsp -->













































	









	













	
	
	
	



 

































	




	
	










	




	











	
		
		
			


























	

	

	

	

	

	



 

	
	
		
	


	
	
		
	



	
		
	
	






	




	








	
	
	
	
		
		
	
	



	
			
			 
				
				
			
			
	
			
			 
				
				
			
			
	
			
			 
				
				
			
			
	




	
	
	
	
		
		
		
		
		
		
	
	
	
	
	






	
	
	
	
	
	
	
	
	



	
	


		
	

<div class="product">





	
		
		
		
			




	
		
	
	



<div id="CatalogEntryProdImg_3074457345616676672" class="product_image">
	<div class="image">
		<a  id="catalogEntry_img3074457345616676672"
				href="HermitageFitAndFlareDressAuroraESite.html"
				title="Albini Straight Cocktail Dress" >
			<img alt="Albini Straight Cocktail Dress" src="../../StoreAssets/images/catalog/apparel/women/wcl000_dresses/200x310/wcl000_0003_a_silver.jpg"/>
			
		</a>
	</div>
</div>
<div class="product_info">
	<div class="product_name">
		
		<a aria-hidden="true" tabindex="-1" id="WC_CatalogEntryDBThumbnailDisplayJSPF_3074457345616676672_link_9b"  href="HermitageFitAndFlareDressAuroraESite.html">Albini Straight Cocktail Dress</a>
	</div>
	<div class="product_price" id="product_price_3074457345616676672">
			



<!-- BEGIN PriceDisplay.jspf -->



	




















	
		
			
			
		
		
	

	
		
		
			
		
	



<!--  If leverage price rule to get the price, get the contract unit price. -->

 
 
 	
	
	
	
	
	
	
	
		
	
		
			
		
	





	
	
	
	
	

	

	
	
	
	
	
	
 





	
	


	
	
	
	
		
			
	



	



	








	








	
	
	
	
	
	
		
		
		
		
		<span id="offerPrice_3074457345616676672" class="price" itemprop="price">
			$250.00
			
		</span>
	
	
	
	
	
	




	
		<input type="hidden" id="ProductInfoPrice_3074457345616676672" value="$250.00"/>
		
	


<!-- END PriceDisplay.jspf -->
	</div>
</div>



	
		<div id="compare_3074457345616676672" class="compare_target">
			<input id="comparebox_3074457345616676672" type="checkbox" name="comparebox_3074457345616676672" value="3074457345616676672"
				onchange="javascript:shoppingActionsJS.addOrRemoveFromCompare('3074457345616676672',this.checked)"/>
			<label for="comparebox_3074457345616676672">Compare</label>
			<a id="compareButton_3074457345616676672" href="javascript:shoppingActionsJS.compareProducts({top_category: '', parent_category_rn: '', categoryId: '3074457345616676673'});" role="button" aria-label="Compare">Compare</a>
		</div>
	
	


	<script>
		if(dojo.byId("comparebox_3074457345616676672").checked){
			dojo.addOnLoad(function(){
				dojo.byId("comparebox_3074457345616676672").checked = '';
			});
		}
	</script>


		
	

</div>









		




<!-- END CatalogEntryDisplay.jsp -->

														<div class="catEntryGrid_border"></div>
													</li><li>
														

<!-- BEGIN CatalogEntryDisplay.jsp -->













































	









	













	
	
	
	



 

































	




	
	










	




	











	
		
		
			


























	

	

	

	

	

	



 

	
	
		
	


	
	
		
	



	
		
	
	






	




	








	
	
	
	
		
		
	
	



	
			
			 
				
				
			
			
	
			
			 
				
				
			
			
	
			
			 
				
				
			
			
	




	
	
	
	
		
		
		
		
		
		
	
	
	
	
	






	
	
	
	
	
	
	
	
	



	
	


		
	

<div class="product">





	
		
		
		
			




	
		
	
	



<div id="CatalogEntryProdImg_3074457345616676673" class="product_image">
	<div class="image">
		<a  id="catalogEntry_img3074457345616676673"
				href="HermitageFitAndFlareDressAuroraESite.html"
				title="Luigi Valenti Strapless Cocktail Dress" >
			<img alt="Luigi Valenti Strapless Cocktail Dress" src="../../StoreAssets/images/catalog/apparel/women/wcl000_dresses/200x310/wcl000_0006_a_purple.jpg"/>
			
		</a>
	</div>
</div>
<div class="product_info">
	<div class="product_name">
		
		<a aria-hidden="true" tabindex="-1" id="WC_CatalogEntryDBThumbnailDisplayJSPF_3074457345616676673_link_9b"  href="HermitageFitAndFlareDressAuroraESite.html">Luigi Valenti Strapless Cocktail Dress</a>
	</div>
	<div class="product_price" id="product_price_3074457345616676673">
			



<!-- BEGIN PriceDisplay.jspf -->



	




















	
		
			
			
		
		
	

	
		
		
			
		
	



<!--  If leverage price rule to get the price, get the contract unit price. -->

 
 
 	
	
	
	
	
	
	
	
		
	
		
			
		
	





	
	
	
	
	

	

	
	
	
	
	
	
 





	
	


	
	
	
	
		
			
	



	



	








	








	
	
	
	
	
	
		
		
		
		
		<span id="offerPrice_3074457345616676673" class="price" itemprop="price">
			$100.00
			
		</span>
	
	
	
	
	
	




	
		<input type="hidden" id="ProductInfoPrice_3074457345616676673" value="$100.00"/>
		
	


<!-- END PriceDisplay.jspf -->
	</div>
</div>



	
		<div id="compare_3074457345616676673" class="compare_target">
			<input id="comparebox_3074457345616676673" type="checkbox" name="comparebox_3074457345616676673" value="3074457345616676673"
				onchange="javascript:shoppingActionsJS.addOrRemoveFromCompare('3074457345616676673',this.checked)"/>
			<label for="comparebox_3074457345616676673">Compare</label>
			<a id="compareButton_3074457345616676673" href="javascript:shoppingActionsJS.compareProducts({top_category: '', parent_category_rn: '', categoryId: '3074457345616676673'});" role="button" aria-label="Compare">Compare</a>
		</div>
	
	


	<script>
		if(dojo.byId("comparebox_3074457345616676673").checked){
			dojo.addOnLoad(function(){
				dojo.byId("comparebox_3074457345616676673").checked = '';
			});
		}
	</script>


		
	

</div>









		




<!-- END CatalogEntryDisplay.jsp -->

														<div class="catEntryGrid_border"></div>
													</li><li>
														

<!-- BEGIN CatalogEntryDisplay.jsp -->













































	









	













	
	
	
	



 

































	




	
	










	




	











	
		
		
			


























	

	

	

	

	

	



 

	
	
		
	


	
	
		
	



	
		
	
	






	




	








	
	
	
	
		
		
	
	



	
			
			 
				
				
			
			
	
			
			 
				
				
			
			
	
			
			 
				
				
			
			
	




	
	
	
	
		
		
		
		
		
		
	
	
	
	
	






	
	
	
	
	
	
	
	
	



	
	


		
	

<div class="product">





	
		
		
		
			




	
		
	
	



<div id="CatalogEntryProdImg_3074457345616676674" class="product_image">
	<div class="image">
		<a  id="catalogEntry_img3074457345616676674"
				href="HermitageFitAndFlareDressAuroraESite.html"
				title="Albini Sleeveless Slip Dress" >
			<img alt="Albini Sleeveless Slip Dress" src="../../StoreAssets/images/catalog/apparel/women/wcl000_dresses/200x310/wcl000_0001_a_blue.jpg"/>
			
		</a>
	</div>
</div>
<div class="product_info">
	<div class="product_name">
		
		<a aria-hidden="true" tabindex="-1" id="WC_CatalogEntryDBThumbnailDisplayJSPF_3074457345616676674_link_9b"  href="HermitageFitAndFlareDressAuroraESite.html">Albini Sleeveless Slip Dress</a>
	</div>
	<div class="product_price" id="product_price_3074457345616676674">
			



<!-- BEGIN PriceDisplay.jspf -->



	




















	
		
			
			
		
		
	

	
		
		
			
		
	



<!--  If leverage price rule to get the price, get the contract unit price. -->

 
 
 	
	
	
	
	
	
	
	
		
	
		
			
		
	





	
	
	
	
	

	

	
	
	
	
	
	
 





	
	


	
	
	
	
		
			
	



	



	








	








	
	
	
	
	
	
		
		
		
		
		<span id="offerPrice_3074457345616676674" class="price" itemprop="price">
			$50.00
			
		</span>
	
	
	
	
	
	




	
		<input type="hidden" id="ProductInfoPrice_3074457345616676674" value="$50.00"/>
		
	


<!-- END PriceDisplay.jspf -->
	</div>
</div>



	
		<div id="compare_3074457345616676674" class="compare_target">
			<input id="comparebox_3074457345616676674" type="checkbox" name="comparebox_3074457345616676674" value="3074457345616676674"
				onchange="javascript:shoppingActionsJS.addOrRemoveFromCompare('3074457345616676674',this.checked)"/>
			<label for="comparebox_3074457345616676674">Compare</label>
			<a id="compareButton_3074457345616676674" href="javascript:shoppingActionsJS.compareProducts({top_category: '', parent_category_rn: '', categoryId: '3074457345616676673'});" role="button" aria-label="Compare">Compare</a>
		</div>
	
	


	<script>
		if(dojo.byId("comparebox_3074457345616676674").checked){
			dojo.addOnLoad(function(){
				dojo.byId("comparebox_3074457345616676674").checked = '';
			});
		}
	</script>


		
	

</div>









		




<!-- END CatalogEntryDisplay.jsp -->

														<div class="catEntryGrid_border"></div>
													</li><li>
														

<!-- BEGIN CatalogEntryDisplay.jsp -->













































	









	













	
	
	
	



 

































	




	
	










	




	











	
		
		
			


























	

	

	

	

	

	



 

	
	
		
	


	
	
		
	



	
		
	
	






	




	








	
	
	
	
		
		
	
	



	
			
			 
				
				
			
			
	
			
			 
				
				
			
			
	
			
			 
				
				
			
			
	




	
	
	
	
		
		
		
		
		
		
	
	
	
	
	






	
	
	
	
	
	
	
	
	



	
	


		
	

<div class="product">





	
		
		
		
			




	
		
	
	



<div id="CatalogEntryProdImg_3074457345616676675" class="product_image">
	<div class="image">
		<a  id="catalogEntry_img3074457345616676675"
				href="HermitageFitAndFlareDressAuroraESite.html"
				title="Luigi Valenti Sleeveless Slip Dress" >
			<img alt="Luigi Valenti Sleeveless Slip Dress" src="../../StoreAssets/images/catalog/apparel/women/wcl000_dresses/200x310/wcl000_0030_a_brown.jpg"/>
			
		</a>
	</div>
</div>
<div class="product_info">
	<div class="product_name">
		
		<a aria-hidden="true" tabindex="-1" id="WC_CatalogEntryDBThumbnailDisplayJSPF_3074457345616676675_link_9b"  href="HermitageFitAndFlareDressAuroraESite.html">Luigi Valenti Sleeveless Slip Dress</a>
	</div>
	<div class="product_price" id="product_price_3074457345616676675">
			



<!-- BEGIN PriceDisplay.jspf -->



	




















	
		
			
			
		
		
	

	
		
		
			
		
	



<!--  If leverage price rule to get the price, get the contract unit price. -->

 
 
 	
	
	
	
	
	
	
	
		
	
		
			
		
	





	
	
	
	
	

	

	
	
	
	
	
	
 





	
	


	
	
	
	
		
			
	



	



	








	








	
	
	
	
	
	
		
		
		
		
		<span id="offerPrice_3074457345616676675" class="price" itemprop="price">
			$50.00
			
		</span>
	
	
	
	
	
	




	
		<input type="hidden" id="ProductInfoPrice_3074457345616676675" value="$50.00"/>
		
	


<!-- END PriceDisplay.jspf -->
	</div>
</div>



	
		<div id="compare_3074457345616676675" class="compare_target">
			<input id="comparebox_3074457345616676675" type="checkbox" name="comparebox_3074457345616676675" value="3074457345616676675"
				onchange="javascript:shoppingActionsJS.addOrRemoveFromCompare('3074457345616676675',this.checked)"/>
			<label for="comparebox_3074457345616676675">Compare</label>
			<a id="compareButton_3074457345616676675" href="javascript:shoppingActionsJS.compareProducts({top_category: '', parent_category_rn: '', categoryId: '3074457345616676673'});" role="button" aria-label="Compare">Compare</a>
		</div>
	
	


	<script>
		if(dojo.byId("comparebox_3074457345616676675").checked){
			dojo.addOnLoad(function(){
				dojo.byId("comparebox_3074457345616676675").checked = '';
			});
		}
	</script>


		
	

</div>









		




<!-- END CatalogEntryDisplay.jsp -->

														<div class="catEntryGrid_border"></div>
													</li><li>
														

<!-- BEGIN CatalogEntryDisplay.jsp -->













































	









	













	
	
	
	



 

































	




	
	










	




	











	
		
		
			


























	

	

	

	

	

	



 

	
	
		
	


	
	
		
	



	
		
	
	






	




	








	
	
	
	
		
		
	
	



	
			
			 
				
				
			
			
	
			
			 
				
				
			
			
	
			
			 
				
				
			
			
	




	
	
	
	
		
		
		
		
		
		
	
	
	
	
	






	
	
	
	
	
	
	
	
	



	
	


		
	

<div class="product">





	
		
		
		
			




	
		
	
	



<div id="CatalogEntryProdImg_3074457345616676676" class="product_image">
	<div class="image">
		<a  id="catalogEntry_img3074457345616676676"
				href="HermitageFitAndFlareDressAuroraESite.html"
				title="Albini A-line Cotton Dress" >
			<img alt="Albini A-line Cotton Dress" src="../../StoreAssets/images/catalog/apparel/women/wcl000_dresses/200x310/wcl000_0005_a_blue.jpg"/>
			
		</a>
	</div>
</div>
<div class="product_info">
	<div class="product_name">
		
		<a aria-hidden="true" tabindex="-1" id="WC_CatalogEntryDBThumbnailDisplayJSPF_3074457345616676676_link_9b"  href="HermitageFitAndFlareDressAuroraESite.html">Albini A-line Cotton Dress</a>
	</div>
	<div class="product_price" id="product_price_3074457345616676676">
			



<!-- BEGIN PriceDisplay.jspf -->



	




















	
		
			
			
		
		
	

	
		
		
			
		
	



<!--  If leverage price rule to get the price, get the contract unit price. -->

 
 
 	
	
	
	
	
	
	
	
		
	
		
			
		
	





	
	
	
	
	

	

	
	
	
	
	
	
 





	
	


	
	
	
	
		
			
	



	



	








	








	
	
	
	
	
	
		
		
		
		
		<span id="offerPrice_3074457345616676676" class="price" itemprop="price">
			$50.00
			
		</span>
	
	
	
	
	
	




	
		<input type="hidden" id="ProductInfoPrice_3074457345616676676" value="$50.00"/>
		
	


<!-- END PriceDisplay.jspf -->
	</div>
</div>



	
		<div id="compare_3074457345616676676" class="compare_target">
			<input id="comparebox_3074457345616676676" type="checkbox" name="comparebox_3074457345616676676" value="3074457345616676676"
				onchange="javascript:shoppingActionsJS.addOrRemoveFromCompare('3074457345616676676',this.checked)"/>
			<label for="comparebox_3074457345616676676">Compare</label>
			<a id="compareButton_3074457345616676676" href="javascript:shoppingActionsJS.compareProducts({top_category: '', parent_category_rn: '', categoryId: '3074457345616676673'});" role="button" aria-label="Compare">Compare</a>
		</div>
	
	


	<script>
		if(dojo.byId("comparebox_3074457345616676676").checked){
			dojo.addOnLoad(function(){
				dojo.byId("comparebox_3074457345616676676").checked = '';
			});
		}
	</script>


		
	

</div>









		




<!-- END CatalogEntryDisplay.jsp -->

														<div class="catEntryGrid_border"></div>
													</li><li>
														

<!-- BEGIN CatalogEntryDisplay.jsp -->













































	









	













	
	
	
	



 

































	




	
	










	




	











	
		
		
			


























	

	

	

	

	

	
		
		
		
			
		
		
	

	



 

	
	
		
	


	
	
		
	



	
		
	
	






	




	








	
	
	
	
		
		
	
	



	
			
			 
				
				
			
			
	
			
			 
				
				
			
			
	
			
			 
				
				
			
			
	




	
	
	
	
		
		
		
		
		
		
	
	
	
	
	






	
	
	
	
	
	
	
	
	



	
	


		
	

<div class="product">





	
		
		
		
			




	
		
	
	



<div id="CatalogEntryProdImg_3074457345616676677" class="product_image">
	<div class="image">
		<a  id="catalogEntry_img3074457345616676677"
				href="HermitageFitAndFlareDressAuroraESite.html"
				title="Gusso Casual Strapless Dress" >
			<img alt="Gusso Casual Strapless Dress" src="../../StoreAssets/images/catalog/apparel/women/wcl000_dresses/200x310/wcl000_0010_a_black.jpg"/>
			
				
				<div class="RibbonAdDefault Exclusive">Exclusive</div>
			
		</a>
	</div>
</div>
<div class="product_info">
	<div class="product_name">
		
		<a aria-hidden="true" tabindex="-1" id="WC_CatalogEntryDBThumbnailDisplayJSPF_3074457345616676677_link_9b"  href="HermitageFitAndFlareDressAuroraESite.html">Gusso Casual Strapless Dress</a>
	</div>
	<div class="product_price" id="product_price_3074457345616676677">
			



<!-- BEGIN PriceDisplay.jspf -->



	




















	
		
			
			
		
		
	

	
		
		
			
		
	



<!--  If leverage price rule to get the price, get the contract unit price. -->

 
 
 	
	
	
	
	
	
	
	
		
	
		
			
		
	





	
	
	
	
	

	

	
	
	
	
	
	
 





	
	


	
	
	
	
		
			
	



	



	








	








	
	
	
	
	
	
		
		
		
		
		<span id="offerPrice_3074457345616676677" class="price" itemprop="price">
			$50.00
			
		</span>
	
	
	
	
	
	




	
		<input type="hidden" id="ProductInfoPrice_3074457345616676677" value="$50.00"/>
		
	


<!-- END PriceDisplay.jspf -->
	</div>
</div>



	
		<div id="compare_3074457345616676677" class="compare_target">
			<input id="comparebox_3074457345616676677" type="checkbox" name="comparebox_3074457345616676677" value="3074457345616676677"
				onchange="javascript:shoppingActionsJS.addOrRemoveFromCompare('3074457345616676677',this.checked)"/>
			<label for="comparebox_3074457345616676677">Compare</label>
			<a id="compareButton_3074457345616676677" href="javascript:shoppingActionsJS.compareProducts({top_category: '', parent_category_rn: '', categoryId: '3074457345616676673'});" role="button" aria-label="Compare">Compare</a>
		</div>
	
	


	<script>
		if(dojo.byId("comparebox_3074457345616676677").checked){
			dojo.addOnLoad(function(){
				dojo.byId("comparebox_3074457345616676677").checked = '';
			});
		}
	</script>


		
	

</div>









		




<!-- END CatalogEntryDisplay.jsp -->

														<div class="catEntryGrid_border"></div>
													</li><li>
														

<!-- BEGIN CatalogEntryDisplay.jsp -->













































	









	













	
	
	
	



 

































	




	
	










	




	











	
		
		
			


























	

	

	

	

	

	



 

	
	
		
	


	
	
		
	



	
		
	
	






	




	








	
	
	
	
		
		
	
	



	
			
			 
				
				
			
			
	
			
			 
				
				
			
			
	
			
			 
				
				
			
			
	




	
	
	
	
		
		
		
		
		
		
	
	
	
	
	






	
	
	
	
	
	
	
	
	



	
	


		
	

<div class="product">





	
		
		
		
			




	
		
	
	



<div id="CatalogEntryProdImg_3074457345616676678" class="product_image">
	<div class="image">
		<a  id="catalogEntry_img3074457345616676678"
				href="HermitageFitAndFlareDressAuroraESite.html"
				title="Versatil Strapless Sundress" >
			<img alt="Versatil Strapless Sundress" src="../../StoreAssets/images/catalog/apparel/women/wcl000_dresses/200x310/wcl000_0031_a_blue.jpg"/>
			
		</a>
	</div>
</div>
<div class="product_info">
	<div class="product_name">
		
		<a aria-hidden="true" tabindex="-1" id="WC_CatalogEntryDBThumbnailDisplayJSPF_3074457345616676678_link_9b"  href="HermitageFitAndFlareDressAuroraESite.html">Versatil Strapless Sundress</a>
	</div>
	<div class="product_price" id="product_price_3074457345616676678">
			



<!-- BEGIN PriceDisplay.jspf -->



	




















	
		
			
			
		
		
	

	
		
		
			
		
	



<!--  If leverage price rule to get the price, get the contract unit price. -->

 
 
 	
	
	
	
	
	
	
	
		
	
		
			
		
	





	
	
	
	
	

	

	
	
	
	
	
	
 





	
	


	
	
	
	
		
			
	



	



	








	








	
	
	
	
	
	
		
		
		
		
		<span id="offerPrice_3074457345616676678" class="price" itemprop="price">
			$40.00
			
		</span>
	
	
	
	
	
	




	
		<input type="hidden" id="ProductInfoPrice_3074457345616676678" value="$40.00"/>
		
	


<!-- END PriceDisplay.jspf -->
	</div>
</div>



	
		<div id="compare_3074457345616676678" class="compare_target">
			<input id="comparebox_3074457345616676678" type="checkbox" name="comparebox_3074457345616676678" value="3074457345616676678"
				onchange="javascript:shoppingActionsJS.addOrRemoveFromCompare('3074457345616676678',this.checked)"/>
			<label for="comparebox_3074457345616676678">Compare</label>
			<a id="compareButton_3074457345616676678" href="javascript:shoppingActionsJS.compareProducts({top_category: '', parent_category_rn: '', categoryId: '3074457345616676673'});" role="button" aria-label="Compare">Compare</a>
		</div>
	
	


	<script>
		if(dojo.byId("comparebox_3074457345616676678").checked){
			dojo.addOnLoad(function(){
				dojo.byId("comparebox_3074457345616676678").checked = '';
			});
		}
	</script>


		
	

</div>









		




<!-- END CatalogEntryDisplay.jsp -->

														<div class="catEntryGrid_border"></div>
													</li><li>
														

<!-- BEGIN CatalogEntryDisplay.jsp -->













































	









	













	
	
	
	



 

































	




	
	










	




	











	
		
		
			


























	

	

	

	

	

	



 

	
	
		
	


	
	
		
	



	
		
	
	






	




	








	
	
	
	
		
		
	
	



	
			
			 
				
				
			
			
	
			
			 
				
				
			
			
	
			
			 
				
				
			
			
	




	
	
	
	
		
		
		
		
		
		
	
	
	
	
	






	
	
	
	
	
	
	
	
	



	
	


		
	

<div class="product">





	
		
		
		
			




	
		
	
	



<div id="CatalogEntryProdImg_3074457345616676679" class="product_image">
	<div class="image">
		<a  id="catalogEntry_img3074457345616676679"
				href="HermitageFitAndFlareDressAuroraESite.html"
				title="Versatil Short Sleeved Wrap Dress" >
			<img alt="Versatil Short Sleeved Wrap Dress" src="../../StoreAssets/images/catalog/apparel/women/wcl000_dresses/200x310/wcl000_0014_a_brown.jpg"/>
			
		</a>
	</div>
</div>
<div class="product_info">
	<div class="product_name">
		
		<a aria-hidden="true" tabindex="-1" id="WC_CatalogEntryDBThumbnailDisplayJSPF_3074457345616676679_link_9b"  href="HermitageFitAndFlareDressAuroraESite.html">Versatil Short Sleeved Wrap Dress</a>
	</div>
	<div class="product_price" id="product_price_3074457345616676679">
			



<!-- BEGIN PriceDisplay.jspf -->



	




















	
		
			
			
		
		
	

	
		
		
			
		
	



<!--  If leverage price rule to get the price, get the contract unit price. -->

 
 
 	
	
	
	
	
	
	
	
		
	
		
			
		
	





	
	
	
	
	

	

	
	
	
	
	
	
 





	
	


	
	
	
	
		
			
	



	



	








	








	
	
	
	
	
	
		
		
		
		
		<span id="offerPrice_3074457345616676679" class="price" itemprop="price">
			$100.00
			
		</span>
	
	
	
	
	
	




	
		<input type="hidden" id="ProductInfoPrice_3074457345616676679" value="$100.00"/>
		
	


<!-- END PriceDisplay.jspf -->
	</div>
</div>



	
		<div id="compare_3074457345616676679" class="compare_target">
			<input id="comparebox_3074457345616676679" type="checkbox" name="comparebox_3074457345616676679" value="3074457345616676679"
				onchange="javascript:shoppingActionsJS.addOrRemoveFromCompare('3074457345616676679',this.checked)"/>
			<label for="comparebox_3074457345616676679">Compare</label>
			<a id="compareButton_3074457345616676679" href="javascript:shoppingActionsJS.compareProducts({top_category: '', parent_category_rn: '', categoryId: '3074457345616676673'});" role="button" aria-label="Compare">Compare</a>
		</div>
	
	


	<script>
		if(dojo.byId("comparebox_3074457345616676679").checked){
			dojo.addOnLoad(function(){
				dojo.byId("comparebox_3074457345616676679").checked = '';
			});
		}
	</script>


		
	

</div>









		




<!-- END CatalogEntryDisplay.jsp -->

														<div class="catEntryGrid_border"></div>
													</li>
											</ul>
										
							</div>
							
		</div>
		
	
	<div id="facetCounts">
		<script>
			function updateFacetCounts() {
				
						SearchBasedNavigationDisplayJS.updateFacetCount(
							"4012342324948481253249484841",
							31, 
							"price_USD%3A%28%7B*+100%7D+100%29", 
							"({* 100} 100)",
							"",
							"/wcsstore",
							"price_USD",
							false);
					
						SearchBasedNavigationDisplayJS.updateFacetCount(
							"40123494848325048481253250484841",
							0, 
							"price_USD%3A%28%7B100+200%7D+200%29", 
							"({100 200} 200)",
							"",
							"/wcsstore",
							"price_USD",
							false);
					
						SearchBasedNavigationDisplayJS.updateFacetCount(
							"40123504848325148481253251484841",
							8, 
							"price_USD%3A%28%7B200+300%7D+300%29", 
							"({200 300} 300)",
							"",
							"/wcsstore",
							"price_USD",
							false);
					
						SearchBasedNavigationDisplayJS.updateFacetCount(
							"40123514848325248481253252484841",
							0, 
							"price_USD%3A%28%7B300+400%7D+400%29", 
							"({300 400} 400)",
							"",
							"/wcsstore",
							"price_USD",
							false);
					
						SearchBasedNavigationDisplayJS.updateFacetCount(
							"40123524848325348481253253484841",
							0, 
							"price_USD%3A%28%7B400+500%7D+500%29", 
							"({400 500} 500)",
							"",
							"/wcsstore",
							"price_USD",
							false);
					
						SearchBasedNavigationDisplayJS.updateFacetCount(
							"40123534848324212541",
							0, 
							"price_USD%3A%28%7B500+*%7D%29", 
							"({500 *})",
							"",
							"/wcsstore",
							"price_USD",
							false);
					
						SearchBasedNavigationDisplayJS.updateFacetCount(
							"-10026510898105110105",
							8, 
							"mfName_ntk_cs%3A%22Albini%22", 
							"Albini",
							"",
							"/wcsstore",
							"mfName_ntk_cs",
							false);
					
						SearchBasedNavigationDisplayJS.updateFacetCount(
							"-100271117115115111",
							8, 
							"mfName_ntk_cs%3A%22Gusso%22", 
							"Gusso",
							"",
							"/wcsstore",
							"mfName_ntk_cs",
							false);
					
						SearchBasedNavigationDisplayJS.updateFacetCount(
							"-100276117105103105328697108101110116105",
							8, 
							"mfName_ntk_cs%3A%22Luigi+Valenti%22", 
							"Luigi Valenti",
							"",
							"/wcsstore",
							"mfName_ntk_cs",
							false);
					
						SearchBasedNavigationDisplayJS.updateFacetCount(
							"-10028610111411597116105108",
							8, 
							"mfName_ntk_cs%3A%22Versatil%22", 
							"Versatil",
							"",
							"/wcsstore",
							"mfName_ntk_cs",
							false);
					
						SearchBasedNavigationDisplayJS.updateFacetCount(
							"-10027210111410910511697103101326711110810810199116105111110",
							7, 
							"mfName_ntk_cs%3A%22Hermitage+Collection%22", 
							"Hermitage Collection",
							"",
							"/wcsstore",
							"mfName_ntk_cs",
							false);
					
				dojo.publish("FacetCount_updated", [{origSearchCount:, totalSearchCount:}]);
			}
		</script>
	</div>
	<div class="compareCheckboxLabels">
	    <label>Compare</label>
	    <label>Add more to compare</label>
	    <label>Added</label>
	</div>
<!-- END CatalogEntryListAjax.jsp -->