<a id="widget_minishopcart" href="#" role="button"
		onclick="javascript:toggleMiniShopCartDropDown('widget_minishopcart','quick_cart_container','orderItemsList');"
		onKeyPress="javascript:toggleMiniShopCartDropDownEvent(event,'widget_minishopcart','quick_cart_container','orderItemsList');"
		aria-label="Shopping Cart">
	<div id="minishopcart_total">
		
	</div>
</a>

<div id="placeHolder"></div>
<div id="MiniShopCartProductAdded">
	<div id="MiniShopCartProductAddedWrapper" style="display:none;" aria-labelledby="cartDropdownMessage">
		<div id="widget_minishopcart_popup_1">
			<div id="cartDropdown">
				<h3 id="cartDropdownMessage">This item has been successfully added:</h3>
				<a id="MiniShopCartCloseButton_2" href="javascript:dijit.byId('MiniShopCartProductAdded').hide();" class="closeButton">Close</a>
				<div class="content">
					<div class="products added">
						
					</div>
				</div>
				<div class="footer">
					<a id="GotoCartButton2" href="#" class="basicButton">
						<span>Go to Cart</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<input type="hidden" id="currentOrderQuantity" value="0"/>
<input type="hidden" id="currentOrderAmount" value="0.00"/>
<input type="hidden" id="currentOrderCurrency" value="USD"/>
<input type="hidden" id="currentOrderLanguage" value="-1"/>
<input type="hidden" id="currentOrderId" value=""/>


		
	




