



































































	





























































 


	
	
	
		
		
	



	
	
	
	














	
	
		
	




	
	
		
	
	






	
	
	





	









	
		
		
		
		
	
	
	








	




	
	
		
	


























































	

















































































 










	










	
	
			 
		
		
	
	
		
		
		
			
				
			
		
	













  
  
  
  
  
  
  
  


 




	
 
					 









	
		
		

		
		
			
			
			
			
						
			
			
				
				
				
				
				
			

			
			 
			
			
			
			
			
			
			
			
			
		
		

	




	
		
		
		
		
		
			
			
			
			
		
		
		
			
			
				
			
		
					
		
		
		




	
	
		
			
		
		
		
		
		
	




	
		
			
				
			
				
				
					
				
			
			
			
			
		
	













	
		
			






	<div id="quick_cart_container">
	<span class="spanacce" id="quick_cart_container_ACCE_Label">[PROPERTIES;ACCE_MSC_SHOPPING_CART_POPUP_REGION;Shopping Cart Popup]</span>
		<div id="quick_cart">
			<div id ="MiniShopCartProductsList">
				<div id="widget_minishopcart_popup">										
						<div id="cartDropdown">						
							<h3>[PROPERTIES;MSC_ITEMS_IN_CART;Items in your cart:]</h3>
							<a id="MiniShopCartCloseButton_1" href="javascript:dijit.byId('quick_cart_container').hide();" class="closeButton">[PROPERTIES;CLOSE;Close]</a>					            					            
							<div class="content">
								
									
										<div class="products">
											
												<div class="product">
													<div class="product_image">
															
														

														<a id="MiniShopCartProdImg_25005" href="HermitageFitAndFlareDressAuroraESite.html">
															<img src="../../StoreAssets/images/catalog/apparel/women/wcl000_dresses/200x310/wcl000_0028_a_red.jpg" alt="Hermitage Fit and Flare Dress">
														</a>
													</div>
													<div class="product_name">
														<a id="MiniShopCartProdName_25005" href="HermitageFitAndFlareDressAuroraESite.html">Hermitage Fit and Flare Dress</a>
													</div>
													<div class="item_spacer_3px"></div>
													<span class="product_quantity">[PROPERTIES;MSC_QTY;QTY:] 1</span>
													<span class="product_price">$100.00</span>
												</div>
											
										</div>
										
										
											
											<div class="subtotal adjustment_price">
												<span class="product_price">
													($10.00)
																										
												</span>
												<a class="hover_underline" href='#' >
													Save 10% on all orders
												</a>
											</div>
										
										
										<div class="subtotal">
											<span class="product_price">$90.00</span>
											<span>
												[PROPERTIES;MSC_SUBTOTAL_FOR_ITEMS;Subtotal for 1 item(s)]
											</span>
										</div>
									
									
								
							</div>
							
							<div class="footer">
								<a id="GotoCartButton1" href="ShoppingCart.html" class="basicButton">
									<span>[PROPERTIES;MSC_GO_TO_CART;Go to Cart]</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
	
		</div>



		

		
		
	




