<%--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2011, 2012 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
--%>

<%@ include file="/Widgets/Common/PDP_CatalogEntryData.jspf" %>
<c:set var="uniqueID" value="${catalogEntryID}"/>
<c:set var="catEntry" value="${catalogEntryDetails}"/>
<c:set var="excludeUsageStr" value="NOUSAGE,ANGLEIMAGES_THUMBNAIL,ANGLEIMAGES_FULLIMAGE,ANGLEIMAGES_HDIMAGE,IMAGE_SIZE_55,IMAGE_SIZE_40,IMAGE_SIZE_330,IMAGE_SIZE_1000,SWATCH_IMAGE"/>

<c:set var="displayAttachmentCount" value="0"/>
<c:forEach items="${catEntry.attachments}" var="attachment">
	<c:set var="displayAttachment" value="true" />
	<%-- if usage is specified, only display attachment of the specified usage. --%>
	<c:choose>
		<%-- Do not display attachments with empty usage type --%>
		<c:when test="${empty attachment.usage}">
			<c:set var="displayAttachment" value="false" />
		</c:when>
		<c:when test="${!empty usage}">
			<c:if test="${param.usage ne attachment.usage}">
				<c:set var="displayAttachment" value="false" />
			</c:if>
		</c:when>
		<c:when test="${!empty excludeUsageStr}">
			<%-- checks the usage type of this attachment and see if should exclude this attachment from display --%>
			<c:forTokens items="${excludeUsageStr}" delims="," var="usageType">
				<c:if test="${usageType == attachment.usage}">
					<c:set var="displayAttachment" value="false" />
				</c:if>
			</c:forTokens>
		</c:when>
	</c:choose>
			
	<c:if test="${displayAttachment}">
		<c:set var="displayAttachmentCount" value="${displayAttachmentCount + 1}"/>
	</c:if>
</c:forEach>
<wcf:url var="AttachmentPaginationURL" value="AttachmentPaginationListView" type="Ajax">
	<wcf:param name="storeId" value="${storeId}"/>
	<wcf:param name="catalogId" value="${catalogId}"/>
	<wcf:param name="langId" value="${langId}"/>
	<wcf:param name="productId" value="${uniqueID}"/>
	<wcf:param name="excludeUsageStr" value="${excludeUsageStr}"/>
	<wcf:param name="ajaxStoreImageDir" value="${jspStoreImgDir}" />
	<wcf:param name="displayAttachmentCount" value="${displayAttachmentCount}" />
</wcf:url>
<c:set var="excludeUsageStr" value="${WCParam.excludeUsageStr}"/>
<c:if test="${empty excludeUsageStr}">
	<c:set var="excludeUsageStr" value="${param.excludeUsageStr}"/>
</c:if>
