.dijitRtl .dijitPlaceHolder {
	left: auto;
	right: 0;
}

/* Menu */

.dijitMenuItemRtl {
	text-align: right;
}

/* Button */

.dj_iequirks .dijitComboButtonRtl button {
	/* workaround bug where label invisible (themeTesterQuirk.html?dir=rtl) */
	float:left;
}
.dj_ie .dijitTextBoxRtl .dijitInputContainer {
	clear: right;
}

/* TextBox, ComboBox, Spinner */

.dijitTextBoxRtl .dijitValidationContainer,
.dijitTextBoxRtl .dijitSpinnerButtonContainer,
.dijitComboBoxRtl .dijitArrowButtonContainer {
	/* combobox and spinner: line between the input area and the drop down button */
	border-right-width: 1px !important;
	border-left-width: 0 !important;
}

.dijitSpinnerRtl .dijitSpinnerButtonContainer .dijitArrowButton {
	right: 0;
	left: auto;
}

.dijitSelectRtl .dijitButtonText {
	float: right;
}

.dijitTextBoxRtl .dijitSpinnerButtonContainer,
.dijitValidationTextBoxRtl .dijitValidationContainer,
.dijitTextBoxRtl .dijitArrowButtonContainer {
	float: left;
}

/* Calendar */

.dijitCalendarRtl .dijitCalendarNextYear {
	margin:0 0.55em 0 0;
}

.dijitCalendarRtl .dijitCalendarPreviousYear {
	margin:0 0 0 0.55em;
}


/* Slider */

.dijitSliderRtl .dijitSliderImageHandleV {
	left:auto;
}

.dijitSliderRtl .dijitSliderImageHandleH {
	left:-50%;
}

.dijitSliderRtl .dijitSliderMoveableH {
	right:auto;
	left:0;
}

.dijitSliderRtl .dijitRuleContainerV {
	float:right;
}

.dj_ie .dijitSliderRtl .dijitRuleContainerV {
	text-align:right;
}

.dj_ie .dijitSliderRtl .dijitRuleLabelV {
	text-align:left;
}

.dj_ie .dijitSliderRtl .dijitRuleLabelH {
	zoom:1;
}

.dijitSliderRtl .dijitSliderProgressBarH {
	/* workarounds for IE and FF */
	float:right;
	right:0;
	left:auto;
}

/* ContentPane*/

.dijitRtl .dijitContentPaneLoading .dijitIconLoading,
.dijitRtl .dijitContentPaneError .dijitIconError {
	margin-right: 0;
	margin-left: 9px;
}

/* TabContainer */

.dijitTabControllerRtl .nowrapTabStrip {
    text-align: right;  /* just in case ancestor has non-standard setting */
}
.dijitTabRtl .dijitTabCloseButton {
	margin-left: 0;
	margin-right: 1em;
}
.dj_ie6 .dijitTabRtl .tabLabel,
.dj_ie6 .dijitTabContainerRight-tabs .dijitTabRtl,
.dj_ie6 .dijitTabContainerLeft-tabs .dijitTabRtl,
.dj_ie7 .dijitTabContainerRight-tabs .dijitTabRtl,
.dj_ie7 .dijitTabContainerLeft-tabs .dijitTabRtl {
	zoom: 1;
}
.dj_ie6 .dijitTabContainerRight-tabs .dijitTabRtl,
.dj_ie7 .dijitTabContainerRight-tabs .dijitTabRtl {
    left: 0;
}

.dj_ie6 .dijitTabContainerRightRtl .dijitTabContainerRight-tabs,
.dj_ie6 .dijitTabContainerLeftRtl .dijitTabContainerLeft-tabs {
    /* otherwise tab labels invisible */
	width: 1%;
}

/* TimePicker */
.dj_ie .dijitTimePickerRtl .dijitTimePickerItem {
	width:100%;
}


/* ColorPalette */
.dijitColorPaletteRtl .dijitColorPaletteUnder {
	/* needed in RTL mode when DropDownButton expands the ColorPalette beyond it's natural width */
	left: auto;
	right: 0;
}

/* Select */
.dijitSelectRtl .dijitButtonContents {
	border-style: none none none solid;
	text-align: right;
}

/* DnD
 * These rules should apply for containers that are dir=rtl (either set directly, or inherited)
 * but seems the best we can do is look for .dijitRtl on an ancestor node.
 */
.dijitRtl .dojoDndHorizontal .dojoDndItemBefore {
    border-width: 0 2px 0 0;
    padding: 2px 0 2px 2px;
}
.dijitRtl .dojoDndHorizontal .dojoDndItemAfter {
    border-width: 0 0 0 2px;
    padding: 2px 2px 2px 0;
}
