<%--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2011, 2013 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
--%>


<c:if test="${not empty descAttrMap}">
	<ul>
	<c:forEach var="descriptiveAttr" items="${descAttrMap}" varStatus="status">
		<li>
			<span id="descAttributeName_${status.count}<c:out value="${widgetSuffix}"/>">
				<fmt:message key="ATTRNAMEKEY">
					<fmt:param value="${descAttrNames[descriptiveAttr.key]}"/>
				</fmt:message>
			</span>
			<c:set var="attrValues" value=""/>
			<c:forEach var="attrValue" items="${descriptiveAttr.value}">
				<c:if test="${!empty attrValues}">
					<c:set var="attrValues" value="${attrValues}, "/>
				</c:if>
				<c:set var="attrValues" value="${attrValues}${attrValue}"/>
			</c:forEach>
			<span id="descAttributeValue_${status.count}<c:out value="${widgetSuffix}"/>"><c:out value="${attrValues}"/></span>
		</li>
	</c:forEach>
	</ul>
</c:if>

