.dojoxCalendarMatrixView {
  cursor: default;
  -moz-user-select: none;
  -webkit-user-select: none;
  khtml-user-select: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  khtml-user-select: none;
  user-select: none;
}
.dojoxCalendarMatrixView .dojoxCalendarGrid {
  position: absolute;
  left: 50px;
  right: 0px;
  top: 30px;
  bottom: 0px;
}
.dojoxCalendarMatrixView .dojoxCalendarGridTable {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  table-layout: fixed;
}
.dojoxCalendarMatrixView .dojoxCalendarGridTable tr {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dojoxCalendarMatrixView .dojoxCalendarGridTable td {
  text-align: right;
  vertical-align: top;
  border-bottom: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dojoxCalendarMatrixView .dojoxCalendarGridTable td span {
  padding-right: 2px;
  padding-top: 2px;
  color: #cccccc;
}
.dojoxCalendarMatrixView .dojoxCalendarGridTable tr.last-child td {
  border-bottom: 1px solid #cccccc;
}
.dojoxCalendarMatrixView .dojoxCalendarGridTable td.last-child {
  border-right: 1px solid #cccccc;
}
/* 
 * The dojoxCalendarColToday & dojoxCalendarColWeekend classes is added by the 
 * MatrixView.styleGridCell method that can be subclassed to add/remove css classes
 */
.dojoxCalendarMatrixView .dojoxCalendarGridTable td.dojoxCalendarToday {
  color: #295bb3;
}
.dojoxCalendarMatrixView .dojoxCalendarGridTable .dojoxCalendarDayDisabled {
  background-color: #fafafa;
  color: #838383;
}
.dojoxCalendarMatrixView .dojoxCalendarYearColumnHeader {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 50px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dojoxCalendarMatrixView .dojoxCalendarYearColumnHeader table {
  position: relative;
  width: 100%;
  height: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
.dojoxCalendarMatrixView .dojoxCalendarYearColumnHeader table td {
  text-align: center;
  vertical-align: middle;
  border-left: 1px solid transparent;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  color: #cccccc;
  color: #cccccc;
}
.dojoxCalendarMatrixView .dojoxCalendarColumnHeader {
  position: absolute;
  left: 50px;
  right: 0px;
  top: 0px;
  height: 29px;
  cursor: default;
  border-bottom: 1px solid #cccccc;
}
.dojoxCalendarMatrixView .dojoxCalendarColumnHeaderTable {
  position: relative;
  width: 100%;
  height: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
.dojoxCalendarMatrixView .dojoxCalendarColumnHeaderTable td {
  overflow: hidden;
  vertical-align: middle;
  text-align: center;
  color: #cccccc;
  color: #cccccc;
  border-right: 1px solid transparent;
  border-top: 1px solid transparent;
  -moz-user-select: none;
  -webkit-user-select: none;
  khtml-user-select: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  khtml-user-select: none;
  user-select: none;
}
.dojoxCalendarMatrixView .dojoxCalendarRowHeader {
  position: absolute;
  left: 0px;
  top: 30px;
  width: 50px;
  bottom: 0;
  color: #cccccc;
  -moz-user-select: none;
  -webkit-user-select: none;
  khtml-user-select: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  khtml-user-select: none;
  user-select: none;
}
.dojoxCalendarMatrixView .dojoxCalendarRowHeaderTable {
  position: relative;
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  margin: 0;
  padding: 0;
}
.dojoxCalendarMatrixView .dojoxCalendarRowHeaderTable tr {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* 
 * The MatrixView.styleRowHeaderCell method that can be subclassed to add/remove css classes per hour.
 */
.dojoxCalendarMatrixView .dojoxCalendarRowHeaderTable td {
  text-align: center;
  vertical-align: middle;
  border-left: 1px solid transparent;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dojoxCalendarMatrixView .dojoxCalendarRowHeaderTable td.last-child {
  border-bottom: 1px solid #cccccc;
}
.dojoxCalendarMatrixView .dojoxCalendarRowHeaderTable td.Hover {
  background-color: #e5f2fe;
}
.dojoxCalendarMatrixView .dojoxCalendarRowHeaderTable td.Active {
  background-color: #a5d1fb;
}
.dojoxCalendarMatrixView .dojoxCalendarContainer {
  position: absolute;
  top: 30px;
  left: 50px;
  right: 0px;
  bottom: 0px;
}
.dojoxCalendarMatrixView .dojoxCalendarContainerTable {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  table-layout: fixed;
}
.dojoxCalendarMatrixView .dojoxCalendarContainerTable tr {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dojoxCalendarMatrixView .dojoxCalendarContainerTable td {
  vertical-align: top;
  border-bottom: solid 1px transparent;
  border-right: solid 1px transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dojoxCalendarMatrixView .dojoxCalendarContainerTable td div.dojoxCalendarContainerRow {
  position: relative;
  height: 100%;
  width: 100%;
}
.dojoxCalendarMatrixView .dojoxCalendarEventContainer {
  position: absolute;
  overflow: hidden;
  -moz-user-select: none;
  -webkit-user-select: none;
  khtml-user-select: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  khtml-user-select: none;
  user-select: none;
}
.dojoxCalendarMatrixView .dojoxCalendarEvent {
  position: absolute;
  text-align: left;
  color: #000000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  white-space: nowrap;
}
.dojoxCalendarMatrixView .dojoxCalendarEvent.dojoxCalendarHorizontal {
  color: #FFF;
  position: absolute;
}
.dojoxCalendarMatrixView .dojoxCalendarEvent.dojoxCalendarHorizontal .bg {
  border: 1px solid #260000;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: left;
  color: #000000;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background-color: #9f0000;
}
.dojoxCalendarMatrixView .dojoxCalendarEvent.dojoxCalendarHorizontal.Hovered .bg {
  background-color: #cc0000;
}
.dojoxCalendarMatrixView .dojoxCalendarEvent.dojoxCalendarHorizontal.Selected .bg {
  background-color: #660000;
}
.dojoxCalendarMatrixView .dojoxCalendarEvent.Edited {
  color: #fff;
  font-weight: bold;
}
.dojoxCalendarMatrixView .dojoxCalendarEvent.dojoxCalendarHorizontal.Edited .bg {
  border: dashed 1px #FFF;
  filter: formatstring("alpha(opacity={0})", 50);
  opacity: 0.5;
  filter: formatstring("alpha(opacity={0})", 50);
  opacity: 0.5;
}
.dojoxCalendarMatrixView .dojoxCalendarEvent.dojoxCalendarHorizontal.Focused .bg {
  border: dashed 1px #FFF;
}
.dojoxCalendarMatrixView .dojoxCalendarEvent.dojoxCalendarHorizontal .labels {
  position: absolute;
  left: 3px;
  right: 1px;
  bottom: 2px;
  overflow: hidden;
}
.dojoxCalendarMatrixView .dojoxCalendarEvent.dojoxCalendarHorizontal.Edited .labels {
  left: 33px;
  right: 31px;
}
.dojoxCalendarMatrixView .dojoxCalendarEvent.dojoxCalendarLabel .labels {
  position: absolute;
  left: 2px;
  right: 2px;
  bottom: 0;
  overflow: hidden;
}
.dojoxCalendarMatrixView .dojoxCalendarEvent.dojoxCalendarLabel.Selected {
  color: #F00;
}
.dojoxCalendarMatrixView .dojoxCalendarEvent.dojoxCalendarLabel.Edited {
  color: #FFF;
  border: dashed 1px #FFF;
  background: #600;
  filter: formatstring("alpha(opacity={0})", 30);
  opacity: 0.3;
  filter: formatstring("alpha(opacity={0})", 30);
  opacity: 0.3;
}
.dojoxCalendarMatrixView .dojoxCalendarEvent.dojoxCalendarLabel.Focused {
  border: dashed 1px #000000;
}
.dojoxCalendarMatrixView .dojoxCalendarEvent .resizeHandle {
  position: absolute;
  width: 30px;
  height: 100%;
  background-color: #fff;
  filter: formatstring("alpha(opacity={0})", 0);
  opacity: 0;
  filter: formatstring("alpha(opacity={0})", 0);
  opacity: 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  color: #000;
  text-align: center;
}
.dojoxCalendarMatrixView .dojoxCalendarEvent .moveHandle {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
.dojoxCalendarMatrixView .dojoxCalendarEvent .resizeStartHandle {
  right: auto;
}
.dojoxCalendarMatrixView .dojoxCalendarEvent .resizeEndHandle {
  right: 0px;
  left: auto;
}
.dojoxCalendarMatrixView .dojoxCalendarEvent.Edited .resizeHandle {
  filter: formatstring("alpha(opacity={0})", 30);
  opacity: 0.3;
  filter: formatstring("alpha(opacity={0})", 30);
  opacity: 0.3;
}
.dojoxCalendarMatrixView .dojoxCalendarExpand {
  position: absolute;
  text-align: center;
}
.dojoxCalendarMatrixView .dojoxCalendarExpand span {
  position: inline-block;
  vertical-align: middle;
}
.dojoxCalendarMatrixView .dojoxCalendarExpand .bg {
  position: relative;
  margin-right: 5px;
  margin-left: 5px;
  height: 100%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid transparent;
}
.dojoxCalendarMatrixView .dojoxCalendarExpand.Up .bg {
  background-color: #73abfa;
  border: 1px solid #1e56a5;
}
.dojoxCalendarMatrixView .dojoxCalendarExpand.Down .bg {
  background-color: #a5d1fb;
  border: 1px solid #507ca6;
}
.dojoxCalendarMatrixViewRtl .dojoxCalendarGrid {
  right: 50px;
  left: 0;
}
.dojoxCalendarMatrixViewRtl .dojoxCalendarGridTable td {
  text-align: left;
  border-bottom: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-right: none;
}
.dojoxCalendarMatrixViewRtl .dojoxCalendarGridTable td span {
  padding-left: 2px;
}
.dojoxCalendarMatrixViewRtl .dojoxCalendarGridTable td.last-child {
  border-left: 1px solid #cccccc;
}
.dojoxCalendarMatrixViewRtl .dojoxCalendarContainer {
  right: 50px;
  left: 0;
}
.dojoxCalendarMatrixViewRtl .dojoxCalendarContainerTable td {
  border-bottom: solid 1px transparent;
  border-right: solid 1px transparent;
  text-align: right;
  vertical-align: top;
}
.dojoxCalendarMatrixViewRtl .dojoxCalendarYearColumnHeader {
  position: absolute;
  right: 0;
  left: auto;
}
.dojoxCalendarMatrixViewRtl .dojoxCalendarColumnHeader {
  right: 50px;
  left: 0;
}
.dojoxCalendarMatrixView .dojoxCalendarColumnHeaderTable td {
  border-left: 1px solid #cccccc;
  border-right: none;
}
.dojoxCalendarMatrixViewRtl .dojoxCalendarRowHeader {
  right: 0;
  left: auto;
}
.dojoxCalendarMatrixViewRtl .dojoxCalendarEvent.dojoxCalendarHorizontal .labels {
  text-align: right;
}
.dojoxCalendarMatrixViewRtl .dojoxCalendarEvent.dojoxCalendarLabel .labels {
  text-align: right;
}
.dojoxCalendarMatrixViewRtl .dojoxCalendarEvent .resizeStartHandle {
  right: 0;
}
.dojoxCalendarMatrixViewRtl .dojoxCalendarEvent .resizeEndHandle {
  left: 0;
  right: auto;
}
