<%--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2013, 2014 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
--%>

<!-- BEGIN FacetNavigation_HorizontalView_UI.jsp -->

<div id="widget_left_nav<c:out value="${widgetSuffix}"/>">


	<c:if test="${f != 0}">
			<div class="row facetContainer">
				<div class="col12"  id="facetOptions<c:out value="${widgetSuffix}"/>">
					<div class="facetWidget collapsible" role="navigation" aria-label="<fmt:message key="LN_SEARCH_FACET_WIDGET" bundle="${widgetText}"/>" aria-expanded="true">
						<h3 class="toggle" role="button" tabIndex="0" aria-label="<fmt:message key="LN_SEARCH_FACET_FILTER_BY" bundle="${widgetText}"/>" aria-describedby="facet_widget_acce_desc"><fmt:message key="LN_SEARCH_FACET_FILTER_BY" bundle="${widgetText}"/></h3>
						<span id="facet_widget_acce_desc" class="spanacce"><fmt:message key="COLLAPSE_EXPAND_WIDGET_TITLE" bundle="${widgetText}" /></span>
						<a class="clearAll" role="button" href="#" aria-label="<fmt:message key="LN_SEARCH_FACET_CLEAR_ALL" bundle="${widgetText}"/>" id="clear_all_filter" style="display:none" onclick="dojo.topic.publish('Facet_RemoveAll');">
							<div class="close"></div>
							<fmt:message key="LN_SEARCH_FACET_CLEAR_ALL" bundle="${widgetText}"/>
						</a>
						<div class="clearFloat"></div>
						<div class="content">
						<div id="facetFilterListWrapper"></div>
						<form id="productsFacetsHorizontal">
							<script>
							function initSBNavConstants() {
								SearchBasedNavigationDisplayJS.initConstants(
									"<fmt:message key='LN_SEARCH_FACET_REMOVE'/>",
									"<fmt:message key='LN_SEARCH_FACET_SHOW_ALL'/>",
									"<fmt:message key='LN_SEARCH_FACET_SHOW_LESS'/>",
									"<c:out value='${env_CurrencySymbolToFormat}'/>");
							};
							if (window.addEventListener) {
								window.addEventListener("load", function() {initSBNavConstants();}, false);
							} else {
								window.attachEvent("load", function() {initSBNavConstants();});
							}
							</script>
							<c:if test="${!empty facetArray}">
								<c:forEach var="facetList" items="${facetArray}" varStatus="facetCounter">
									<c:set var="facetClass" value="${facetList[2] == true ? 'optionContainer singleFacet' : 'optionContainer'}"/>
									<c:set var="facetSection" value="${!empty(facetList[5]) ? facetList[5] : facetCounter.index}"/>
									<c:set var="facetSectionElement" value="${facetList[2] == true ? '' : facetSection}"/>

									<fieldset id="${facetList[0]}">
									<script>
										SearchBasedNavigationDisplayJS.uniqueParentArray['${facetList[0]}'] = 0;
										SearchBasedNavigationDisplayJS.widgetId = '${widgetSuffix}';
									</script>
									<legend class="spanacce" aria-hidden="true"><c:out value="${facetList[0]}"/></legend>

									<div class="horizontal">
										<div id="section_${facetSection}<c:out value="${widgetSuffix}"/>" class="${facetClass}">
											<div role="button" tabindex="0" aria-label="<c:out value="${facetList[0]}"/>" aria-describedby="facet_widget_acce_desc" onkeydown='if(event.keyCode == dojo.keys.SPACE || event.keyCode == dojo.keys.ENTER) {SearchBasedNavigationDisplayJS.toggleExpand("<c:out value="${facetSection}"/><c:out value="${widgetSuffix}"/>"); return false;}' onclick='SearchBasedNavigationDisplayJS.toggleExpand("<c:out value="${facetSection}"/><c:out value="${widgetSuffix}"/>"); return false;' class="title">
												<div id="icon_${facetSection}<c:out value="${widgetSuffix}"/>" class="arrow"></div>
												<c:out value="${facetList[0]}"/>
											</div>
											<div id="section_list_${facetSection}<c:out value="${widgetSuffix}"/>" class="facetSelectContainer">

												<ul class="facetSelect">
													<c:set var="priceFacet" value="false"/>
													<c:set var="FacetValueCountIncrementer" value="1" scope="page" />
													<c:forEach var="facetValues" items="${facetList[1]}" varStatus="aStatus" >
														<c:if test="${fn:startsWith(facetValues[2], 'price_')}">
															<c:set var="priceFacet" value="true"/>
														</c:if>
														<c:set var="facetId" value="${facetValues[3]}"/>
														<script>
															SearchBasedNavigationDisplayJS.facetIdsArray.push("${facetId}");
															SearchBasedNavigationDisplayJS.facetIdsParentArray.push("${facetList[0]}");
														</script>
														<c:set var="singleFacetClass" value="${!empty facetValues[4] ? 'singleFacet' : ''}"/>

														<li id="facet_${facetId}<c:out value="${widgetSuffix}"/>" class="${singleFacetClass}">
															<fieldset>
															<input tabindex="-1" class="nodisplay" type="checkbox" aria-labelledby="${facetId}_ACCE_Label" id="${facetId}" value="<c:out value='${facetValues[2]}' escapeXml='false'/>"
																onclick="if(this.disabled == false){if(this.checked){dojo.topic.publish('Facet_Add', '${facetId}');}else{dojo.topic.publish('Facet_Remove', '${facetId}')};}else{this.checked = false};"
																onkeypress="if(event.keyCode == dojo.keys.ENTER) {this.checked=!this.checked;if(this.checked){dojo.topic.publish('Facet_Add', '${facetId}');}else{dojo.topic.publish('Facet_Remove', '${facetId}');}}"
																<c:if test="${facetValues[1] == 0}">disabled</c:if>></input>
															<a role="${empty facetValues[4] && facetList[2] == true ? 'checkbox' : 'button'}" aria-labelledby="${facetId}_ACCE_Label" id="facetButton${widgetSuffix}" class="facetbutton" href="#" data-for="${facetId}">
																<span class="spanacce"><label for="${facetId}" aria-label="checkbox"><fmt:message key="LN_SEARCH_FACET_VALUE" bundle="${widgetText}"/></label></span>
																<c:choose>
																	<c:when test="${!empty facetValues[4]}">
																		<span class="swatch">
																			<span class="outline">
																				<span id="facetLabel_${facetId}"><img src="${facetValues[4]}" title="${facetValues[0]}" alt="${facetValues[0]}"/></span> <div class="facetCountContainer">(<span id="facet_count${facetId}"><c:out value="${facetValues[1]}"/></span>)</div>
																			</span>
																		</span>
																	</c:when>
																	<c:otherwise>
																		<div class="checkBox">
																			<div class="checkmark"></div>
																		</div>
																		<span class="outline">
																			<span id="facetLabel_${facetId}"><c:out value="${facetValues[0]}" escapeXml="false"/></span> <div class="facetCountContainer">(<span id="facet_count${facetId}"><c:out value="${facetValues[1]}"/></span>)</div>
																		</span>
																	</c:otherwise>
																</c:choose>
																<span class="spanacce" id="${facetId}_ACCE_Label">${facetValues[0]} <div class="facetCountContainer">(<c:out value="${facetValues[1]}"/>)</div></span>
															</a>
															</fieldset>
														</li>
													</c:forEach>

													<div class="clear_float"></div>

													<c:if test="${priceFacet}">
														<li id="price_range_input">
															<span class="spanacce"><label><fmt:message key="LN_SEARCH_FACET_LOWER_BOUND" bundle="${widgetText}"/></label></span>
															<span class="spanacce"><label><fmt:message key="LN_SEARCH_FACET_UPPER_BOUND" bundle="${widgetText}"/></label></span>
															<c:out value="${env_CurrencySymbolToFormat}" escapeXml="false"/>
															<input id="low_price_input" role="textbox" aria-label="<fmt:message key="LN_SEARCH_FACET_LOWER_BOUND" bundle="${widgetText}"/>" onkeyup="SearchBasedNavigationDisplayJS.checkPriceInput(event);" class="range_input" type="tel"/>
															-
															<c:out value="${env_CurrencySymbolToFormat}" escapeXml="false"/>
															<input id="high_price_input" role="textbox" aria-label="<fmt:message key="LN_SEARCH_FACET_UPPER_BOUND" bundle="${widgetText}"/>" onkeyup="SearchBasedNavigationDisplayJS.checkPriceInput(event);" class="range_input" type="tel"/>
															<input id="price_range_go" class="go_button_disabled" type="button" value="<fmt:message key="GO_BUTTON_LABEL" bundle="${widgetText}" />" onclick="dojo.topic.publish('Facet_Add');" />
														</li>
														<input type="hidden" id="low_price_value" name="low_price_value" value=""/>
														<input type="hidden" id="high_price_value" name="high_price_value" value=""/>
													</c:if>

												</ul>

												<c:if test="${facetList[4] == false}">

													<ul class="facetSelect" id="more_<c:out value='${facetSection}' escapeXml='false'/>"><div class="clear_float"></div> </ul>
													<div class="showMore" id="morebutton_<c:out value='${facetSection}' escapeXml='false'/>">
														<input title="MORE" type="checkbox" aria-labelledby="morelink_${facetSection}_ACCE_Label" id="morelink_${facetSection}" name="morelink_${facetSection}" value="<c:out value='${facetSection}' escapeXml='false'/>:-1" onclick="javascript: SearchBasedNavigationDisplayJS.toggleShowMore(this, '<c:out value='${facetSection}' escapeXml='false'/>');"/>
														<label for="morelink_${facetSection}" id="showMoreLabel_${facetSection}">
															<fmt:message key="LN_SEARCH_FACET_SHOW_ALL" bundle="${widgetText}"/>
														</label>
													</div>
												</c:if>
											</div>
										</div>
									</div>
									</fieldset>
								</c:forEach>
							</c:if>
						</form>
						</div>
					</div>
				</div>
			</div>
	</c:if>
	<c:if test="${requestScope.pageGroup == 'Search' && f == 0}">

			<div class="row facetContainer">
				<div class="col12" id="facetOptions">
					<div class="facetWidget collapsible" role="section" aria-expanded="true">
						<div class="header">
							<div class="title toggle" role="button" tabindex="0">
								<fmt:message key="LN_SEARCH_NO_FURTHER_REFINEMENT" bundle="${widgetText}"/>
							</div>
							<div class="clearFloat"></div>
						</div>
					</div>
				</div>
			</div>

	</c:if>
</div>

<script type="text/javascript">
	require(["dojo/on"], function(on) {
		on(document, "a.facetbutton:click", function(event) {
			var checkbox = document.getElementById(this.getAttribute("data-for"));
			checkbox.checked = !checkbox.checked;
			if (this.getAttribute("role") == "checkbox") {
				this.setAttribute("aria-checked", checkbox.checked);
			}
			checkbox.onclick();
			event.preventDefault();
	   });
	});

	var _searchBasedNavigationFacetContext = new Array();

	<c:forEach var="breadcrumb" items="${globalbreadcrumbs.breadCrumbTrailEntryView}">
		<c:if test="${breadcrumb.type_ != 'FACET_ENTRY_CATEGORY'}">
			_searchBasedNavigationFacetContext.push("<c:out value="${breadcrumb.value}"/>");
		</c:if>
	</c:forEach>

	require(["dojo/domReady!"], function(){
		setTimeout("SearchBasedNavigationDisplayJS.restoreHistoryContext();", 200);
	});


	window.onpopstate = function(event) {
		setTimeout("SearchBasedNavigationDisplayJS.restoreHistoryContext();", 200);
	};

</script>

<!-- END FacetNavigation_HorizontalView_UI.jsp -->