/*
 *-----------------------------------------------------------------
 * Licensed Materials - Property of IBM
 *
 * WebSphere Commerce
 *
 * (C) Copyright IBM Corp. 2013, 2014 All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with
 * IBM Corp.
 *-----------------------------------------------------------------
 */

#homePageEspot1_Slot {
	min-height: 300px;
}
#homePageEspot1_Slot .accent3 {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
}
#homePageEspot1_Slot .accent3 > div {
	width: 100%;
	height: 100%;
	background-image: url("accent3.png");
	background-position: center;
	background-size: cover;
}
#homePageEspot1_Slot .imageContainer {
	position: relative;
	max-width: 720px;
	min-height: 200px;
	top: 20px;
	right: 0px;
	width: 100%;
	z-index: 1;
}
html[lang='ar'] #homePageEspot1_Slot .imageContainer, html[lang='he'] #homePageEspot1_Slot .imageContainer {
	left: -10px;
	right: auto;
	transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
}

html[lang='ar'].dj_ie8 #homePageEspot1_Slot .imageContainer, html[lang='he'].dj_ie8 #homePageEspot1_Slot .imageContainer {
	filter: fliph();
}
#homePageEspot1_Slot #accent1 {
	left: -20px;
	max-width: 235px;
	position: absolute;
	width: 35%;
	z-index: 3;
}
#homePageEspot1_Slot #accent2 {
	left: 27%;
	max-width: 164px;
	position: absolute;
	width: 24%;
	z-index: 4;
}
#homePageEspot1_Slot #accent3 {
	max-width: 318px;
	position: absolute;
	right: 12%;
	top: -40px;
	width: auto;
	height: 250px;
	z-index: 2;
}
#homePageEspot1_Slot #accent4 {
	max-width: 149px;
	position: absolute;
	right: 0px;
	width: 19%;
	z-index: 4;
}
.homeESpotContainer .textContainer {
	text-align: left;
	z-index: 5;
}
.homeESpotContainer {
	color: #666666;
	margin: 10px 24px 0 30px;
	max-width: 1010px;
	text-align: center;
}
@media screen and (min-width: 1281px) {
	#homePageEspot1_Slot #accent3 {
		height: 319px;
		width: 44%;
		top: -70px;;
	}
}
@media screen and (max-width: 1280px) {
	#homePageEspot1_Slot #accent3 {
		height: 305px;
		width: 44%;
		top: -70px;;
	}
}
@media screen and (max-width: 1133px) {
	#homePageEspot1_Slot #accent3 {
		height: 273px;
		width: 44%;
		top: -70px;;
	}
}
@media screen and (max-width: 1053px) {
	#homePageEspot1_Slot #accent3 {
		height: 250px;
		width: 44%;
		top: -70px;;
	}
}
@media screen and (max-width: 952px) {
	#homePageEspot1_Slot .imageContainer {
		max-width: 720px;
		right: 0px;
		width: 100%;
		z-index: 1;
	}
	#homePageEspot1_Slot #accent1 {
		left: -20px;
		position: absolute;
		width: 35%;
		z-index: 3;
	}
	#homePageEspot1_Slot #accent2 {
		left: 27%;
		position: absolute;
		width: 24%;
		z-index: 4;
	}
	#homePageEspot1_Slot #accent3 {
		position: absolute;
		right: 12%;
		top: -70px;;
		height: 235px;
		width: 235px;
		z-index: 2;
	}
	#homePageEspot1_Slot #accent4 {
		position: absolute;
		right: 0px;
		width: 19%;
		z-index: 4;
	}
}
@media screen and (max-width: 845px) {
	#homePageEspot1_Slot #accent3 {
		height: 188px;
		width: 188px;
		right: 20px;
		top: -70px;;
	}
}
#homePageEspot1_Slot,
#homeSlot6,
#homeSlot7a,
#homeSlot7b,
#homeSlot8 {
	padding-left: 10px;
}

@media screen and (max-width: 663px) {
	#homePageEspot1_Slot #accent3 {
		height: 148px;
		width: 44%;
		top: -70px;;
	}
}

html[lang='ar'] #homePageEspot1_Slot, html[lang='he'] #homePageEspot1_Slot,
html[lang='ar'] #homeSlot6, html[lang='he'] #homeSlot6,
html[lang='ar'] #homeSlot7a, html[lang='he'] #homeSlot7a,
html[lang='ar'] #homeSlot7b, html[lang='he'] #homeSlot7b,
html[lang='ar'] #homeSlot8, html[lang='he'] #homeSlot8 {
	padding-right: 10px;
	padding-left: 0;
}
@media screen and (max-width: 600px) {
	#homePageEspot1_Slot .accent3 > div {
		width: 100%;
		height: 100%;
		background-image: url("accent3.jpg");
		background-position: center;
		background-size: cover;
	}
	#homePageEspot1_Slot .textContainer {
		width: 63%;
	}
	#homePageEspot1_Slot .imageContainer {
		left: 0px;
		max-width: 320px;
		min-height: 100px;
		width: 100%;
		z-index: 1;
	}
	html[lang='ar'] #homePageEspot1_Slot .imageContainer, html[lang='he'] #homePageEspot1_Slot .imageContainer {
		top: 50px;
	}
	#homePageEspot1_Slot #accent1 {
		left: -20px;
		width: 150px;
	}
	#homePageEspot1_Slot #accent2 {
		left: 36%;
		width: 97px;
	}
	#homePageEspot1_Slot #accent3 {
		right: -3%;
		top: -70px;
		width: 148px;
	}
	#homePageEspot1_Slot #accent4 {
		display: none;
		right: -42px;
		width: 127px;
	}
	.homeESpotContainer {
		margin: 21px 0 20px 0 !important;
		position: relative;
	}
}
@media screen and (max-width: 362px) {
	html[lang='ar'] #homePageEspot1_Slot .imageContainer, html[lang='he'] #homePageEspot1_Slot .imageContainer {
		left: 2%;
		width: 90%;
	}
}
