/*
 *-----------------------------------------------------------------
 * Licensed Materials - Property of IBM
 *
 * WebSphere Commerce
 *
 * (C) Copyright IBM Corp. 2013, 2014 All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with
 * IBM Corp.
 *-----------------------------------------------------------------
 */
 
.rowContainer {
	background:url('girl_a_wide.jpg');
	background-repeat:no-repeat;
	padding: 5px 0px;
	z-index:0;
	position: static;
	left: -4%;
	top: 179px;
	width: 100%;
}

html[lang='he'] .rowContainer, html[lang='ar'] .rowContainer {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	right: -4%;
	left: 0;
}
html[lang='he'].dj_ie8 .rowContainer, html[lang='ar'].dj_ie8 .rowContainer {
	filter: fliph();
}

html[lang='he'] .rowContainer > .row:nth-child(1), html[lang='ar'] .rowContainer > .row:nth-child(1),
html[lang='he'] .rowContainer > .row:nth-child(2), html[lang='ar'] .rowContainer > .row:nth-child(2) { 
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}
html[lang='he'].dj_ie8 .rowContainer > .row:nth-child(1), html[lang='ar'].dj_ie8 .rowContainer > .row:nth-child(1),
html[lang='he'].dj_ie8 .rowContainer > .row:nth-child(2), html[lang='ar'].dj_ie8 .rowContainer > .row:nth-child(2) {
	filter: fliph();
}

.rowContainer{
	background-position: -80px 42px;
	background-size: 2800px;
}

.left_espot.centered > a, 
.left_espot.centered > img {
	margin: 1px;
}

#searchLandSlot7 {
	-webkit-border-radius: 10px;
	border-radius: 10px; 
	-moz-border-radius: 10px;
	border: 1px solid #bbb;
	overflow: hidden;
	margin: 0 20px 20px 20px;
	height: auto;

	background:url('girl_b.jpg') right no-repeat;
	
	/*
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='girl_b.jpg',sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='girl_b.jpg',sizingMethod='scale')";
	*/
	
	background-size: cover;
	position: static;
	/*
	background:url('w2_tile.jpg') repeat-x;*/
	position: relative;
	
	padding: 0px;
}

html[lang='he'] #searchLandSlot7 > div, html[lang='ar'] #searchLandSlot7 > div {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	float: left;
}	

html[lang='he'].dj_ie8 #searchLandSlot7 > div, html[lang='ar'].dj_ie8 #searchLandSlot7 > div {
	filter: fliph();	
}

#searchLandSlot7 #modelImage {
	position: absolute;
	right: -165px;
	top: 0px;
	z-index: 2;
}

#contentContainerBackground {
	z-index:0;
	position: absolute;
	left: -4%;
	top: 179px;
	width: 200%;
	max-width: 4000px;
	min-width: 2291px;
}

.rowContainer> .row:nth-child(2) >div:nth-child(2){
	float:right !important;
	padding-bottom: 60px;
}

.rowContainer> .row:first-child + .row >div:first-child + div{
	float:right !important;
	padding-bottom: 60px;
}

html[lang='he'] .rowContainer> .row:nth-child(2) >div:nth-child(2),
html[lang='ar'] .rowContainer> .row:nth-child(2) >div:nth-child(2){
	float:left !important;
}

.widget_product_listing {
	background-color: transparent !important;
}

.widget_carousel {
	margin: 0 10px 10px 20px;
}

#searchLandSlot7 h1 {
	color: #073769;
	margin: 20px 10px 20px 20px;
	font-size: 21px;
	font-weight: bold;
	padding: 0px;
}

.slot4 div[id^="contentRecommendationWidget_"] > div.left_espot > h1{
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	color: #9F0F0F;
	font-size: 21px;
	font-weight: bold;
	padding: 10px;
}

div[id^="catalogEntryRecommendationWidget_"] {
	margin-bottom: 20px;
	margin-left: 20px;
	background: #fff;
	background-image: none !important;
}

div[id^="catalogEntryRecommendationWidget_"] .product > .product_image {
	overflow: hidden;
	float: left;
	margin: .5em 10px .5em 0;
}

html[lang='he'] div[id^="catalogEntryRecommendationWidget_"] .product > .product_image,
html[lang='ar'] div[id^="catalogEntryRecommendationWidget_"] .product > .product_image {
	float: right;
	margin: .5em 0 .5em 10px;
}

div[id^="catalogEntryRecommendationWidget_"] .product > .compare_target  {
	display: none;
}

div.widget_carousel_catalog {
	background-image: url('../../images/colors/color1/widget_carousel/widget_bg.png') !important;
}

.category > .productContainer li {
	margin-top: 10px;
	margin-bottom: 0px !important;
}

div.widget_carousel div.product > .product_info > .product_name {
	margin-top: 0px !important;
}

div.widget_carousel div.product > .product_info > .product_price {
	margin-bottom: 0px;
}

@media screen and (min-width: 1660px){

	#contentContainerBackground {
		left: 0;
	}
	div[id^="ContentAreaESpotInfoImgLink__5"] {
		display:block;
	}
	
	div[id^="contentRecommendationWidget_"].carousel > .content > ul > li {
		width: 20% !important;
	}
}

@media screen and (min-width: 1601px) {
	.rowContainer{
		background-position: 0 72px;
		background-size: auto;
	}
}
	
@media screen and (max-width: 1600px) {
	.rowContainer{
		background-position: -80px 72px;
		background-size: auto;
	}
}

@media screen and (min-width: 1110px) and (max-width: 1660px) {
	div[id^="contentRecommendationWidget_"].carousel > .content > ul > li {
		width: 25% !important;
	}
	.carousel > .prevPageButton, 
	.carousel > .nextPageButton {
		display: block !important;
	}
}

@media screen and (max-width: 1280px) {
	.rowContainer{
		background-size: 2800px;
	}
	
	.rowContainer> .row:nth-child(2) >div:nth-child(2) {
		padding-bottom: 50px;
	}
}

@media screen and (min-width: 901px) and (max-width: 1280px) {
	.rowContainer{
		background-position: -25px 60px;
		background-size: 3115px;
	}
}

@media screen and (max-width: 900px) {
	.rowContainer> .row:nth-child(2) >div:nth-child(2) {
		padding-bottom: 10px;
	}
}

@media screen and (max-width: 900px) {
	.rowContainer{
		background-position: -70px 60px;
	}
}

@media screen and (max-width: 730px) {
	.category > .productContainer li {
		margin-bottom: 20px !important;
	}

	div.widget_carousel div.product > .product_info > .product_name {
		margin-top: 14px !important;
	}
}

@media screen and (max-width: 650px) {
	.rowContainer{
		background-position: -80px 60px;
	}
}

@media screen and (max-width: 600px) {
	.rowContainer{
		background-position: -200px 72px;
	}
	
	.category > .productContainer li {
		margin-bottom: 0px !important;
	}
	
	#searchLandSlot7 {
		background-position: -3240px 0px;
		margin: 0 0 0 0;
	}
	
	#searchLandSlot7 h1 {
		margin: 0 0 0 0;
	}

	#contentContainerBackground {
		min-width: 2436px;
		left: -9%;
		width:455%;
	}
	
	div[id^="catalogEntryRecommendationWidget_"] {
		margin-left:0px;
	}
}

@media screen and (max-width: 520px) {
	#searchLandSlot7 {
		background-position: -2500px 0px;
	}
	.rowContainer{
		background-position: -200px -68px;
	}
	.widget_carousel {
		margin: 0 0 0 0;
	}
	.contentContainer {
		margin: 0 0 10px 0;
	}
}