<%--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2011, 2013 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
--%>

<c:if test="${!pageloaded_createShopListPopupJSPF}">
	<div id="<c:out value="${param.parentPage}"/>createShoppingListPopup" dojoType="dijit.Dialog" title="<fmt:message key='DIALOG_TITLE_CREATE_WISHLIST' bundle='${widgetText}' />" style="display:none;">
		<div class="widget_site_popup">
			<div class="top">
				<div class="left_border"></div>
				<div class="middle"></div>
				<div class="right_border"></div>
			</div>
			<div class="clear_float"></div>
			<div class="middle">
				<div class="content_left_border">
					<div class="content_right_border">
						<div class="content">
							<div class="header">
								<span><fmt:message key="SL_CREATE_NEW_SHOPPING_LIST" bundle="${widgetText}" /></span>
								<a role="button" id="${param.parentPage}createShoppingListPopup_close" href="javascript:void(0);" aria-label="<fmt:message key="SL_CLOSE" />" title="<fmt:message key="SL_CLOSE" />"
								<c:choose>
									<c:when test="${param.parentPage == 'QuickInfo'}">
										onclick="dijit.byId('<c:out value="${param.parentPage}"/>createShoppingListPopup').hide(); QuickInfoJS.showDetails('<c:out value="${param.productId}"/>');"	
									</c:when>
									<c:otherwise>
										onclick="dijit.byId('<c:out value="${param.parentPage}"/>createShoppingListPopup').hide();"
									</c:otherwise>
								</c:choose> 
								class="close tlignore" tabindex="4" title="<fmt:message key="SL_CLOSE" bundle="${widgetText}" />"></a>
								<div class="clear_float"></div>
							</div>
							<div class="body">
								<div id="${param.parentPage}shoppingListErrorMessageArea" style="display:none">
									<img class="error_icon" src="<c:out value='${staticAssetContextRoot}/Widgets/${env_vfileColor}'/>error_icon.png" alt=""/>
									<p id="${param.parentPage}shoppingListErrorMessageText" class="textinlinewithicon"></p>
									<div class="clear_float"></div>
								</div>
								<div class="item_spacer_10px"></div>
								<p><fmt:message key="SL_NAME_NEW_LIST" bundle="${widgetText}" /></p>
								<form>
									<span class="spanacce">
										<label for="${param.parentPage}newListName"><fmt:message key="SL_NAME_NEW_LIST" bundle="${widgetText}" /></label>
									</span>
									<input id="<c:out value="${param.parentPage}"/>newListName" type="text" size="35" maxlength="64" value="" onkeypress='if(event.keyCode==13){ shoppingListJS<c:out value="${param.parentPage}"/>.create(); dojo.stopEvent(event);}' tabindex="1"/>
								</form>
								<div class="item_spacer_10px"></div>
							</div>
							<div class="footer">
								<div class="button_container">
									<a id="<c:out value="${param.parentPage}"/>createShoppingListPopup_save" href="javascript: shoppingListJS<c:out value="${param.parentPage}"/>.create();" class="button_primary tlignore" tabindex="2">
										<div class="left_border"></div>
										<span id="<c:out value="${param.parentPage}"/>CreateShoppingListPopup_div_create_save" class="button_text"><fmt:message key="SAVE" bundle="${widgetText}" /></span>
										<div class="right_border"></div>
									</a>
									<a id="<c:out value="${param.parentPage}"/>createShoppingListPopup_cancel" href="javascript:void(0);"
									<c:choose>
										<c:when test="${param.parentPage == 'QuickInfo'}">
											onclick="dijit.byId('<c:out value="${param.parentPage}"/>createShoppingListPopup').hide();QuickInfoJS.showDetails('<c:out value="${param.productId}"/>');" 	
										</c:when>
										<c:otherwise>
											onclick="dijit.byId('<c:out value="${param.parentPage}"/>createShoppingListPopup').hide();" 
										</c:otherwise>
									</c:choose> 
									class="button_secondary tlignore" tabindex="3">
										<div class="left_border"></div>
										<span class="button_text"><fmt:message key="CANCEL" bundle="${widgetText}" /></span>
										<div class="right_border"></div>
									</a>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
			<div class="clear_float"></div>
			<div class="bottom">
				<div class="left_border"></div>
				<div class="middle"></div>
				<div class="right_border"></div>
			</div>
			<div class="clear_float"></div>
		</div>
	</div>
	<c:set var="pageloaded_createShopListPopupJSPF" value="true" scope="request"/>
</c:if>