<%--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2012, 2013 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
--%>

<c:if test="${!pageloaded_editShopListPopupJSPF}">
	<div id="editShoppingListPopup" dojoType="dijit.Dialog" title="<fmt:message key='DIALOG_TITLE_EDIT_WISHLIST' bundle='${widgetText}' />" style="display:none;">
		<div class="widget_site_popup">
			<div class="top">
				<div class="left_border"></div>
				<div class="middle"></div>
				<div class="right_border"></div>
			</div>
			<div class="clear_float"></div>
			<div class="middle">
				<div class="content_left_border">
					<div class="content_right_border">
						<div class="content">
							<div class="header">
								<span><fmt:message key="MULTIPLE_WISHLIST_edit" bundle="${widgetText}" /></span>
								<a role="button" id="editShoppingListPopup_close" href="javascript:void(0);" onclick="dijit.byId('editShoppingListPopup').hide();" class="close" tabindex="4" title="<fmt:message key="SL_CLOSE" bundle="${widgetText}" />" aria-label="<fmt:message key="SL_CLOSE" />" ></a>
								<div class="clear_float"></div>
							</div>
							<div class="body">
								<div id="editShoppingListErrorMessageArea" style="display:none">
									<img class="error_icon" src="<c:out value='${staticAssetContextRoot}/Widgets/${env_vfileColor}'/>error_icon.png" alt=""/>
									<p id="editShoppingListErrorMessageText" class="textinlinewithicon"></p>
									<div class="clear_float"></div>
								</div>
								<div class="item_spacer_10px"></div>
								<p><label for="editListName"><fmt:message key="MULTIPLE_WISHLIST_edit_header" bundle="${widgetText}" /></label></p>
								<form>
									<input id="editListName" type="text" size="35" maxlength="64" value="" onkeypress="javascript: if(event.keyCode==13){shoppingListJS.edit(); dojo.stopEvent(event);}" tabindex="1"/>
								</form>
								<div class="item_spacer_10px"></div>
							</div>
							<div class="footer">
								<div class="button_container">
									<a id="editShoppingListPopup_save" href="javascript: shoppingListJS.edit();" class="button_primary" tabindex="2">
										<div class="left_border"></div>
										<span id="editShoppingListPopup_div_edit_save" class="button_text"><fmt:message key="SAVE" bundle="${widgetText}" /></span>
										<div class="right_border"></div>
									</a>
									<a id="editShoppingListPopup_cancel" href="javascript:void(0);" onclick="dijit.byId('editShoppingListPopup').hide();" class="button_secondary" tabindex="3">
										<div class="left_border"></div>
										<span class="button_text"><fmt:message key="CANCEL" bundle="${widgetText}" /></span>
										<div class="right_border"></div>
									</a>
									<div class="clear_float"></div>
								</div>
								<div class="clear_float"></div>
							</div>
							<div class="clear_float"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="clear_float"></div>
			<div class="bottom">
				<div class="left_border"></div>
				<div class="middle"></div>
				<div class="right_border"></div>
			</div>
			<div class="clear_float"></div>
		</div>
	</div>
	<c:set var="pageloaded_editShopListPopupJSPF" value="true" scope="request"/>
</c:if>	