<%--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2012, 2013 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
--%>

<c:if test="${!pageloaded_shopListCreateSuccessJSPF}">
	<div id="<c:out value="${param.parentPage}"/>shoppingListCreateSuccessPopup" dojoType="dijit.Dialog" title="<fmt:message key='LIST_CREATED' bundle='${widgetText}' />" style="display:none;">
		<div class="widget_site_popup">
			<div class="top">
				<div class="left_border"></div>
				<div class="middle"></div>
				<div class="right_border"></div>
			</div>
			<div class="clear_float"></div>
			<div class="middle">
				<div class="content_left_border">
					<div class="content_right_border">
						<div class="content">
							<a role="button" id="<c:out value="${param.parentPage}"/>shoppingListCreateSuccessPopup_close" href="javascript:void(0);" aria-label="<fmt:message key="SL_CLOSE" />" title="<fmt:message key="SL_CLOSE" />"
							<c:choose>
								<c:when test="${param.parentPage == 'QuickInfo'}">
									onclick="dijit.byId('<c:out value="${param.parentPage}"/>shoppingListCreateSuccessPopup').hide(); QuickInfoJS.showDetails('<c:out value="${param.productId}"/>'); javascript: document.getElementById('<c:out value="${param.parentPage}"/>addToShoppingList').focus();"	
								</c:when>
								<c:otherwise>
									onclick="dijit.byId('<c:out value="${param.parentPage}"/>shoppingListCreateSuccessPopup').hide(); javascript: document.getElementById('<c:out value="${param.parentPage}"/>addToShoppingList').focus();"
								</c:otherwise>
							</c:choose> 
							class="close tlignore" title="<fmt:message key="SL_CLOSE" bundle="${widgetText}" />"></a>
							<div class="body">
								<div class="item_spacer_10px"></div>
								<div class="item_spacer_10px"></div>
								<div class="item_spacer_10px"></div>
								<div class="item_spacer_10px"></div>
								<img class="error_icon" src="<c:out value='${staticAssetContextRoot}/Widgets/${env_vfileColor}'/>success_icon.png" alt=""/>
								<p id="<c:out value="${param.parentPage}"/>successMessageAreaText" class="textinlinewithicon"><fmt:message key="LIST_CREATED" bundle="${widgetText}" /></p>
								<div class="clear_float"></div>
								<div class="item_spacer_10px"></div>
								<div class="item_spacer_10px"></div>
								<div class="item_spacer_10px"></div>
								<div class="item_spacer_10px"></div>
							</div>
							<div class="footer">
								<div class="button_container">
									<a id="<c:out value="${param.parentPage}"/>shoppingListCreateSuccessPopup_continue_shopping" href="javascript:void(0);"
									<c:choose>
										<c:when test="${param.parentPage == 'QuickInfo'}">
											onclick="dijit.byId('<c:out value="${param.parentPage}"/>shoppingListCreateSuccessPopup').hide();QuickInfoJS.showDetails('<c:out value="${param.productId}"/>'); javascript: document.getElementById('<c:out value="${param.parentPage}"/>addToShoppingList').focus();" 	
										</c:when>
										<c:otherwise>
											onclick="dijit.byId('<c:out value="${param.parentPage}"/>shoppingListCreateSuccessPopup').hide(); javascript: document.getElementById('<c:out value="${param.parentPage}"/>addToShoppingList').focus();" 
										</c:otherwise>
									</c:choose> 
									class="button_primary tlignore">
										<div class="left_border"></div>
										<div class="button_text"><fmt:message key="SL_CONTINUE_SHOPPING" bundle="${widgetText}" /></div>
										<div class="right_border"></div>
									</a>
									<div class="clear_float"></div>
								</div>
								<div class="clear_float"></div>
							</div>
							<div class="clear_float"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="clear_float"></div>
			<div class="bottom">
				<div class="left_border"></div>
				<div class="middle"></div>
				<div class="right_border"></div>
			</div>
			<div class="clear_float"></div>
		</div>
	</div>
	<c:set var="pageloaded_shopListCreateSuccessJSPF" value="true" scope="request"/>
</c:if>