<%--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2011, 2013 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
--%>
<%-- START NamePartNumberAndPriceDynamicKit_UI.jspf --%>

<!-- Widget Product Information Viewer -->
<div id="widget_product_info_viewer" class="widget_product_info_viewer" itemscope itemtype="http://data-vocabulary.org/Product">
	<div class="top namePartPriceContainer" itemprop="offerDetails" itemscope itemtype="http://data-vocabulary.org/Offer">
		
		<div class="clear_float"></div>
		<div class="item_spacer_3px"></div>
		
		<h1 id="product_name_<c:out value='${catalogEntryID}'/>" class="main_header" itemprop="name"><c:out value="${name}" escapeXml="false"/></h1>
		<span id="dynamicKit_SKU" class="sku"><fmt:message key="BD_SKU" bundle="${widgetText}"/>: <c:out value="${partnumber}" escapeXml="false" /></span>
		
		<div class="clear_float"></div>
		
		<c:if test="${requestScope.dynamicKitAvailable eq 'false'}">
			<div class="not_available"><fmt:message key="PD_PRODUCT_NOT_AVAILABLE_MESSAGE" bundle="${widgetText}"/></div>
		</c:if>
		
		<div class="item_spacer_10px"></div>

		<div id="price_display_<c:out value='${catalogEntryID}'/>">
			<c:set var="displayPriceRange" value="true" />
			<%@ include file="../Common/PriceDisplay/PriceDisplay.jspf" %>
		</div>
		
	</div>
</div>

<%-- END NamePartNumberAndPriceDynamicKit_UI.jspf --%>
