<%--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2011, 2013 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
--%>

<%-- START NameAndPartNumber_Data.jspf --%>

<%@ include file="/Widgets/Common/PDP_CatalogEntryData.jspf" %>

<c:set var="name" value="${catalogEntryDetails.name}" />
<c:set var="partnumber" value="${catalogEntryDetails.partNumber}" />
<c:set var="partNumber" value="${catalogEntryDetails.partNumber}" />
<c:set var="manufacturerName" value="${catalogEntryDetails.manufacturer}" />

<%--
<wcf:useBean var="swatchImagesList" classname="java.util.ArrayList"/>
<c:forEach items="${catalogEntryDetails.attachments}" var="attachment">
	<c:if test="${attachment.usage == 'SWATCH_IMAGE'}">
	    <c:forEach var="metaData" items="${attachment.metaData}">
			<c:if test="${metaData.typedKey == 'name'}">
				<c:set var="attchName" value="${metaData.typedValue}" />
			</c:if>
			<c:if test="${metaData.typedKey == 'identifier'}">
				<c:set var="attchIdentifier" value="${metaData.typedValue}" />
			</c:if>
		</c:forEach>
		<jsp:useBean id="swatchDetails" class="java.util.HashMap" type="java.util.Map"/>
		<c:set target="${swatchDetails}" property="name" value="${attchName}"/>
		<c:set target="${swatchDetails}" property="identifier" value="${attchIdentifier}"/>
		<c:set target="${swatchDetails}" property="assetPath" value="${attachment.attachmentAssetPath}"/>
		<wcf:set target="${swatchImagesList}" value="${swatchDetails}"/>
		<c:remove var="swatchDetails"/>
	</c:if>
</c:forEach>
--%>
<%--
<c:if test="${not empty param.displayAttachments and param.displayAttachments}">
	<wcf:useBean var="attachmentsList" classname="java.util.ArrayList"/>
	<c:forEach items="${catalogEntryDetails.attachments}" var="attachment">
		<c:set var="fetchAttachments" value="true" />
		<%-- if usage is specified, only display attachment of the specified usage.
		<c:choose>
			<c:when test="${!empty param.usage}">
			    <c:if test="${param.usage ne attachment.usage}">
				    <c:set var="fetchAttachments" value="false" />
			    </c:if>
			</c:when>
			<c:when test="${!empty param.excludeUsageStr}">
				<%-- checks the usage type of this attachment and see if should exclude this attachment from display
	            <c:forTokens items="${param.excludeUsageStr}" delims="," var="usageType">
				    <c:if test="${usageType == attachment.usage}">
					    <c:set var="fetchAttachments" value="false" />
				    </c:if>
			    </c:forTokens>
			</c:when>
		</c:choose>
			
		<c:if test="${fetchAttachments}">
			<c:set var="mimeType" value="${attachment.mimeType}" />
			<c:set var="mimePart" value="" />
		
			<c:forTokens items="${mimeType}" delims="/" var="mimePartFromType" end="0">
				<c:set var="mimePart" value="${mimePartFromType}" />
			</c:forTokens>

			<c:choose>
				<c:when test="${(fn:startsWith(attachment.attachmentAssetPath, 'http://') || fn:startsWith(attachment.attachmentAssetPath, 'https://'))}">
					<wcst:resolveContentURL var="resolvedPath" url="${attachment.attachmentAssetPath}" mimeTypeVar="resolvedMimeType" mimeSubtypeVar="resolvedMimeSubtype"/>
					<c:set var="assetPath" value="${resolvedPath}"/>
					<c:if test="${!empty resolvedMimeType}">
						<c:set var="mimeType" value="${resolvedMimeType}"/>
						<c:set var="mimePart" value="${resolvedMimeType}"/>
						<c:if test="${!empty resolvedMimeSubtype}">
							<c:set var="mimeType" value="${resolvedMimeType}/${resolvedMimeSubtype}"/>
						</c:if>
					</c:if>
				</c:when>
				<c:when test="${mimePart eq 'uri' || empty mimePart}">
					<c:set var="assetPath" value="${attachment.attachmentAssetPath}"/>
				</c:when>
				<c:otherwise>
					<c:set var="assetPath" value="${env_imageContextPath}/${attachment.attachmentAssetPath}"/>
				</c:otherwise>
			</c:choose>
	    
			<c:set var="attachmentType" value="default"/>
			<c:if test="${not empty mimeType}">	
				<c:if test="${mimeType eq 'text/plain'}">
					<c:set var="attachmentType" value="text"/>
				</c:if>
				<c:if test="${mimeType eq 'image/gif' || mimeType eq 'image/jpeg' || mimeType eq 'image/png'}">
					<c:set var="attachmentType" value="image"/>
				</c:if>
				<c:if test="${mimeType eq 'application/pdf'}">
					<c:set var="attachmentType" value="pdf"/>
				</c:if>
				<c:if test="${mimeType eq 'application/postscript' || mimeType eq 'application/msword'}">
					<c:set var="attachmentType" value="doc"/>
				</c:if>
				<c:if test="${mimeType eq 'application/vnd.ms-powerpoint'}">
					<c:set var="attachmentType" value="presentation"/>
				</c:if>
				<c:if test="${mimeType eq 'application/vnd.ms-excel'}">
					<c:set var="attachmentType" value="spreadsheet"/>
				</c:if>
				<c:if test="${mimeType eq 'audio/x-wav' || mimeType eq 'audio/x-pn-realaudio' || mimeType eq 'audio/x-pn-realaudio-plugin'}">
					<c:set var="attachmentType" value="audio"/>
				</c:if>
				<c:if test="${mimeType eq 'video/mpeg' || mimeType eq 'video/quicktime'|| mimeType eq 'video/x-msvideo'|| mimeType eq 'application/x-shockwave-flash'}">
					<c:set var="attachmentType" value="video"/>
				</c:if>
				<c:if test="${mimeType eq 'application/x-gzip' || mimeType eq 'application/zip' || mimeType eq 'application/x-gtar' || mimeType eq 'application/x-tar' || mimeType eq 'application/java-archive'}">
					<c:set var="attachmentType" value="archive"/>
				</c:if>
			</c:if>
			<c:if test="${empty mimePart}">
				<c:set var="attachmentType" value="webpage"/>
			</c:if>
			<c:set var="attchImage" value="${jspStoreImgDir}${env_vfileColor}${attachmentType}_32.png" />
			
	 		<c:forEach var="metaData" items="${attachment.metaData}">
				<c:if test="${metaData.typedKey == 'name'}">
					<c:set var="attchName" value="${metaData.typedValue}" />
				</c:if>
				<c:if test="${metaData.typedKey == 'shortdesc'}">
					<c:set var="attchShortDesc" value="${metaData.typedValue}" />
					<c:set var="description" value="${attchShortDesc}"/>
				</c:if>
				<c:if test="${metaData.typedKey == 'longdesc'}">
					<c:set var="attchLongDesc" value="${metaData.typedValue}" />
				</c:if>
			</c:forEach>
			<c:if test="${empty description and not empty attchLongDesc}">
				<c:set var="description" value="${attchLongDesc}"/>
			</c:if>
			<c:choose>
				<c:when test="${empty mimePart || mimeType == 'content/unknown' || mimeType == 'text/html'}">
					<c:set var="linkName" value="${assetPath}"/>
				</c:when>
				<c:otherwise>
					<fmt:message key="DOWNLOAD_{0}" var="linkName"  bundle="${widgetText}" >
						<fmt:param value="${fn:toUpperCase(attachmentType)}"/>
					</fmt:message>
				</c:otherwise>
			</c:choose>
			
			<jsp:useBean id="attachmentDetails" class="java.util.HashMap" type="java.util.Map"/>
			<c:set target="${attachmentDetails}" property="name" value="${attchName}"/>
			<c:set target="${attachmentDetails}" property="linkName" value="${linkName}"/>
			<c:set target="${attachmentDetails}" property="assetPath" value="${assetPath}"/>
			<c:set target="${attachmentDetails}" property="image" value="${attchImage}"/>
			<c:set target="${attachmentDetails}" property="attachmentType" value="${fn:toUpperCase(attachmentType)}"/>
			<c:set target="${attachmentDetails}" property="description" value="${description}"/>
			
			<wcf:set target="${attachmentsList}" value="${attachmentDetails}"/>
			<c:remove var="attachmentDetails"/>
			<c:remove var="attachmentType"/>
			<c:remove var="attchImage"/>
		</c:if>
	</c:forEach>
</c:if>
--%>

<c:if test="${not empty originalSearchCatEntry.metaData.score}">
	<fmt:formatNumber var="searchScore" type="number" maxFractionDigits="15" groupingUsed="true" value="${originalSearchCatEntry.metaData.score}" />
</c:if>

<%-- END NameAndPartNumber_Data.jspf --%>
