<%--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2011, 2013 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
--%>
<%-- Display only if there is some association --%>
<c:if test="${hasAssociations}">
	<script>
	var merchandisingAssociations = new Array();
	<c:forEach var="merchandisingAssociation" items="${merchandisingAssociationMap}" varStatus="iteration">
		merchandisingAssociations[${iteration.count-1}] = ${merchandisingAssociation.value};
	</c:forEach>
	MerchandisingAssociationJS.setValues(${storeParams}, ${baseItemParams}, merchandisingAssociations);
	</script>
	
	<div id="widget_coordinate">
		<div class="content widget_bundle_package_list">
			<div class="coordinate_title container_full_width_bundle"><fmt:message key="MA_COORDINATE" bundle="${widgetText}"/></div>
			<div class="coordinate_body">
				<div class="left_column list_mode package_mode">
					
					<fmt:message key="PC_PREVIOUS_PAGE" bundle="${widgetText}" var="PC_PREVIOUS_PAGE"/>
					<fmt:message key="PC_NEXT_PAGE" bundle="${widgetText}" var="PC_NEXT_PAGE"/>
					<fmt:message key="PC_MOVE_TO_PAGE_{0}" bundle="${widgetText}" var="PC_MOVE_TO_PAGE"/>

					<div id="merchandisingAssociationWidget_${widgetSuffix}" class="merchandisingAssociationWidget catalogEntryRecommendationWidget carousel clip-true padding-true background-${background} border-${border}" data-dojo-type="wc/widget/Carousel" data-dojo-props="columnCountByWidth:${columnCountByWidth}">
						<div class="content" data-dojo-attach-point="content" aria-live="polite" aria-atomic="true">
							<ul data-dojo-attach-point="ul">
								<c:forEach items="${merchandisingAssociations}" var="catEntryIdentifier2" varStatus = "status"><li>
										<%out.flush();%>
										<c:import url="/Widgets/Common/CatalogEntry/CatalogEntryDisplay.jsp">
											<c:param name="pageView" value="list"/>
											<c:param name="disableProductCompare" value="true" />
											<c:param name="productId" value="${catEntryIdentifier2.uniqueID}"/> <%-- Pass catEntryIdentifier parameter so that CatalogEntryDisplay can be cached, based on catEntryIdentifier --%>
											<c:param name="catEntryPartNumber" value="${catEntryIdentifier2.partNumber}"/>
											<c:param name="hasAssociations" value="${hasAssociations}"/>
											<c:param name="productDetailsPageCatalogEntryID" value="${catalogEntryView.uniqueID}"/>
											<c:param name="associationIndex" value="${status.count -1}"/> 
										</c:import>
										<%out.flush();%>							
									</li></c:forEach>
							</ul>
						</div>
						<c:if test="${hasMultipleAssociations}">
							<a id="prevPageButton${widgetSuffix}" href="#" class="prevPageButton" data-dojo-attach-point="prevPageButton" role="button" aria-label="${PC_PREVIOUS_PAGE}"></a>
							<a id="nextPageButton${widgetSuffix}" href="#" class="nextPageButton" data-dojo-attach-point="nextPageButton" role="button" aria-label="${PC_NEXT_PAGE}"></a>
						</c:if>
					</div>
					
					<%-- These hidden fields are used when displaying miniShopCart product added view --%>
					<input type="hidden" id="ProductInfoName_${firstMerchandisingAssociationID}" value="${fn:escapeXml(firstMerchandisingAssociationName)}"/>
					<input type="hidden" id="ProductInfoImage_${firstMerchandisingAssociationID}" value="${fn:escapeXml(firstMerchandisingAssociationThumbnail)}"/>
					<input type="hidden" id="ProductInfoPrice_${firstMerchandisingAssociationID}" value="${fn:escapeXml(skuOfferPrice)}"/>
					<%-- Save details of the base product - If Product widgets are not imported on the page, then these fields will be missing --%>

					<c:if test="${!fn:contains(env_hiddenFieldsList, 'ProductInfoName_${catalogEntryView.uniqueID}')}">
						<input type="hidden" id="ProductInfoName_${catalogEntryView.uniqueID}" value="${fn:escapeXml(catalogEntryName)}"/>	
						<c:set var="env_hiddenFieldsList" value="${env_hiddenFieldsList},ProductInfoName_${catalogEntryView.uniqueID}"/>
					</c:if>

					<c:if test="${!fn:contains(env_hiddenFieldsList, 'ProductInfoImage_${catalogEntryView.uniqueID}')}">
						<input type="hidden" id="ProductInfoImage_${catalogEntryView.uniqueID}" value="${fn:escapeXml(catalogEntryThumbnail)}"/>	
						<c:set var="env_hiddenFieldsList" value="${env_hiddenFieldsList},ProductInfoImage_${catalogEntryView.uniqueID}"/>
					</c:if>

					<c:if test="${!fn:contains(env_hiddenFieldsList, 'ProductInfoPrice_${catalogEntryID}')}">
						<input type="hidden" id="ProductInfoPrice_${catalogEntryView.uniqueID}" value="${fn:escapeXml(baseItemOfferedPrice)}"/>	
						<c:set var="env_hiddenFieldsList" value="${env_hiddenFieldsList},ProductInfoPrice_${catalogEntryView.uniqueID}"/>
					</c:if>
				</div>
			</div>
		</div>
	</div>
	
	<script type="text/javascript">
		dojo.addOnLoad(function() {
			var merchandisingAssociationDropdowns = document.querySelectorAll(".productDescDropMerch");
			for (var index = 0; index < merchandisingAssociationDropdowns.length; ++index) {
			    toggleCollapsible(merchandisingAssociationDropdowns[index]);
			}
		});
	</script>
	
</c:if>