    <div class="row">
        <div class="col6 acol12" data-slot-id="2">
            <div id="contentRecommendationWidget_2_-1012_3074457345618259918" class="contentRecommendationWidget" role="region" aria-labelledby="title_2_-1012_3074457345618259918">
                <!-- BEGIN Content_UI.jspf -->
                <div class="left_espot">
                    <div style="padding:10px 0;background-color:#f5f5f5;color:#f35003;font-size:15px;text-align:center;"><b>SAVE 20%</b> on all New Arrivals</div>
                </div>
                <!-- END Content_UI.jspf -->
            </div>
        <!-- END ContentRecommendation_UI.jspf -->
        <!-- END ContentRecommendation.jsp -->


            <!-- BEGIN CatalogEntryRecommendation.jsp -->
<script type="text/javascript">
    dojo.addOnLoad(function() {
        shoppingActionsJS.setCommonParameters('-1','715838035','3074457345616676668','G','$');
        shoppingActionsServicesDeclarationJS.setCommonParameters('-1','715838035','3074457345616676668');
    });
    //Declare refresh controller which are used in pagination controls of SearchBasedNavigationDisplay -- both products and articles+videos
    wc.render.declareRefreshController({
        id: "prodRecommendationRefresh_controller_HeaderBanner_Content_Left",
        renderContext: wc.render.getContextById("searchBasedNavigation_context"),
        url: "",
        formId: ""

        ,renderContextChangedHandler: function(message, widget) {
            var controller = this;
            var renderContext = this.renderContext;
            var resultType = renderContext.properties["resultType"];
            if(resultType == "products" || resultType == "both"){
                widget.refresh(renderContext.properties);
                console.log("espot refreshing");
            }
        }

        /**
         * Clears the progress bar after a successful refresh.
         *
         * @param {Object} widget The refresh area widget.
         */
        ,postRefreshHandler: function(widget) {
            var controller = this;
            var renderContext = this.renderContext;
            cursor_clear();

            var refreshUrl = controller.url;
            var emsName = "";
            var indexOfEMSName = refreshUrl.indexOf("emsName=", 0);
            if(indexOfEMSName >= 0){
                emsName = refreshUrl.substring(indexOfEMSName+8);
                if (emsName.indexOf("&") >= 0) {
                    emsName = emsName.substring(0, emsName.indexOf("&"));
                    emsName = "script_" + emsName;
                }
            }

            if (emsName != "") {
                if (dojo.byId(emsName) != null) {
                    var espot = dojo.query('.genericESpot',dojo.byId(emsName).parentNode)[0];
                    if (espot != null) {
                        dojo.addClass(espot,'emptyESpot');
                    }
                }
            }
            dojo.publish("CMPageRefreshEvent");
        }
    });</script>
<!-- END CatalogEntryRecommendation.jsp -->
        </div>
        <div class="col6 acol12" data-slot-id="3">
            <div id="contentRecommendationWidget_3_-1012_3074457345618259919" class="contentRecommendationWidget" role="region" aria-labelledby="title_3_-1012_3074457345618259919">
            <!-- BEGIN Content_UI.jspf -->
                <div class="left_espot">
                    <div style="padding:10px 0;background-color:#f5f5f5;color:#828181;font-size:15px;text-align:center;"><b>RECEIVE 15% OFF</b> Your Entire Purchase</div>
                </div>
            <!-- END Content_UI.jspf -->
            </div>
        <!-- END ContentRecommendation_UI.jspf --><!-- END ContentRecommendation.jsp -->
            <!-- BEGIN CategoryRecommendation.jsp --><!-- END CategoryRecommendation.jsp -->
            <!-- BEGIN CatalogEntryRecommendation.jsp -->
        <script type="text/javascript">
            dojo.addOnLoad(function() {
                shoppingActionsJS.setCommonParameters('-1','715838035','3074457345616676668','G','$');
                shoppingActionsServicesDeclarationJS.setCommonParameters('-1','715838035','3074457345616676668');
            });
            //Declare refresh controller which are used in pagination controls of SearchBasedNavigationDisplay -- both products and articles+videos
            wc.render.declareRefreshController({
                id: "prodRecommendationRefresh_controller_HeaderBanner_Content_Right",
                renderContext: wc.render.getContextById("searchBasedNavigation_context"),
                url: "",
                formId: ""

                ,renderContextChangedHandler: function(message, widget) {
                    var controller = this;
                    var renderContext = this.renderContext;
                    var resultType = renderContext.properties["resultType"];
                    if(resultType == "products" || resultType == "both"){
                        widget.refresh(renderContext.properties);
                        console.log("espot refreshing");
                    }
                }

                /**
                 * Clears the progress bar after a successful refresh.
                 *
                 * @param {Object} widget The refresh area widget.
                 */
                ,postRefreshHandler: function(widget) {
                    var controller = this;
                    var renderContext = this.renderContext;
                    cursor_clear();

                    var refreshUrl = controller.url;
                    var emsName = "";
                    var indexOfEMSName = refreshUrl.indexOf("emsName=", 0);
                    if(indexOfEMSName >= 0){
                        emsName = refreshUrl.substring(indexOfEMSName+8);
                        if (emsName.indexOf("&") >= 0) {
                            emsName = emsName.substring(0, emsName.indexOf("&"));
                            emsName = "script_" + emsName;
                        }
                    }

                    if (emsName != "") {
                        if (dojo.byId(emsName) != null) {
                            var espot = dojo.query('.genericESpot',dojo.byId(emsName).parentNode)[0];
                            if (espot != null) {
                                dojo.addClass(espot,'emptyESpot');
                            }
                        }
                    }
                    dojo.publish("CMPageRefreshEvent");
                }
            });</script>
        <!-- END CatalogEntryRecommendation.jsp -->
        </div>
    </div>