/*
 *-----------------------------------------------------------------
 * Licensed Materials - Property of IBM
 *
 * WebSphere Commerce
 *
 * (C) Copyright IBM Corp. 2013, 2014 All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with
 * IBM Corp.
 *-----------------------------------------------------------------
 */

#searchLandSlot4 {
	margin-top: 50px;
	margin-bottom: 0px;
}

#videoContainer {
	position: relative;
	max-width: 986px;
	max-height: 478px;
	margin: 0 auto;
}

#videoFrame {
	position: relative;
	z-index: 7;
	top: 0px;
	left: 0px;
	pointer-events: none;

	width: 100%;
}

#videoBackScreen {
	position: absolute;
	top: 4%;
	left: 2%;
	z-index: 1;
	width: 96%;
	height: 90%;
	background-color: #000000;
}

#videoScreen {
	z-index: 7;
	position: absolute;
	top: 5%;
	left: 2%;
}

#videoScreen_flash {
	position:absolute;
	left:2%;
	top:5%;
	z-index:7;
}

#videoFinished {
	height: 84%;
	width: 96%;
	background-image:url('poster.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	top: 5%;
	left: 2%;
	z-index: 7;
	display: none;
}

#videoFinished .content {
	width: 75%;
	margin-top: 9%;
	margin-left: 25px;
	font-size: 26px;
	color: #196786;
	line-height: 36px;
	padding: 5px;
}

#videoFinished .content b {
	font-size: 31px;
}

#videoFinished .content h5 {
	display: inline;
	font-weight: bold;
	color: #ba4200;
}

#promotionTitle {
	position: absolute;
	color: #1d6b85;
	font-weight: bold;
	border-radius: 5px;
	pointer-events: none;
	text-align: left;
	font-size: 43px;
	line-height: 45px;
	top: 37px;
	left: 47px;
	width: 460px;
	z-index: 9;
}

#promotionTitle h1 {
	font-weight: normal;
	line-height: 31px;
	border-radius: 5px;
	/*background: rgba(255,255,255,0.7);*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2FFFFFF,endColorstr=#B2FFFFFF)";
	margin-top: 0px;
	/*margin-left: 10px;*/
	padding: 10px;
	width: 330px;
	font-size: 20px;
	line-height: 27px;
	font-weight: normal;
}

#promotionTitle h1 b {
	color: #ba4200;
}

#videoFinished .content .textContainer {
	float:left;
}

@media screen and (min-width: 1660px){
	html[lang='he'] #videoContainer, html[lang='ar'] #videoContainer {
		right: -5% !important;
		margin-right: 10px;
	}
}

@media screen and (min-width: 1281px) {
	#promotionTitle {
		position: absolute;
		top: 30px;
		left: 67px;
		z-index: 9;
		font-size: 65px;
		font-weight: bold;
		color: #196786;
		width: 352px;
		line-height: 65px;
	}

	#promotionTitle h1 {
		font-size: 20px;
		font-weight: normal;
		line-height: 31px;
		margin-top: 30px;
		width: 304px;
	}
}

@media screen and (max-width: 1280px) {
	#promotionTitle {
		position: absolute;
		top: 37px;
		left: 47px;
		z-index: 9;
		font-size: 50px;
		font-weight: bold;
		color: #1d6b85;
		width: 313px;
		line-height: 55px;
	}
	#promotionTitle h1 {
		line-height: 27px;
		width: 300px;
		margin-top: 26px;
	}
}

@media screen and (max-width: 1133px){
	#videoFinished .content {
		font-size: 23px;
		line-height: 34px;
	}

	#videoFinished .content b {
		font-size: 28px;
	}
}

@media screen and (max-width: 1058px){
	#promotionTitle {
		z-index: 9;
		font-size: 46px;
		line-height: 45px;
	}
	
	#promotionTitle h1 {
		background: rgba(255,255,255,0.7);
		margin-left: 272px;
		margin-top: -35px;
		padding: 10px;
		width: 200px;	
	}
}

@media screen and (max-width: 952px) {
	#videoFinished .content {
		font-size: 19px;
		line-height: 28px;
	}

	#videoFinished .content b {
		font-size: 23px;
	}
}
@media screen and (max-width: 900px) {
	#videoContainer {
		left: -2%;
	}
	
	html[lang='he'] #videoContainer, html[lang='ar'] #videoContainer {
		right: -2%;
	}  
}

@media screen and (max-width: 856px){
	#videoFinished .content {
		width: 93%;
		height: 82%; 
	}

	#videoFinished .content button {
		width: 48%;
		margin-bottom: 5px;
	}
}

@media screen and (max-width: 845px) {
	#videoFinished .content {
		line-height: 22px;
		font-size:15px;
		margin-left: 20px;
		margin-top: 6%;
	} 

	#videoFinished .content b {
		font-size: 18px;
	}

	#promotionTitle {
		font-size: 33px;
		line-height: 45px;
		top: 23px;
		left: 23px;
		width: 260px;
	}
	
	#promotionTitle h1 {
		margin-left: 230px;
	}
}

@media screen and (max-width: 770px) {
	#promotionTitle {
		background: rgba(255,255,255,0.7);
		padding: 10px;
		width: 315px;
		font-size: 26px;
		left: auto;
		right: 20px;
	}
	
	#promotionTitle h1 {
		width: 328px;
		margin-top: -5px;
		font-size: 14px;
		margin-left: 0px;
		background: none;
		padding: 0px;
	}
}

@media screen and (max-width: 680px) {
	#promotionTitle {
		font-size: 27px;
		line-height: 45px;
		top: 15px;
		left: 38px;
		width: 315px;
	}
	#promotionTitle h1 {
		margin-top: -6px;
	}
}

@media screen and (max-width: 600px) {
	#searchLandSlot7 .content #modelImage {
		right: -281px;
		display: block;
	}

	#videoFinished .content {
		font-size:15px;
		margin-left: 5px;
		line-height: 22px;
		margin-top: 4%;
	}

	#videoFinished .content .textContainer {
		background: rgba(255,255,255,0.5);
		display: inline-block;
		padding: 15px;
		border-radius: 5px;
	}

	#promotionTitle {
		font-size: 20px;
		line-height: 30px;
		top: 12px;
		width: 184px;
		margin-top: 10px;
	}

	#promotionTitle h1 {
		width: 192px;
		margin-top: 10px;
		font-size: 15px;
		margin-left: 0px;
		background: none;
		padding: 0px;
		line-height: 21px;
	}

	#promotionTitle h1 {
		font-size: 15px;
		line-height: 21px;
	}
	#videoContainer {
		left: 0%;
	}
	html[lang='he'] #videoContainer, html[lang='ar'] #videoContainer {
		right: 0%;
	}
}

@media screen and (max-width: 520px) {
	#contentContainerBackground {
		min-width: 2146px;
		width:309%;
	}

	#searchLandSlot7 .content #modelImage {
		display: none;
	}
	#videoFinished .content {
		font-size:16px;
		line-height: 22px;
		margin-top: 0;
		width:99%;
		height: 104%;
	}

	#videoFinished .content b {
		font-size: 19px;
	}

	#promotionTitle {
		font-size: 17px;
		line-height: 25px;
		top: 12px;
		left: auto;
		right: 12px;
		width: 200px;
		background: rgba(255,255,255,0.7);
		padding: 5px;
		border-radius: 5px;
		margin-top: 10px;
	}

	#promotionTitle h1 {
		width: 200px;
		font-size: 12px;
		line-height: 18px;
		margin-top: 10px;
		padding: 0;
	}

	#promotionTitle h1 {
		font-size: 12px;
		line-height: 18px;
	}
}

@media screen and (max-width: 400px) {
	#promotionTitle {
		width: 250px;
		top: 2px;
	}
	#promotionTitle h1 {
		width: 250px;
		font-size: 12px;
		margin-top: 0px;
	}
}