/*
 *-----------------------------------------------------------------
 * Licensed Materials - Property of IBM
 *
 * WebSphere Commerce
 *
 * (C) Copyright IBM Corp. 2013, 2014 All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with
 * IBM Corp.
 *-----------------------------------------------------------------
 */
 
#homePageEspot_Left_Slot {
	min-height: 290px;
	margin: 100px 23px 0 23px !important;
}
#homePageEspot_Left_Slot .imageContainer {
	z-index: 2;
}
html[lang='ar'] #homePageEspot_Left_Slot .imageContainer,
html[lang='he'] #homePageEspot_Left_Slot .imageContainer {
	text-align: center;
}
#homePageEspot_Left_Slot .imageContainer img {
	max-width: 368px;
}
html[lang='ar'] #homePageEspot_Left_Slot .imageContainer img,
html[lang='he'] #homePageEspot_Left_Slot .imageContainer img {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);	
}
html[lang='ar'].dj_ie8 #homePageEspot_Left_Slot .imageContainer img,
html[lang='he'].dj_ie8 #homePageEspot_Left_Slot .imageContainer img {
	filter: fliph();
}
.homeESpotContainer .textContainer {
	text-align: left;
	z-index: 5;
}
.homeESpotContainer {
	color: #666666;
	margin: 10px 24px 0 30px;
	max-width: 1010px;
	text-align: center;
}
@media screen and (min-width: 1281px) {
	#homePageEspot_Left_Slot .imageContainer img {
		width: 188%;
	}
}
@media screen and (max-width: 1113px) {
	html[lang='he'] #homePageEspot_Left_Slot .imageContainer img, 
	html[lang='ar'] #homePageEspot_Left_Slot .imageContainer img {
		width: 110%;
	}	
}
@media screen and (min-width: 856px) {
	html[lang='he'] #homePageEspot_Left_Slot .imageContainer img, 
	html[lang='ar'] #homePageEspot_Left_Slot .imageContainer img {
		margin-top: 20px;
	}
}
@media screen and (max-width: 952px) {
	#homePageEspot_Left_Slot .imageContainer img {
		width: 120%;
	}
}
@media screen and (max-width: 856px) {
	#homePageEspot_Left_Slot {
		margin: 30px 50px 0 50px !important;
	}
	#homePageEspot_Left_Slot .imageContainer img {
		float: right;
	}
	html[lang='he'] #homePageEspot_Left_Slot .imageContainer img, 
	html[lang='ar'] #homePageEspot_Left_Slot .imageContainer img {
		float: left;
	}
	#homePageEspot_Left_Slot .textContainer {
		min-width: 358px;
		width: 72%;
	}
}
@media screen and (max-width: 600px) {
	#homePageEspot_Left_Slot {
		margin: 21px 50px 20px 0 !important;
		position: relative;
		padding-left: 10px;
	}
	#homePageEspot_Left_Slot .textContainer {
		min-width: 0px;
		width: auto;
	}
	#homePageEspot_Left_Slot .imageContainer {
		margin-left: 30px;
	}
	#homePageEspot_Left_Slot .imageContainer img {
		max-width: 368px;
		width: 88%;
	}
	.homeESpotContainer {
		margin: 21px 0 20px 0 !important;
		position: relative;
	}
}