<div aria-label="Departments" role="navigation" class="widget_departments_position">

<script type="text/javascript">
	dojo.addOnLoad(function() {
		if(document.getElementById("widget_departments")){
			document.getElementById("widget_departments").style.display = "block";
		}
		DepartmentJS.init();
		wc.render.getRefreshControllerById("DepartmentDropdownController").url = getAbsoluteURL()+"DepartmentDropdownView?storeId=10001&amp;catalogId=10001&amp;langId=-1&amp;isFirstRefresh=true";
	});

	dojo.addOnUnload(function() {
		if(document.getElementById("drop_down")){
			document.getElementById("drop_down").style.display = "none";
		}
	});
</script>


<div style="display: block;" title="Departments" tabindex="0" id="widget_departments">
		<div class="left_border"></div>
		<div class="content">
			<span class="label">Departments</span>
			<div class="arrow"></div>
		</div>
		<div class="right_border"></div>
		<div class="clear_float"></div>
		<div lang="en" controllerid="DepartmentDropdownController" widgetid="drop_down" dojotype="wc.widget.RefreshArea" id="drop_down" class="dijitContentPane drop_down" title="" role="group">

<!-- BEGIN Department.jsp -->

<div class="middle">
	<div class="left_border">
		<div class="right_border">
			<div class="departments">
				<div role="menuitem" id="department_1" class="department">
					<div class="name_wrapper">
						<div class="name">
							<a href="http://localhost/webapp/wcs/stores/servlet/en/aurora-fep6/apparel" id="TopCategoryLink_1">Apparel
								<span class="spanacce">Press the Right arrow key to navigate through sub categories</span>
							</a>
						</div>
						<div class="arrow"></div>
						<div class="clear_float"></div>
					</div>

					<div title="Apparel To move through categories press Up or Down Arrow" style="width: 674px; margin-top: -3px; display: none;" role="menu" id="sub_categories_1" class="sub_categories">
						<div class="top">
							<div class="left_border"></div>
							<div class="middle_tile"></div>
							<div class="right_border"></div>
						</div>
						<div class="middle">
							<div class="left_border"></div>
							<div class="middle_tile">
								<div id="department_1_next_sub_category_1" class="sub_category">
									<div role="menuitem" class="name item" id="sub_top_item_1_1">
										<a href="http://localhost/webapp/wcs/stores/servlet/en/aurora-fep6/apparel/girls" id="nextSubCategoryLink_1_1">Girls</a>
									</div>
									<div role="menuitem" class="item" id="next_sub_item_1_1_1">
										<a href="http://localhost/webapp/wcs/stores/servlet/en/aurora-fep6/apparel/girls/shoes-10020--1" id="nextSubItemLink_1_1_1">Shoes</a>
									</div>
									<div role="menuitem" class="item" id="next_sub_item_1_1_2">
										<a href="http://localhost/webapp/wcs/stores/servlet/en/aurora-fep6/apparel/girls/pants-10021--1" id="nextSubItemLink_1_1_2">Pants</a>
									</div>
									<div role="menuitem" class="item" id="next_sub_item_1_1_3">
										<a href="http://localhost/webapp/wcs/stores/servlet/en/aurora-fep6/apparel/girls/skirts-10022--1" id="nextSubItemLink_1_1_3">Skirts</a>
									</div>
									<div role="menuitem" class="item" id="next_sub_item_1_1_4">
										<a href="http://localhost/webapp/wcs/stores/servlet/en/aurora-fep6/apparel/girls/tops" id="nextSubItemLink_1_1_4">Tops</a>
									</div>
									<div role="menuitem" class="name item" id="sub_top_item_1_2">
										<a href="http://localhost/webapp/wcs/stores/servlet/en/aurora-fep6/apparel/boys" id="nextSubCategoryLink_1_2">Boys</a>
									</div>
									<div role="menuitem" class="item" id="next_sub_item_1_2_1">
										<a href="http://localhost/webapp/wcs/stores/servlet/en/aurora-fep6/apparel/boys/pants-10024--1" id="nextSubItemLink_1_2_1">Pants</a>
									</div>
									<div role="menuitem" class="item" id="next_sub_item_1_2_2">
										<a href="http://localhost/webapp/wcs/stores/servlet/en/aurora-fep6/apparel/boys/tops-10025--1" id="nextSubItemLink_1_2_2">Tops</a>
									</div>
									<div role="menuitem" class="item" id="next_sub_item_1_2_3">
										<a href="http://localhost/webapp/wcs/stores/servlet/en/aurora-fep6/apparel/boys/shoes-10026--1" id="nextSubItemLink_1_2_3">Shoes</a>
									</div>
								</div>
								<div id="department_1_next_sub_category_3" class="sub_category">
									<div role="menuitem" class="name item" id="sub_top_item_1_3">
										<a href="http://localhost/webapp/wcs/stores/servlet/en/aurora-fep6/apparel/women" id="nextSubCategoryLink_1_3">Women</a>
									</div>
									<div role="menuitem" class="item" id="next_sub_item_1_3_1">
										<a href="http://localhost/webapp/wcs/stores/servlet/en/aurora-fep6/apparel/women/dresses" id="nextSubItemLink_1_3_1">Dresses</a>
									</div>
									<div role="menuitem" class="item" id="next_sub_item_1_3_2">
										<a href="http://localhost/webapp/wcs/stores/servlet/en/aurora-fep6/apparel/women/blouses" id="nextSubItemLink_1_3_2">Blouses</a>
									</div>
									<div role="menuitem" class="item" id="next_sub_item_1_3_3">
										<a href="http://localhost/webapp/wcs/stores/servlet/en/aurora-fep6/apparel/women/sweaters" id="nextSubItemLink_1_3_3">Sweaters</a>
									</div>
									<div role="menuitem" class="item" id="next_sub_item_1_3_4">
										<a href="http://localhost/webapp/wcs/stores/servlet/en/aurora-fep6/apparel/women/skirts" id="nextSubItemLink_1_3_4">Skirts</a>
									</div>
									<div role="menuitem" class="item" id="next_sub_item_1_3_5">
										<a href="http://localhost/webapp/wcs/stores/servlet/en/aurora-fep6/apparel/women/pants" id="nextSubItemLink_1_3_5">Pants</a>
									</div>
									<div role="menuitem" class="item" id="next_sub_item_1_3_6">
										<a href="http://localhost/webapp/wcs/stores/servlet/en/aurora-fep6/apparel/women/shoes" id="nextSubItemLink_1_3_6">Shoes</a>
									</div>
									<div role="menuitem" class="item" id="next_sub_item_1_3_7">
										<a href="http://localhost/webapp/wcs/stores/servlet/en/aurora-fep6/apparel/women/handbags" id="nextSubItemLink_1_3_7">Handbags</a>
									</div>
									<div role="menuitem" class="item" id="next_sub_item_1_3_8">
										<a href="http://localhost/webapp/wcs/stores/servlet/en/aurora-fep6/apparel/women/accessories" id="nextSubItemLink_1_3_8">Accessories</a>
									</div>
								</div>
							</div>
							<div class="right_border"></div>
						</div>
						<div class="bottom">
							<div class="left_border"></div>
							<div class="middle_tile"></div>
							<div class="right_border"></div>
						</div>
					</div>
				</div>
				<div role="menuitem" id="department_2" class="department">
					<div class="name_wrapper">
						<div class="name">
							<a href="http://localhost/webapp/wcs/stores/servlet/en/aurora-fep6/electronics" id="TopCategoryLink_2">Electronics
							<span class="spanacce">Press the Right arrow key to navigate through sub categories</span>
							</a>
						</div>
						<div class="arrow"></div>
						<div class="clear_float"></div>
					</div>
					<div title="Electronics To move through categories press Up or Down Arrow" style="width: 226px; margin-top: 26px; display: none;" role="menu" id="sub_categories_2" class="sub_categories">
						<div class="top">
							<div class="left_border"></div>
							<div class="middle_tile"></div>
							<div class="right_border"></div>
						</div>
						<div class="middle">
							<div class="left_border"></div>
							<div class="middle_tile">
								<div id="department_2_next_sub_category_1" class="sub_category">
									<div role="menuitem" class="name item" id="top_item_2">
										<a href="http://localhost/webapp/wcs/stores/servlet/en/aurora-fep6/electronics" id="SubCategoryLink_2">Electronics</a>
									</div>
									<div role="menuitem" class="item" id="sub_item_2_1">
										<a href="http://localhost/webapp/wcs/stores/servlet/en/aurora-fep6/electronics/accessories-10028--1" id="SubItemLink_2_1">Accessories</a>
									</div>
									<div role="menuitem" class="item" id="sub_item_2_2">
										<a href="http://localhost/webapp/wcs/stores/servlet/en/aurora-fep6/electronics/tablets-10029--1" id="SubItemLink_2_2">Tablets</a>
									</div>
									<div role="menuitem" class="item" id="sub_item_2_3">
										<a href="http://localhost/webapp/wcs/stores/servlet/en/aurora-fep6/electronics/laptops-10030--1" id="SubItemLink_2_3">Laptops</a>
									</div>
									<div role="menuitem" class="item" id="sub_item_2_4">
										<a href="http://localhost/webapp/wcs/stores/servlet/en/aurora-fep6/electronics/desktops" id="SubItemLink_2_4">Desktops</a>
									</div>
									<div role="menuitem" class="item" id="sub_item_2_5">
										<a href="http://localhost/webapp/wcs/stores/servlet/en/aurora-fep6/electronics/components" id="SubItemLink_2_5">Components</a>
									</div>
								</div>
							</div>
							<div class="right_border"></div>
						</div>
						<div class="bottom">
							<div class="left_border"></div>
							<div class="middle_tile"></div>
							<div class="right_border"></div>
						</div>
					</div>
				</div>
				<div role="menuitem" id="department_3" class="department">
					<div class="name_wrapper">
						<div class="name">
							<a href="http://localhost/webapp/wcs/stores/servlet/en/aurora-fep6/grocery" id="TopCategoryLink_3">Grocery
							<span class="spanacce">Press the Right arrow key to navigate through sub categories</span>
							</a>
						</div>
						<div class="arrow"></div>
						<div class="clear_float"></div>
					</div>
					<div title="Grocery To move through categories press Up or Down Arrow" style="width: 226px; margin-top: 55px; display: none;" role="menu" id="sub_categories_3" class="sub_categories">
						<div class="top">
							<div class="left_border"></div>
							<div class="middle_tile"></div>
							<div class="right_border"></div>
						</div>
						<div class="middle">
							<div class="left_border"></div>
							<div class="middle_tile">
								<div id="department_3_next_sub_category_1" class="sub_category">
									<div role="menuitem" class="name item" id="top_item_3">
										<a href="http://localhost/webapp/wcs/stores/servlet/en/aurora-fep6/grocery" id="SubCategoryLink_3">Grocery
										</a>
									</div>
									<div role="menuitem" class="item" id="sub_item_3_1">
										<a href="http://localhost/webapp/wcs/stores/servlet/en/aurora-fep6/grocery/dairy" id="SubItemLink_3_1">Dairy
										</a>
									</div>
									<div role="menuitem" class="item" id="sub_item_3_2">
										<a href="http://localhost/webapp/wcs/stores/servlet/en/aurora-fep6/grocery/fruit-10035--1" id="SubItemLink_3_2">Fruit
										</a>
									</div>
									<div role="menuitem" class="item" id="sub_item_3_3">
										<a href="http://localhost/webapp/wcs/stores/servlet/en/aurora-fep6/grocery/meat" id="SubItemLink_3_3">Meat
										</a>
									</div>
									<div role="menuitem" class="item" id="sub_item_3_4">
										<a href="http://localhost/webapp/wcs/stores/servlet/en/aurora-fep6/grocery/vegetables" id="SubItemLink_3_4">Vegetables
										</a>
									</div>
								</div>
							</div>
							<div class="right_border"></div>
						</div>
						<div class="bottom">
							<div class="left_border"></div>
							<div class="middle_tile"></div>
							<div class="right_border"></div>
						</div>
					</div>
				</div>


				<div role="menuitem" id="department_4" class="department">
					<div class="name_wrapper">
						<div class="name">
							<a href="http://localhost/webapp/wcs/stores/servlet/en/aurora-fep6/health" id="TopCategoryLink_4">Health
							<span class="spanacce">Press the Right arrow key to navigate through sub categories</span>
							</a>
						</div>
						<div class="arrow"></div>
						<div class="clear_float"></div>
					</div>
					<div title="Health To move through categories press Up or Down Arrow" style="width: 226px; margin-top: 84px; display: none;" role="menu" id="sub_categories_4" class="sub_categories">
						<div class="top">
							<div class="left_border"></div>
							<div class="middle_tile"></div>
							<div class="right_border"></div>
						</div>
						<div class="middle">
							<div class="left_border"></div>
							<div class="middle_tile">
							<div id="department_4_next_sub_category_1" class="sub_category">
								<div role="menuitem" class="name item" id="top_item_4">
									<a href="http://localhost/webapp/wcs/stores/servlet/en/aurora-fep6/health" id="SubCategoryLink_4">Health
									</a>
								</div>
								<div role="menuitem" class="item" id="sub_item_4_1">
									<a href="http://localhost/webapp/wcs/stores/servlet/en/aurora-fep6/health/medicine" id="SubItemLink_4_1">Medicine</a>
								</div>
								<div role="menuitem" class="item" id="sub_item_4_2">
									<a href="http://localhost/webapp/wcs/stores/servlet/en/aurora-fep6/health/vitamins" id="SubItemLink_4_2">Vitamins</a>
								</div>
							</div>
						</div>
						<div class="right_border"></div>
					</div>
					<div class="bottom">
						<div class="left_border"></div>
						<div class="middle_tile"></div>
						<div class="right_border"></div>
					</div>
				</div>
			</div>
				<div role="menuitem" id="department_5" class="department">
					<div class="name_wrapper">
						<div class="name">
							<a href="http://localhost/webapp/wcs/stores/servlet/en/aurora-fep6/home---furnishing" id="TopCategoryLink_5">Home &amp; Furnishing
							<span class="spanacce">Press the Right arrow key to navigate through sub categories</span>
							</a>
						</div>
						<div class="arrow"></div>
						<div class="clear_float"></div>
					</div>
					<div title="Home &amp; Furnishing To move through categories press Up or Down Arrow" style="width: 226px; margin-top: 113px; display: none;" role="menu" id="sub_categories_5" class="sub_categories">
						<div class="top">
							<div class="left_border"></div>
							<div class="middle_tile"></div>
							<div class="right_border"></div>
						</div>
						<div class="middle">
							<div class="left_border"></div>
							<div class="middle_tile">
								<div id="department_5_next_sub_category_1" class="sub_category">
									<div role="menuitem" class="name item" id="top_item_5">
										<a href="http://localhost/webapp/wcs/stores/servlet/en/aurora-fep6/home---furnishing" id="SubCategoryLink_5">Home &amp; Furnishing</a>
									</div>
									<div role="menuitem" class="item" id="sub_item_5_1">
										<a href="http://localhost/webapp/wcs/stores/servlet/en/aurora-fep6/home---furnishing/bath-accessories" id="SubItemLink_5_1">Bath Accessories</a>
									</div>
									<div role="menuitem" class="item" id="sub_item_5_2">
										<a href="http://localhost/webapp/wcs/stores/servlet/en/aurora-fep6/home---furnishing/furniture" id="SubItemLink_5_2">Furniture</a>
									</div>
									<div role="menuitem" class="item" id="sub_item_5_3">
										<a href="http://localhost/webapp/wcs/stores/servlet/en/aurora-fep6/home---furnishing/kitchenware" id="SubItemLink_5_3">Kitchenware</a>
									</div>
									<div role="menuitem" class="item" id="sub_item_5_4">
										<a href="http://localhost/webapp/wcs/stores/servlet/en/aurora-fep6/home---furnishing/lighting" id="SubItemLink_5_4">Lighting</a>
									</div>
									<div role="menuitem" class="item" id="sub_item_5_5">
										<a href="http://localhost/webapp/wcs/stores/servlet/en/aurora-fep6/home---furnishing/tableware" id="SubItemLink_5_5">Tableware</a>
									</div>
									<div role="menuitem" class="item" id="sub_item_5_6">
										<a href="http://localhost/webapp/wcs/stores/servlet/en/aurora-fep6/home---furnishing/appliances" id="SubItemLink_5_6">Appliances</a>
									</div>
								</div>
							</div>
							<div class="right_border"></div>
						</div>
						<div class="bottom">
							<div class="left_border"></div>
							<div class="middle_tile"></div>
							<div class="right_border"></div>
						</div>
					</div>
				</div>


				<div role="menuitem" id="department_6" class="department">
					<div class="name_wrapper">
						<div class="name">
							<a href="http://localhost/webapp/wcs/stores/servlet/en/aurora-fep6/newsletters---magazines" id="TopCategoryLink_6">Newsletters &amp; Magazines
							<span class="spanacce">Press the Right arrow key to navigate through sub categories</span>
							</a>
						</div>
						<div class="arrow"></div>
						<div class="clear_float"></div>
					</div>
					<div title="Newsletters &amp; Magazines To move through categories press Up or Down Arrow" style="width: 226px; margin-top: 142px; display: none;" role="menu" id="sub_categories_6" class="sub_categories">
						<div class="top">
							<div class="left_border"></div>
							<div class="middle_tile"></div>
							<div class="right_border"></div>
						</div>
						<div class="middle">
							<div class="left_border"></div>
							<div class="middle_tile">
								<div id="department_6_next_sub_category_1" class="sub_category">
									<div role="menuitem" class="name item" id="top_item_6">
										<a href="http://localhost/webapp/wcs/stores/servlet/en/aurora-fep6/newsletters---magazines" id="SubCategoryLink_6">Newsletters &amp; Magazines</a>
									</div>
									<div role="menuitem" class="item" id="sub_item_6_1">
										<a href="http://localhost/webapp/wcs/stores/servlet/en/aurora-fep6/newsletters---magazines/magazines-10049--1" id="SubItemLink_6_1">Magazines</a>
									</div>
									<div role="menuitem" class="item" id="sub_item_6_2">
										<a href="http://localhost/webapp/wcs/stores/servlet/en/aurora-fep6/newsletters---magazines/newsletters" id="SubItemLink_6_2">Newsletters</a>
									</div>
								</div>
							</div>
							<div class="right_border"></div>
						</div>
						<div class="bottom">
							<div class="left_border"></div>
							<div class="middle_tile"></div>
							<div class="right_border"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="bottom">
	<div class="left_border"></div>
	<div class="middle_tile"></div>
	<div class="right_border"></div>
</div>



<!-- END Department.jsp -->
</div>
</div>
</div>