<!-- BEGIN CatalogEntryListAjax.jsp --><!--

 -->
<!-- BEGIN CategoryNavigationSetup.jspf--><!-- END CategoryNavigationSetup.jspf-->

	<script>
		dojo.addOnLoad(function(){
			if(window.initialMinPrice == null && window.initialMaxPrice == null)
			{
				window.initialMinPrice = '';
				window.initialMaxPrice = '';
			}
			SearchBasedNavigationDisplayJS.init('DressesAuroraESite.html');
			SearchBasedNavigationDisplayJS.updateContextProperties("searchBasedNavigation_context",{"pageView": 'grid', "minPrice": '', "maxPrice": ''});
			if(!!''){
				shoppingActionsJS.setSearchTerm('');
			}	
			
				shoppingActionsJS.setCompareReturnName('Dresses');
			
		});
	</script>

		<div class="productListingWidget">
		
							<script>
								dojo.addOnLoad(function(){
									dojo.topic.subscribe("Facet_Add", function(){
										if (arguments.length > 0) {
											SearchBasedNavigationDisplayJS.appendFilterFacet(arguments[0]);
										} else {
											SearchBasedNavigationDisplayJS.appendFilterPriceRange();
										}
										SearchBasedNavigationDisplayJS.doSearchFilter();
									});
									dojo.topic.subscribe("Facet_Remove", function(){
									if (arguments.length > 0) {
											SearchBasedNavigationDisplayJS.removeFilterFacet(arguments[0]);
											SearchBasedNavigationDisplayJS.doSearchFilter();											
										} else {
											SearchBasedNavigationDisplayJS.removeFilterPriceRange();
										}
									});
									dojo.topic.subscribe("Facet_RemoveAll", function(){
										SearchBasedNavigationDisplayJS.clearAllFacets(true);
									});
								});
							</script>
							
							<div class="header_bar">
								<div class="title">Products: 
									<span class="num_products">&#40;&nbsp;
										13 - 24 of 39
										&nbsp;&#41;
									</span>
								</div>
	
								
								<script>
									dojo.addOnLoad(function(){
										dojo.subscribe("toggleViewEvent",SearchBasedNavigationDisplayJS,"toggleView");
										dojo.subscribe("showResultsForPageNumber",SearchBasedNavigationDisplayJS,"showResultsPage");
										
									});
								</script>

								<div class="controls">
									<div class="sorting_controls">
										<span class="order_by_label"><label for="orderBy">Sort By</label>:</span>
										<div id="orderByDropdown" class="selectWrapper">
											<select data-dojo-type="dijit/form/Select" title="To change sorting options, press the up or down arrows on your keyboard." id="orderBy" name="orderBy">
												<option selected="selected" value = "0">Relevance</option>
												<option  value = "1">Brands</option>
												<option  value = "2">Name</option>
												
													<option  value = "3">Low to High</option>
													<option  value = "4">High to Low</option>
												
											</select>
										</div>
										
										<span class="page_size_label"><label for="pageSizeDropdown">Items Per Page</label>:</span>
										<div id="pageSizeDropdown" class="selectWrapper selectWrapperPageSize">
											<select data-dojo-type="dijit/form/Select" title="To change the number of items per page, press the up or down arrows on your keyboard." 	
												id="pageSize" class="pageSize" name="pageSize" 
												>
												<option  value = "6">6</option>
												<option selected="selected" value = "12">12</option>
												<option  value = "18">18</option>
											</select>
										</div>
									</div>
								
	<div class="view_controls">
	
	
			<div class="grid_icon" role="button" aria-disabled="true" aria-label="Switch to grid view" ></div>
			
			<a alt="Switch to list view" role="button" class="list_icon" id="WC_SearchBasedNavigationResults_pagination_link_list_categoryResults" href='#' title="Switch to list view"></a>
		
	</div>

	<div class="paging_controls">
	
			<a role="button" class="left_arrow " id = "WC_SearchBasedNavigationResults_pagination_link_left_categoryResults" href='DressesAuroraESite.html' title="Show previous page"
				onmouseover="dojo.byId('WC_SearchBasedNavigationResults_pagination_link_left_categoryResults_img').src = '../../StoreAssets/Widgets/images/colors/color1/pagination/left_arrow_hover.png'"
				onmouseout="dojo.byId('WC_SearchBasedNavigationResults_pagination_link_left_categoryResults_img').src = '../../StoreAssets/Widgets/images/colors/color1/pagination/left_arrow.png'">
				<img alt="Show previous page" src="../../StoreAssets/Widgets/images/colors/color1/pagination/left_arrow.png" id = "WC_SearchBasedNavigationResults_pagination_link_left_categoryResults_img">
			</a>
		
		
	<div class="pages pageControlMenu" role="combobox">
		<div class="header">			
			<div class="controlBar">
				<div class="pageControlWrapper">
					
					<a href="#" class="pageControlButton" data-dojo-attach-point="pageControlButton" data-toggle="pageControlMenu" role="button"aria-label="Pagination Dropdown Current page 2">2</a>
					<div id="pageControlMenu" class="pageControlMenu" data-dojo-attach-point="pageControlMenu" data-parent="header">
						<div class="pageControl number">
							
										<a class="hoverover" role="button" href = 'DressesAuroraESite.html' id="WC_SearchBasedNavigationResults_pagination_link_1_categoryResults" aria-label="Move to page 1" title="Move to page 1">1</a>
									
										<a class="active selected" href="#" role="button"  aria-disabled="true" aria-label="Move to page 2" tabindex="0">2</a>
									
										<a class="hoverover" role="button" href = '#' id="WC_SearchBasedNavigationResults_pagination_link_3_categoryResults" aria-label="Move to page 3" title="Move to page 3">3</a>
									
										<a class="hoverover" role="button" href = '#' id="WC_SearchBasedNavigationResults_pagination_link_4_categoryResults" aria-label="Move to page 4" title="Move to page 4">4</a>
									
						</div>			
	        			<a class="closeButton" alt="" role="button" href="#" aria-label="Close" data-deactivate="pageControlMenu"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
			<a role="button" class="right_arrow " id = "WC_SearchBasedNavigationResults_pagination_link_right_categoryResults" href = '#' title="Show next page"
				onmouseover="dojo.byId('WC_SearchBasedNavigationResults_pagination_link_right_categoryResults_img').src = '../../StoreAssets/Widgets/images/colors/color1/pagination/right_arrow_hover.png'"
				onmouseout="dojo.byId('WC_SearchBasedNavigationResults_pagination_link_right_categoryResults_img').src = '../../StoreAssets/Widgets/images/colors/color1/pagination/right_arrow.png'">
				<img alt="Show next page" src="../../StoreAssets/Widgets/images/colors/color1/pagination/right_arrow.png" id = "WC_SearchBasedNavigationResults_pagination_link_right_categoryResults_img">
			</a>	
		
	</div>

								</div>
	
							</div>
	
							<div class="product_listing_container">
								
											<ul class="grid_mode grid" data-dojo-type="wc/widget/Grid" data-dojo-props="columnCountByWidth:{0:1,201:2,488:3,730:4,923:5,1207:6}">
												<li>
														

<!-- BEGIN CatalogEntryDisplay.jsp -->













































	









	













	
	
	
	



 




































	
	










	




	











	
		
		
			


























	

	

	

	

	

	



 

	
	
		
	


	
	
		
	



	
		
	
	






	




	








	
	
	
	
		
		
	
	



	
			
			 
				
					
				
				
			
			
	
			
			 
				
				
					
				
			
			
	
			
			 
				
				
			
			
	




	
	
	
	
		
		
		
		
		
		
	
	
	
	
	






	
	
	
	
	
	
	
	
	



	
	


		
	

<div class="product">





	
		
		
		
			




	
		
	
	



<div id="CatalogEntryProdImg_3074457345616676680" class="product_image">
	<div class="image">
		<a  id="catalogEntry_img3074457345616676680"
				href="HermitageFitAndFlareDressAuroraESite.html"
				title="Albini Silk Evening Dress" >
			<img alt="Albini Silk Evening Dress" src="../../StoreAssets/images/catalog/apparel/women/wcl000_dresses/200x310/wcl000_0008_a_blue.jpg"/>
			
		</a>
	</div>
</div>
<div class="product_info">
	<div class="product_name">
		
		<a aria-hidden="true" tabindex="-1" id="WC_CatalogEntryDBThumbnailDisplayJSPF_3074457345616676680_link_9b"  href="HermitageFitAndFlareDressAuroraESite.html">Albini Silk Evening Dress</a>
	</div>
	<div class="product_price" id="product_price_3074457345616676680">
			



<!-- BEGIN PriceDisplay.jspf -->



	




















	
		
			
			
		
		
	

	
		
		
			
		
	



<!--  If leverage price rule to get the price, get the contract unit price. -->

 
 
 	
	
	
	
	
	
	
	
		
	
		
			
		
	





	
	
	
	
	

	

	
	
	
	
	
	
 





	
	


	
	
	
	
		
			
	



	



	








	








	
	
	
	
	
	
		
		
		
		
		<span id="offerPrice_3074457345616676680" class="price" itemprop="price">
			$250.00
			
		</span>
	
	
	
	
	
	




	
		<input type="hidden" id="ProductInfoPrice_3074457345616676680" value="$250.00"/>
		
	


<!-- END PriceDisplay.jspf -->
	</div>
</div>



	
		<div id="compare_3074457345616676680" class="compare_target">
			<input id="comparebox_3074457345616676680" type="checkbox" name="comparebox_3074457345616676680" value="3074457345616676680"
				onchange="javascript:shoppingActionsJS.addOrRemoveFromCompare('3074457345616676680',this.checked)"/>
			<label for="comparebox_3074457345616676680">Compare</label>
			<a id="compareButton_3074457345616676680" href="javascript:shoppingActionsJS.compareProducts({top_category: '', parent_category_rn: '', categoryId: '3074457345616676673'});" role="button" aria-label="Compare">Compare</a>
		</div>
	
	


	<script>
		if(dojo.byId("comparebox_3074457345616676680").checked){
			dojo.addOnLoad(function(){
				dojo.byId("comparebox_3074457345616676680").checked = '';
			});
		}
	</script>


		
	

</div>









		




<!-- END CatalogEntryDisplay.jsp -->

														<div class="catEntryGrid_border"></div>
													</li><li>
														

<!-- BEGIN CatalogEntryDisplay.jsp -->













































	









	













	
	
	
	



 




































	
	










	




	











	
		
		
			


























	

	

	

	

	

	



 

	
	
		
	


	
	
		
	



	
		
	
	






	




	








	
	
	
	
		
		
	
	



	
			
			 
				
				
			
			
	
			
			 
				
				
			
			
	
			
			 
				
				
			
			
	




	
	
	
	
		
		
		
		
		
		
	
	
	
	
	






	
	
	
	
	
	
	
	
	



	
	


		
	

<div class="product">





	
		
		
		
			




	
		
	
	



<div id="CatalogEntryProdImg_3074457345616676681" class="product_image">
	<div class="image">
		<a  id="catalogEntry_img3074457345616676681"
				href="HermitageFitAndFlareDressAuroraESite.html"
				title="Albini Casual Knit Strapless Dress" >
			<img alt="Albini Casual Knit Strapless Dress" src="../../StoreAssets/images/catalog/apparel/women/wcl000_dresses/200x310/wcl000_0023_a_gray.jpg"/>
			
		</a>
	</div>
</div>
<div class="product_info">
	<div class="product_name">
		
		<a aria-hidden="true" tabindex="-1" id="WC_CatalogEntryDBThumbnailDisplayJSPF_3074457345616676681_link_9b"  href="HermitageFitAndFlareDressAuroraESite.html">Albini Casual Knit Strapless Dress</a>
	</div>
	<div class="product_price" id="product_price_3074457345616676681">
			



<!-- BEGIN PriceDisplay.jspf -->



	




















	
		
			
			
		
		
	

	
		
		
			
		
	



<!--  If leverage price rule to get the price, get the contract unit price. -->

 
 
 	
	
	
	
	
	
	
	
		
	
		
			
		
	





	
	
	
	
	

	

	
	
	
	
	
	
 





	
	


	
	
	
	
		
			
	



	



	








	








	
	
	
	
	
	
		
		
		
		
		<span id="offerPrice_3074457345616676681" class="price" itemprop="price">
			$50.00
			
		</span>
	
	
	
	
	
	




	
		<input type="hidden" id="ProductInfoPrice_3074457345616676681" value="$50.00"/>
		
	


<!-- END PriceDisplay.jspf -->
	</div>
</div>



	
		<div id="compare_3074457345616676681" class="compare_target">
			<input id="comparebox_3074457345616676681" type="checkbox" name="comparebox_3074457345616676681" value="3074457345616676681"
				onchange="javascript:shoppingActionsJS.addOrRemoveFromCompare('3074457345616676681',this.checked)"/>
			<label for="comparebox_3074457345616676681">Compare</label>
			<a id="compareButton_3074457345616676681" href="javascript:shoppingActionsJS.compareProducts({top_category: '', parent_category_rn: '', categoryId: '3074457345616676673'});" role="button" aria-label="Compare">Compare</a>
		</div>
	
	


	<script>
		if(dojo.byId("comparebox_3074457345616676681").checked){
			dojo.addOnLoad(function(){
				dojo.byId("comparebox_3074457345616676681").checked = '';
			});
		}
	</script>


		
	

</div>









		




<!-- END CatalogEntryDisplay.jsp -->

														<div class="catEntryGrid_border"></div>
													</li><li>
														

<!-- BEGIN CatalogEntryDisplay.jsp -->













































	









	













	
	
	
	



 




































	
	










	




	











	
		
		
			


























	

	

	

	

	

	



 

	
	
		
	


	
	
		
	



	
		
	
	






	




	








	
	
	
	
		
		
	
	



	
			
			 
				
				
			
			
	
			
			 
				
				
			
			
	
			
			 
				
				
			
			
	




	
	
	
	
		
		
		
		
		
		
	
	
	
	
	






	
	
	
	
	
	
	
	
	



	
	


		
	

<div class="product">





	
		
		
		
			




	
		
	
	



<div id="CatalogEntryProdImg_3074457345616676682" class="product_image">
	<div class="image">
		<a  id="catalogEntry_img3074457345616676682"
				href="HermitageFitAndFlareDressAuroraESite.html"
				title="Gusso Pleated Sleeveless Dress" >
			<img alt="Gusso Pleated Sleeveless Dress" src="../../StoreAssets/images/catalog/apparel/women/wcl000_dresses/200x310/wcl000_0013_a_beige.jpg"/>
			
		</a>
	</div>
</div>
<div class="product_info">
	<div class="product_name">
		
		<a aria-hidden="true" tabindex="-1" id="WC_CatalogEntryDBThumbnailDisplayJSPF_3074457345616676682_link_9b"  href="HermitageFitAndFlareDressAuroraESite.html">Gusso Pleated Sleeveless Dress</a>
	</div>
	<div class="product_price" id="product_price_3074457345616676682">
			



<!-- BEGIN PriceDisplay.jspf -->



	




















	
		
			
			
		
		
	

	
		
		
			
		
	



<!--  If leverage price rule to get the price, get the contract unit price. -->

 
 
 	
	
	
	
	
	
	
	
		
	
		
			
		
	





	
	
	
	
	

	

	
	
	
	
	
	
 





	
	


	
	
	
	
		
			
	



	



	








	








	
	
	
	
	
	
		
		
		
		
		<span id="offerPrice_3074457345616676682" class="price" itemprop="price">
			$45.00
			
		</span>
	
	
	
	
	
	




	
		<input type="hidden" id="ProductInfoPrice_3074457345616676682" value="$45.00"/>
		
	


<!-- END PriceDisplay.jspf -->
	</div>
</div>



	
		<div id="compare_3074457345616676682" class="compare_target">
			<input id="comparebox_3074457345616676682" type="checkbox" name="comparebox_3074457345616676682" value="3074457345616676682"
				onchange="javascript:shoppingActionsJS.addOrRemoveFromCompare('3074457345616676682',this.checked)"/>
			<label for="comparebox_3074457345616676682">Compare</label>
			<a id="compareButton_3074457345616676682" href="javascript:shoppingActionsJS.compareProducts({top_category: '', parent_category_rn: '', categoryId: '3074457345616676673'});" role="button" aria-label="Compare">Compare</a>
		</div>
	
	


	<script>
		if(dojo.byId("comparebox_3074457345616676682").checked){
			dojo.addOnLoad(function(){
				dojo.byId("comparebox_3074457345616676682").checked = '';
			});
		}
	</script>


		
	

</div>









		




<!-- END CatalogEntryDisplay.jsp -->

														<div class="catEntryGrid_border"></div>
													</li><li>
														

<!-- BEGIN CatalogEntryDisplay.jsp -->













































	









	













	
	
	
	



 




































	
	










	




	











	
		
		
			


























	

	

	

	

	

	



 

	
	
		
	


	
	
		
	



	
		
	
	






	




	








	
	
	
	
		
		
	
	



	
			
			 
				
				
			
			
	
			
			 
				
				
			
			
	
			
			 
				
				
			
			
	




	
	
	
	
		
		
		
		
		
		
	
	
	
	
	






	
	
	
	
	
	
	
	
	



	
	


		
	

<div class="product">





	
		
		
		
			




	
		
	
	



<div id="CatalogEntryProdImg_3074457345616676683" class="product_image">
	<div class="image">
		<a  id="catalogEntry_img3074457345616676683"
				href="HermitageFitAndFlareDressAuroraESite.html"
				title="Albini Empire Waist Knit Dress" >
			<img alt="Albini Empire Waist Knit Dress" src="../../StoreAssets/images/catalog/apparel/women/wcl000_dresses/200x310/wcl000_0002_a_blue.jpg"/>
			
		</a>
	</div>
</div>
<div class="product_info">
	<div class="product_name">
		
		<a aria-hidden="true" tabindex="-1" id="WC_CatalogEntryDBThumbnailDisplayJSPF_3074457345616676683_link_9b"  href="HermitageFitAndFlareDressAuroraESite.html">Albini Empire Waist Knit Dress</a>
	</div>
	<div class="product_price" id="product_price_3074457345616676683">
			



<!-- BEGIN PriceDisplay.jspf -->



	




















	
		
			
			
		
		
	

	
		
		
			
		
	



<!--  If leverage price rule to get the price, get the contract unit price. -->

 
 
 	
	
	
	
	
	
	
	
		
	
		
			
		
	





	
	
	
	
	

	

	
	
	
	
	
	
 





	
	


	
	
	
	
		
			
	



	



	








	








	
	
	
	
	
	
		
		
		
		
		<span id="offerPrice_3074457345616676683" class="price" itemprop="price">
			$100.00
			
		</span>
	
	
	
	
	
	




	
		<input type="hidden" id="ProductInfoPrice_3074457345616676683" value="$100.00"/>
		
	


<!-- END PriceDisplay.jspf -->
	</div>
</div>



	
		<div id="compare_3074457345616676683" class="compare_target">
			<input id="comparebox_3074457345616676683" type="checkbox" name="comparebox_3074457345616676683" value="3074457345616676683"
				onchange="javascript:shoppingActionsJS.addOrRemoveFromCompare('3074457345616676683',this.checked)"/>
			<label for="comparebox_3074457345616676683">Compare</label>
			<a id="compareButton_3074457345616676683" href="javascript:shoppingActionsJS.compareProducts({top_category: '', parent_category_rn: '', categoryId: '3074457345616676673'});" role="button" aria-label="Compare">Compare</a>
		</div>
	
	


	<script>
		if(dojo.byId("comparebox_3074457345616676683").checked){
			dojo.addOnLoad(function(){
				dojo.byId("comparebox_3074457345616676683").checked = '';
			});
		}
	</script>


		
	

</div>









		




<!-- END CatalogEntryDisplay.jsp -->

														<div class="catEntryGrid_border"></div>
													</li><li>
														

<!-- BEGIN CatalogEntryDisplay.jsp -->













































	









	













	
	
	
	



 




































	
	










	




	











	
		
		
			


























	

	

	

	

	

	



 

	
	
		
	


	
	
		
	



	
		
	
	






	




	








	
	
	
	
		
		
	
	



	
			
			 
				
				
			
			
	
			
			 
				
				
			
			
	
			
			 
				
				
			
			
	




	
	
	
	
		
		
		
		
		
		
	
	
	
	
	






	
	
	
	
	
	
	
	
	



	
	


		
	

<div class="product">





	
		
		
		
			




	
		
	
	



<div id="CatalogEntryProdImg_3074457345616676684" class="product_image">
	<div class="image">
		<a  id="catalogEntry_img3074457345616676684"
				href="HermitageFitAndFlareDressAuroraESite.html"
				title="Albini Sleeveless Silk Dress" >
			<img alt="Albini Sleeveless Silk Dress" src="../../StoreAssets/images/catalog/apparel/women/wcl000_dresses/200x310/wcl000_0032_a_pink.jpg"/>
			
		</a>
	</div>
</div>
<div class="product_info">
	<div class="product_name">
		
		<a aria-hidden="true" tabindex="-1" id="WC_CatalogEntryDBThumbnailDisplayJSPF_3074457345616676684_link_9b"  href="HermitageFitAndFlareDressAuroraESite.html">Albini Sleeveless Silk Dress</a>
	</div>
	<div class="product_price" id="product_price_3074457345616676684">
			



<!-- BEGIN PriceDisplay.jspf -->



	




















	
		
			
			
		
		
	

	
		
		
			
		
	



<!--  If leverage price rule to get the price, get the contract unit price. -->

 
 
 	
	
	
	
	
	
	
	
		
	
		
			
		
	





	
	
	
	
	

	

	
	
	
	
	
	
 





	
	


	
	
	
	
		
			
	



	



	








	








	
	
	
	
	
	
		
		
		
		
		<span id="offerPrice_3074457345616676684" class="price" itemprop="price">
			$100.00
			
		</span>
	
	
	
	
	
	




	
		<input type="hidden" id="ProductInfoPrice_3074457345616676684" value="$100.00"/>
		
	


<!-- END PriceDisplay.jspf -->
	</div>
</div>



	
		<div id="compare_3074457345616676684" class="compare_target">
			<input id="comparebox_3074457345616676684" type="checkbox" name="comparebox_3074457345616676684" value="3074457345616676684"
				onchange="javascript:shoppingActionsJS.addOrRemoveFromCompare('3074457345616676684',this.checked)"/>
			<label for="comparebox_3074457345616676684">Compare</label>
			<a id="compareButton_3074457345616676684" href="javascript:shoppingActionsJS.compareProducts({top_category: '', parent_category_rn: '', categoryId: '3074457345616676673'});" role="button" aria-label="Compare">Compare</a>
		</div>
	
	


	<script>
		if(dojo.byId("comparebox_3074457345616676684").checked){
			dojo.addOnLoad(function(){
				dojo.byId("comparebox_3074457345616676684").checked = '';
			});
		}
	</script>


		
	

</div>









		




<!-- END CatalogEntryDisplay.jsp -->

														<div class="catEntryGrid_border"></div>
													</li><li>
														

<!-- BEGIN CatalogEntryDisplay.jsp -->













































	









	













	
	
	
	



 




































	
	










	




	











	
		
		
			


























	

	

	

	

	

	



 

	
	
		
	


	
	
		
	



	
		
	
	






	




	








	
	
	
	
		
		
	
	



	
			
			 
				
				
			
			
	
			
			 
				
				
			
			
	
			
			 
				
				
			
			
	




	
	
	
	
		
		
		
		
		
		
	
	
	
	
	






	
	
	
	
	
	
	
	
	



	
	


		
	

<div class="product">





	
		
		
		
			




	
		
	
	



<div id="CatalogEntryProdImg_3074457345616676685" class="product_image">
	<div class="image">
		<a  id="catalogEntry_img3074457345616676685"
				href="HermitageFitAndFlareDressAuroraESite.html"
				title="Gusso Silk Evening Dress" >
			<img alt="Gusso Silk Evening Dress" src="../../StoreAssets/images/catalog/apparel/women/wcl000_dresses/200x310/wcl000_0024_a_blue.jpg"/>
			
		</a>
	</div>
</div>
<div class="product_info">
	<div class="product_name">
		
		<a aria-hidden="true" tabindex="-1" id="WC_CatalogEntryDBThumbnailDisplayJSPF_3074457345616676685_link_9b"  href="HermitageFitAndFlareDressAuroraESite.html">Gusso Silk Evening Dress</a>
	</div>
	<div class="product_price" id="product_price_3074457345616676685">
			



<!-- BEGIN PriceDisplay.jspf -->



	




















	
		
			
			
		
		
	

	
		
		
			
		
	



<!--  If leverage price rule to get the price, get the contract unit price. -->

 
 
 	
	
	
	
	
	
	
	
		
	
		
			
		
	





	
	
	
	
	

	

	
	
	
	
	
	
 





	
	


	
	
	
	
		
			
	



	



	








	








	
	
	
	
	
	
		
		
		
		
		<span id="offerPrice_3074457345616676685" class="price" itemprop="price">
			$250.00
			
		</span>
	
	
	
	
	
	




	
		<input type="hidden" id="ProductInfoPrice_3074457345616676685" value="$250.00"/>
		
	


<!-- END PriceDisplay.jspf -->
	</div>
</div>



	
		<div id="compare_3074457345616676685" class="compare_target">
			<input id="comparebox_3074457345616676685" type="checkbox" name="comparebox_3074457345616676685" value="3074457345616676685"
				onchange="javascript:shoppingActionsJS.addOrRemoveFromCompare('3074457345616676685',this.checked)"/>
			<label for="comparebox_3074457345616676685">Compare</label>
			<a id="compareButton_3074457345616676685" href="javascript:shoppingActionsJS.compareProducts({top_category: '', parent_category_rn: '', categoryId: '3074457345616676673'});" role="button" aria-label="Compare">Compare</a>
		</div>
	
	


	<script>
		if(dojo.byId("comparebox_3074457345616676685").checked){
			dojo.addOnLoad(function(){
				dojo.byId("comparebox_3074457345616676685").checked = '';
			});
		}
	</script>


		
	

</div>









		




<!-- END CatalogEntryDisplay.jsp -->

														<div class="catEntryGrid_border"></div>
													</li><li>
														

<!-- BEGIN CatalogEntryDisplay.jsp -->













































	









	













	
	
	
	



 




































	
	










	




	











	
		
		
			


























	

	

	

	

	

	
		
		
		
			
		
		
	

	
		
		
		
			
		
		
	

	



 

	
	
		
	


	
	
		
	



	
		
	
	






	




	








	
	
	
	
		
		
	
	



	
			
			 
				
				
			
			
	
			
			 
				
				
			
			
	
			
			 
				
				
			
			
	




	
	
	
	
		
		
		
		
		
		
	
	
	
	
	






	
	
	
	
	
	
	
	
	



	
	


		
	

<div class="product">





	
		
		
		
			




	
		
	
	



<div id="CatalogEntryProdImg_3074457345616676686" class="product_image">
	<div class="image">
		<a  id="catalogEntry_img3074457345616676686"
				href="HermitageFitAndFlareDressAuroraESite.html"
				title="Albini Strapless Pencil Dress" >
			<img alt="Albini Strapless Pencil Dress" src="../../StoreAssets/images/catalog/apparel/women/wcl000_dresses/200x310/wcl000_0036_a_lightblue.jpg"/>
			
				
				<div class="RibbonAdDefault Exclusive">Exclusive</div>
			
				
				<div class="RibbonAdDefault Clearance">Clearance</div>
			
		</a>
	</div>
</div>
<div class="product_info">
	<div class="product_name">
		
		<a aria-hidden="true" tabindex="-1" id="WC_CatalogEntryDBThumbnailDisplayJSPF_3074457345616676686_link_9b"  href="HermitageFitAndFlareDressAuroraESite.html">Albini Strapless Pencil Dress</a>
	</div>
	<div class="product_price" id="product_price_3074457345616676686">
			



<!-- BEGIN PriceDisplay.jspf -->



	




















	
		
			
			
		
		
	

	
		
		
			
		
	



<!--  If leverage price rule to get the price, get the contract unit price. -->

 
 
 	
	
	
	
	
	
	
	
		
	
		
			
		
	





	
	
	
	
	

	

	
	
	
	
	
	
 





	
	


	
	
	
	
		
			
	



	



	








	








	
	
	
	
	
	
		
		
		
		
		<span id="offerPrice_3074457345616676686" class="price" itemprop="price">
			$50.00
			
		</span>
	
	
	
	
	
	




	
		<input type="hidden" id="ProductInfoPrice_3074457345616676686" value="$50.00"/>
		
	


<!-- END PriceDisplay.jspf -->
	</div>
</div>



	
		<div id="compare_3074457345616676686" class="compare_target">
			<input id="comparebox_3074457345616676686" type="checkbox" name="comparebox_3074457345616676686" value="3074457345616676686"
				onchange="javascript:shoppingActionsJS.addOrRemoveFromCompare('3074457345616676686',this.checked)"/>
			<label for="comparebox_3074457345616676686">Compare</label>
			<a id="compareButton_3074457345616676686" href="javascript:shoppingActionsJS.compareProducts({top_category: '', parent_category_rn: '', categoryId: '3074457345616676673'});" role="button" aria-label="Compare">Compare</a>
		</div>
	
	


	<script>
		if(dojo.byId("comparebox_3074457345616676686").checked){
			dojo.addOnLoad(function(){
				dojo.byId("comparebox_3074457345616676686").checked = '';
			});
		}
	</script>


		
	

</div>









		




<!-- END CatalogEntryDisplay.jsp -->

														<div class="catEntryGrid_border"></div>
													</li><li>
														

<!-- BEGIN CatalogEntryDisplay.jsp -->













































	









	













	
	
	
	



 




































	
	










	




	











	
		
		
			


























	

	

	

	

	

	



 

	
	
		
	


	
	
		
	



	
		
	
	






	




	








	
	
	
	
		
		
	
	



	
			
			 
				
				
			
			
	
			
			 
				
				
			
			
	
			
			 
				
				
			
			
	




	
	
	
	
		
		
		
		
		
		
	
	
	
	
	






	
	
	
	
	
	
	
	
	



	
	


		
	

<div class="product">





	
		
		
		
			




	
		
	
	



<div id="CatalogEntryProdImg_3074457345616676687" class="product_image">
	<div class="image">
		<a  id="catalogEntry_img3074457345616676687"
				href="HermitageFitAndFlareDressAuroraESite.html"
				title="Luigi Valenti Strapless Sundress" >
			<img alt="Luigi Valenti Strapless Sundress" src="../../StoreAssets/images/catalog/apparel/women/wcl000_dresses/200x310/wcl000_0011_a_pink.jpg"/>
			
		</a>
	</div>
</div>
<div class="product_info">
	<div class="product_name">
		
		<a aria-hidden="true" tabindex="-1" id="WC_CatalogEntryDBThumbnailDisplayJSPF_3074457345616676687_link_9b"  href="HermitageFitAndFlareDressAuroraESite.html">Luigi Valenti Strapless Sundress</a>
	</div>
	<div class="product_price" id="product_price_3074457345616676687">
			



<!-- BEGIN PriceDisplay.jspf -->



	




















	
		
			
			
		
		
	

	
		
		
			
		
	



<!--  If leverage price rule to get the price, get the contract unit price. -->

 
 
 	
	
	
	
	
	
	
	
		
	
		
			
		
	





	
	
	
	
	

	

	
	
	
	
	
	
 





	
	


	
	
	
	
		
			
	



	



	








	








	
	
	
	
	
	
		
		
		
		
		<span id="offerPrice_3074457345616676687" class="price" itemprop="price">
			$50.00
			
		</span>
	
	
	
	
	
	




	
		<input type="hidden" id="ProductInfoPrice_3074457345616676687" value="$50.00"/>
		
	


<!-- END PriceDisplay.jspf -->
	</div>
</div>



	
		<div id="compare_3074457345616676687" class="compare_target">
			<input id="comparebox_3074457345616676687" type="checkbox" name="comparebox_3074457345616676687" value="3074457345616676687"
				onchange="javascript:shoppingActionsJS.addOrRemoveFromCompare('3074457345616676687',this.checked)"/>
			<label for="comparebox_3074457345616676687">Compare</label>
			<a id="compareButton_3074457345616676687" href="javascript:shoppingActionsJS.compareProducts({top_category: '', parent_category_rn: '', categoryId: '3074457345616676673'});" role="button" aria-label="Compare">Compare</a>
		</div>
	
	


	<script>
		if(dojo.byId("comparebox_3074457345616676687").checked){
			dojo.addOnLoad(function(){
				dojo.byId("comparebox_3074457345616676687").checked = '';
			});
		}
	</script>


		
	

</div>









		




<!-- END CatalogEntryDisplay.jsp -->

														<div class="catEntryGrid_border"></div>
													</li><li>
														

<!-- BEGIN CatalogEntryDisplay.jsp -->













































	









	













	
	
	
	



 




































	
	










	




	











	
		
		
			


























	

	

	

	

	

	



 

	
	
		
	


	
	
		
	



	
		
	
	






	




	








	
	
	
	
		
		
	
	



	
			
			 
				
				
			
			
	
			
			 
				
				
			
			
	
			
			 
				
				
			
			
	




	
	
	
	
		
		
		
		
		
		
	
	
	
	
	






	
	
	
	
	
	
	
	
	



	
	


		
	

<div class="product">





	
		
		
		
			




	
		
	
	



<div id="CatalogEntryProdImg_3074457345616676688" class="product_image">
	<div class="image">
		<a  id="catalogEntry_img3074457345616676688"
				href="HermitageFitAndFlareDressAuroraESite.html"
				title="Hermitage Pencil Cocktail Dress" >
			<img alt="Hermitage Pencil Cocktail Dress" src="../../StoreAssets/images/catalog/apparel/women/wcl000_dresses/200x310/wcl000_0020_a_black.jpg"/>
			
		</a>
	</div>
</div>
<div class="product_info">
	<div class="product_name">
		
		<a aria-hidden="true" tabindex="-1" id="WC_CatalogEntryDBThumbnailDisplayJSPF_3074457345616676688_link_9b"  href="HermitageFitAndFlareDressAuroraESite.html">Hermitage Pencil Cocktail Dress</a>
	</div>
	<div class="product_price" id="product_price_3074457345616676688">
			



<!-- BEGIN PriceDisplay.jspf -->



	




















	
		
			
			
		
		
	

	
		
		
			
		
	



<!--  If leverage price rule to get the price, get the contract unit price. -->

 
 
 	
	
	
	
	
	
	
	
		
	
		
			
		
	





	
	
	
	
	

	

	
	
	
	
	
	
 





	
	


	
	
	
	
		
			
	



	



	








	








	
	
	
	
	
	
		
		
		
		
		<span id="offerPrice_3074457345616676688" class="price" itemprop="price">
			$100.00
			
		</span>
	
	
	
	
	
	




	
		<input type="hidden" id="ProductInfoPrice_3074457345616676688" value="$100.00"/>
		
	


<!-- END PriceDisplay.jspf -->
	</div>
</div>



	
		<div id="compare_3074457345616676688" class="compare_target">
			<input id="comparebox_3074457345616676688" type="checkbox" name="comparebox_3074457345616676688" value="3074457345616676688"
				onchange="javascript:shoppingActionsJS.addOrRemoveFromCompare('3074457345616676688',this.checked)"/>
			<label for="comparebox_3074457345616676688">Compare</label>
			<a id="compareButton_3074457345616676688" href="javascript:shoppingActionsJS.compareProducts({top_category: '', parent_category_rn: '', categoryId: '3074457345616676673'});" role="button" aria-label="Compare">Compare</a>
		</div>
	
	


	<script>
		if(dojo.byId("comparebox_3074457345616676688").checked){
			dojo.addOnLoad(function(){
				dojo.byId("comparebox_3074457345616676688").checked = '';
			});
		}
	</script>


		
	

</div>









		




<!-- END CatalogEntryDisplay.jsp -->

														<div class="catEntryGrid_border"></div>
													</li><li>
														

<!-- BEGIN CatalogEntryDisplay.jsp -->













































	









	













	
	
	
	



 




































	
	










	




	











	
		
		
			


























	

	

	

	

	

	
		
		
		
			
		
		
	

	



 

	
	
		
	


	
	
		
	



	
		
	
	






	




	








	
	
	
	
		
		
	
	



	
			
			 
				
				
			
			
	
			
			 
				
				
			
			
	
			
			 
				
				
			
			
	




	
	
	
	
		
		
		
		
		
		
	
	
	
	
	






	
	
	
	
	
	
	
	
	



	
	


		
	

<div class="product">





	
		
		
		
			




	
		
	
	



<div id="CatalogEntryProdImg_3074457345616676689" class="product_image">
	<div class="image">
		<a  id="catalogEntry_img3074457345616676689"
				href="HermitageFitAndFlareDressAuroraESite.html"
				title="Hermitage Empire Waist Evening Gown" >
			<img alt="Hermitage Empire Waist Evening Gown" src="../../StoreAssets/images/catalog/apparel/women/wcl000_dresses/200x310/wcl000_0027_a_gray.jpg"/>
			
				
				<div class="RibbonAdDefault Clearance">Clearance</div>
			
		</a>
	</div>
</div>
<div class="product_info">
	<div class="product_name">
		
		<a aria-hidden="true" tabindex="-1" id="WC_CatalogEntryDBThumbnailDisplayJSPF_3074457345616676689_link_9b"  href="HermitageFitAndFlareDressAuroraESite.html">Hermitage Empire Waist Evening Gown</a>
	</div>
	<div class="product_price" id="product_price_3074457345616676689">
			



<!-- BEGIN PriceDisplay.jspf -->



	




















	
		
			
			
		
		
	

	
		
		
			
		
	



<!--  If leverage price rule to get the price, get the contract unit price. -->

 
 
 	
	
	
	
	
	
	
	
		
	
		
			
		
	





	
	
	
	
	

	

	
	
	
	
	
	
 





	
	


	
	
	
	
		
			
	



	



	








	








	
	
	
	
	
	
		
		
		
		
		<span id="offerPrice_3074457345616676689" class="price" itemprop="price">
			$250.00
			
		</span>
	
	
	
	
	
	




	
		<input type="hidden" id="ProductInfoPrice_3074457345616676689" value="$250.00"/>
		
	


<!-- END PriceDisplay.jspf -->
	</div>
</div>



	
		<div id="compare_3074457345616676689" class="compare_target">
			<input id="comparebox_3074457345616676689" type="checkbox" name="comparebox_3074457345616676689" value="3074457345616676689"
				onchange="javascript:shoppingActionsJS.addOrRemoveFromCompare('3074457345616676689',this.checked)"/>
			<label for="comparebox_3074457345616676689">Compare</label>
			<a id="compareButton_3074457345616676689" href="javascript:shoppingActionsJS.compareProducts({top_category: '', parent_category_rn: '', categoryId: '3074457345616676673'});" role="button" aria-label="Compare">Compare</a>
		</div>
	
	


	<script>
		if(dojo.byId("comparebox_3074457345616676689").checked){
			dojo.addOnLoad(function(){
				dojo.byId("comparebox_3074457345616676689").checked = '';
			});
		}
	</script>


		
	

</div>









		




<!-- END CatalogEntryDisplay.jsp -->

														<div class="catEntryGrid_border"></div>
													</li><li>
														

<!-- BEGIN CatalogEntryDisplay.jsp -->













































	









	













	
	
	
	



 




































	
	










	




	











	
		
		
			


























	

	

	

	

	

	



 

	
	
		
	


	
	
		
	



	
		
	
	






	




	








	
	
	
	
		
		
	
	



	
			
			 
				
				
			
			
	
			
			 
				
				
			
			
	
			
			 
				
				
			
			
	




	
	
	
	
		
		
		
		
		
		
	
	
	
	
	






	
	
	
	
	
	
	
	
	



	
	


		
	

<div class="product">





	
		
		
		
			




	
		
	
	



<div id="CatalogEntryProdImg_3074457345616676690" class="product_image">
	<div class="image">
		<a  id="catalogEntry_img3074457345616676690"
				href="HermitageFitAndFlareDressAuroraESite.html"
				title="Gusso Sleeveless Sequined Dress" >
			<img alt="Gusso Sleeveless Sequined Dress" src="../../StoreAssets/images/catalog/apparel/women/wcl000_dresses/200x310/wcl000_0033_a_red.jpg"/>
			
		</a>
	</div>
</div>
<div class="product_info">
	<div class="product_name">
		
		<a aria-hidden="true" tabindex="-1" id="WC_CatalogEntryDBThumbnailDisplayJSPF_3074457345616676690_link_9b"  href="HermitageFitAndFlareDressAuroraESite.html">Gusso Sleeveless Sequined Dress</a>
	</div>
	<div class="product_price" id="product_price_3074457345616676690">
			



<!-- BEGIN PriceDisplay.jspf -->



	




















	
		
			
			
		
		
	

	
		
		
			
		
	



<!--  If leverage price rule to get the price, get the contract unit price. -->

 
 
 	
	
	
	
	
	
	
	
		
	
		
			
		
	





	
	
	
	
	

	

	
	
	
	
	
	
 





	
	


	
	
	
	
		
			
	



	



	








	








	
	
	
	
	
	
		
		
		
		
		<span id="offerPrice_3074457345616676690" class="price" itemprop="price">
			$100.00
			
		</span>
	
	
	
	
	
	




	
		<input type="hidden" id="ProductInfoPrice_3074457345616676690" value="$100.00"/>
		
	


<!-- END PriceDisplay.jspf -->
	</div>
</div>



	
		<div id="compare_3074457345616676690" class="compare_target">
			<input id="comparebox_3074457345616676690" type="checkbox" name="comparebox_3074457345616676690" value="3074457345616676690"
				onchange="javascript:shoppingActionsJS.addOrRemoveFromCompare('3074457345616676690',this.checked)"/>
			<label for="comparebox_3074457345616676690">Compare</label>
			<a id="compareButton_3074457345616676690" href="javascript:shoppingActionsJS.compareProducts({top_category: '', parent_category_rn: '', categoryId: '3074457345616676673'});" role="button" aria-label="Compare">Compare</a>
		</div>
	
	


	<script>
		if(dojo.byId("comparebox_3074457345616676690").checked){
			dojo.addOnLoad(function(){
				dojo.byId("comparebox_3074457345616676690").checked = '';
			});
		}
	</script>


		
	

</div>









		




<!-- END CatalogEntryDisplay.jsp -->

														<div class="catEntryGrid_border"></div>
													</li><li>
														

<!-- BEGIN CatalogEntryDisplay.jsp -->













































	









	













	
	
	
	



 




































	
	










	




	











	
		
		
			


























	

	

	

	

	

	



 

	
	
		
	


	
	
		
	



	
		
	
	






	




	








	
	
	
	
		
		
	
	



	
			
			 
				
				
			
			
	
			
			 
				
				
			
			
	
			
			 
				
				
			
			
	




	
	
	
	
		
		
		
		
		
		
	
	
	
	
	






	
	
	
	
	
	
	
	
	



	
	


		
	

<div class="product">





	
		
		
		
			




	
		
	
	



<div id="CatalogEntryProdImg_3074457345616676691" class="product_image">
	<div class="image">
		<a  id="catalogEntry_img3074457345616676691"
				href="HermitageFitAndFlareDressAuroraESite.html"
				title="Versatil Turtleneck Sweater Dress" >
			<img alt="Versatil Turtleneck Sweater Dress" src="../../StoreAssets/images/catalog/apparel/women/wcl000_dresses/200x310/wcl000_0021_a_brown.jpg"/>
			
		</a>
	</div>
</div>
<div class="product_info">
	<div class="product_name">
		
		<a aria-hidden="true" tabindex="-1" id="WC_CatalogEntryDBThumbnailDisplayJSPF_3074457345616676691_link_9b"  href="HermitageFitAndFlareDressAuroraESite.html">Versatil Turtleneck Sweater Dress</a>
	</div>
	<div class="product_price" id="product_price_3074457345616676691">
			



<!-- BEGIN PriceDisplay.jspf -->



	




















	
		
			
			
		
		
	

	
		
		
			
		
	



<!--  If leverage price rule to get the price, get the contract unit price. -->

 
 
 	
	
	
	
	
	
	
	
		
	
		
			
		
	





	
	
	
	
	

	

	
	
	
	
	
	
 





	
	


	
	
	
	
		
			
	



	



	








	








	
	
	
	
	
	
		
		
		
		
		<span id="offerPrice_3074457345616676691" class="price" itemprop="price">
			$40.00
			
		</span>
	
	
	
	
	
	




	
		<input type="hidden" id="ProductInfoPrice_3074457345616676691" value="$40.00"/>
		
	


<!-- END PriceDisplay.jspf -->
	</div>
</div>



	
		<div id="compare_3074457345616676691" class="compare_target">
			<input id="comparebox_3074457345616676691" type="checkbox" name="comparebox_3074457345616676691" value="3074457345616676691"
				onchange="javascript:shoppingActionsJS.addOrRemoveFromCompare('3074457345616676691',this.checked)"/>
			<label for="comparebox_3074457345616676691">Compare</label>
			<a id="compareButton_3074457345616676691" href="javascript:shoppingActionsJS.compareProducts({top_category: '', parent_category_rn: '', categoryId: '3074457345616676673'});" role="button" aria-label="Compare">Compare</a>
		</div>
	
	


	<script>
		if(dojo.byId("comparebox_3074457345616676691").checked){
			dojo.addOnLoad(function(){
				dojo.byId("comparebox_3074457345616676691").checked = '';
			});
		}
	</script>


		
	

</div>









		




<!-- END CatalogEntryDisplay.jsp -->

														<div class="catEntryGrid_border"></div>
													</li>
											</ul>
										
							</div>
							
		</div>
		
	
	<div id="facetCounts">
		<script>
			function updateFacetCounts() {
				
						SearchBasedNavigationDisplayJS.updateFacetCount(
							"4012342324948481253249484841",
							31, 
							"price_USD%3A%28%7B*+100%7D+100%29", 
							"({* 100} 100)",
							"",
							"../../StoreAssets",
							"price_USD",
							false);
					
						SearchBasedNavigationDisplayJS.updateFacetCount(
							"40123494848325048481253250484841",
							0, 
							"price_USD%3A%28%7B100+200%7D+200%29", 
							"({100 200} 200)",
							"",
							"../../StoreAssets",
							"price_USD",
							false);
					
						SearchBasedNavigationDisplayJS.updateFacetCount(
							"40123504848325148481253251484841",
							8, 
							"price_USD%3A%28%7B200+300%7D+300%29", 
							"({200 300} 300)",
							"",
							"../../StoreAssets",
							"price_USD",
							false);
					
						SearchBasedNavigationDisplayJS.updateFacetCount(
							"40123514848325248481253252484841",
							0, 
							"price_USD%3A%28%7B300+400%7D+400%29", 
							"({300 400} 400)",
							"",
							"../../StoreAssets",
							"price_USD",
							false);
					
						SearchBasedNavigationDisplayJS.updateFacetCount(
							"40123524848325348481253253484841",
							0, 
							"price_USD%3A%28%7B400+500%7D+500%29", 
							"({400 500} 500)",
							"",
							"../../StoreAssets",
							"price_USD",
							false);
					
						SearchBasedNavigationDisplayJS.updateFacetCount(
							"40123534848324212541",
							0, 
							"price_USD%3A%28%7B500+*%7D%29", 
							"({500 *})",
							"",
							"../../StoreAssets",
							"price_USD",
							false);
					
						SearchBasedNavigationDisplayJS.updateFacetCount(
							"-10026510898105110105",
							8, 
							"mfName_ntk_cs%3A%22Albini%22", 
							"Albini",
							"",
							"../../StoreAssets",
							"mfName_ntk_cs",
							false);
					
						SearchBasedNavigationDisplayJS.updateFacetCount(
							"-100271117115115111",
							8, 
							"mfName_ntk_cs%3A%22Gusso%22", 
							"Gusso",
							"",
							"../../StoreAssets",
							"mfName_ntk_cs",
							false);
					
						SearchBasedNavigationDisplayJS.updateFacetCount(
							"-100276117105103105328697108101110116105",
							8, 
							"mfName_ntk_cs%3A%22Luigi+Valenti%22", 
							"Luigi Valenti",
							"",
							"../../StoreAssets",
							"mfName_ntk_cs",
							false);
					
						SearchBasedNavigationDisplayJS.updateFacetCount(
							"-10028610111411597116105108",
							8, 
							"mfName_ntk_cs%3A%22Versatil%22", 
							"Versatil",
							"",
							"../../StoreAssets",
							"mfName_ntk_cs",
							false);
					
						SearchBasedNavigationDisplayJS.updateFacetCount(
							"-10027210111410910511697103101326711110810810199116105111110",
							7, 
							"mfName_ntk_cs%3A%22Hermitage+Collection%22", 
							"Hermitage Collection",
							"",
							"../../StoreAssets",
							"mfName_ntk_cs",
							false);
					
				dojo.publish("FacetCount_updated", [{origSearchCount:, totalSearchCount:}]);
			}
		</script>
	</div>
	<div class="compareCheckboxLabels">
	    <label>Compare</label>
	    <label>Add more to compare</label>
	    <label>Added</label>
	</div>
<!-- END CatalogEntryListAjax.jsp -->