



































































	





























































 


	
	
	
		
		
	



	
	
	
	














	
	
		
	




	
		
	
	
	






	
	
	





	









	
		
		
		
		
	
	
	








	




	
	
		
	


























































	

















































































 










	










	
	
			 
		
		
	
	
		
		
		
			
				
			
				
			
				
			
				
			
				
			
				
			
				
			
				
			
				
			
				
			
				
			
				
			
				
			
				
			
				
			
				
			
				
			
				
			
				
			
				
			
				
			
				
			
		
	













  
  
  
  
  
  
  
  


 


	
	



	
 
					 









	
		
		

		
		
			
			
			
			
						
			
			
				
				
				
				
				
			

			
			 
			
			
			
			
			
			
			
			
			
		
		

	
		
		

		
		
			
			
			
			
						
			
			
				
				
				
				
				
			

			
			 
			
			
			
			
			
			
			
			
			
		
		

	
		
		

		
		
			
			
			
			
						
			
			
				
				
				
				
				
			

			
			 
			
			
			
			
			
			
			
			
			
		
		

	
		
		

		
		
			
			
			
			
						
			
			
				
				
				
				
				
			

			
			 
			
			
			
			
			
			
			
			
			
		
		

	
		
		

		
		
		

	
		
		

		
		
		

	
		
		

		
		
		

	
		
		

		
		
		

	
		
		

		
		
		

	
		
		

		
		
		

	
		
		

		
		
		

	
		
		

		
		
		

	
		
		

		
		
		

	
		
		

		
		
		

	
		
		

		
		
		

	
		
		

		
		
		

	
		
		

		
		
		

	
		
		

		
		
		

	
		
		

		
		
		

	
		
		

		
		
		

	
		
		

		
		
		

	
		
		

		
		
		

	




	
		
		
		
		
		
			
			
			
			
		
		
		
			
			
				
			
		
					
		
		
		




	
	
		
			
		
			
		
			
		
			
		
		
		
		
		
	




	
		
			
				
			
				
				
					
				
			
			
			
			
		
	
		
	
		
	
		
	

	
		
	
		
			
				
			
				
				
					
				
			
			
			
			
		
	
		
	
		
	

	
		
	
		
	
		
			
				
			
				
				
					
				
			
			
			
			
		
	
		
	

	
		
	
		
	
		
	
		
			
				
			
				
				
					
				
			
			
			
			
		
	













	
		
			






	<div id="quick_cart_container">
	<span class="spanacce" id="quick_cart_container_ACCE_Label">[PROPERTIES;ACCE_MSC_SHOPPING_CART_POPUP_REGION;Shopping Cart Popup]</span>
		<div id="quick_cart">
			<div id ="MiniShopCartProductsList">
				<div id="widget_minishopcart_popup">										
						<div id="cartDropdown">						
							<h3>[PROPERTIES;MSC_ITEMS_IN_CART;Items in your cart:]</h3>
							<a id="MiniShopCartCloseButton_1" href="javascript:dijit.byId('quick_cart_container').hide();" class="closeButton">[PROPERTIES;CLOSE;Close]</a>					            					            
							<div class="content">
								
									
										<div class="products">
											
												<div class="product">
													<div class="product_image">
															
														

														<a id="MiniShopCartProdImg_30001" href="HermitageFitAndFlareDressAuroraESite.html">
															<img src="../../StoreAssets/images/catalog/apparel/women/wbg006_handbags/200x310/wbg006_0601.jpg" alt="Albini Fashionable Black Leather Bag">
														</a>
													</div>
													<div class="product_name">
														<a id="MiniShopCartProdName_30001" href="HermitageFitAndFlareDressAuroraESite.html">Albini Fashionable Black Leather Bag</a>
													</div>
													<div class="item_spacer_3px"></div>
													<span class="product_quantity">[PROPERTIES;MSC_QTY;QTY:] 1</span>
													<span class="product_price">$90.00</span>
												</div>
											
												<div class="product">
													<div class="product_image">
															
														

														<a id="MiniShopCartProdImg_30002" href="HermitageFitAndFlareDressAuroraESite.html">
															<img src="../../StoreAssets/images/catalog/apparel/women/wbg006_handbags/200x310/wbg006_0602.jpg" alt="Versatil Classic White Bag">
														</a>
													</div>
													<div class="product_name">
														<a id="MiniShopCartProdName_30002" href="HermitageFitAndFlareDressAuroraESite.html">Versatil Classic White Bag</a>
													</div>
													<div class="item_spacer_3px"></div>
													<span class="product_quantity">[PROPERTIES;MSC_QTY;QTY:] 1</span>
													<span class="product_price">$60.00</span>
												</div>
											
												<div class="product">
													<div class="product_image">
															
														

														<a id="MiniShopCartProdImg_30003" href="HermitageFitAndFlareDressAuroraESite.html">
															<img src="../../StoreAssets/images/catalog/apparel/women/wbg006_handbags/200x310/wbg006_0606.jpg" alt="Borsati Red Shiny Bag">
														</a>
													</div>
													<div class="product_name">
														<a id="MiniShopCartProdName_30003" href="HermitageFitAndFlareDressAuroraESite.html">Borsati Red Shiny Bag</a>
													</div>
													<div class="item_spacer_3px"></div>
													<span class="product_quantity">[PROPERTIES;MSC_QTY;QTY:] 1</span>
													<span class="product_price">$70.00</span>
												</div>
											
												<div class="product">
													<div class="product_image">
															
														

														<a id="MiniShopCartProdImg_30004" href="HermitageFitAndFlareDressAuroraESite.html">
															<img src="../../StoreAssets/images/catalog/apparel/women/wbg006_handbags/200x310/wbg006_0609.jpg" alt="Albini Hawaiin Satchel Bag">
														</a>
													</div>
													<div class="product_name">
														<a id="MiniShopCartProdName_30004" href="HermitageFitAndFlareDressAuroraESite.html">Albini Hawaiin Satchel Bag</a>
													</div>
													<div class="item_spacer_3px"></div>
													<span class="product_quantity">[PROPERTIES;MSC_QTY;QTY:] 1</span>
													<span class="product_price">$75.00</span>
												</div>
											
										</div>
										
											<div class="view_more">
												<span class="view_more_items"><a id="MiniShopCartMoreLink" href="ShoppingCart.html">[PROPERTIES;MSC_VIEW_MORE_ITEMS;view more items]</a></span>
											</div>
										
										
											
											<div class="subtotal adjustment_price">
												<span class="product_price">
													($25.00)
																										
												</span>
												<a class="hover_underline" href='#' >
													Save $25 on all orders over $200 USD
												</a>
											</div>
										
										
										<div class="subtotal">
											<span class="product_price">$3,063.00</span>
											<span>
												[PROPERTIES;MSC_SUBTOTAL_FOR_ITEMS;Subtotal for 22 item(s)]
											</span>
										</div>
									
									
								
							</div>
							
							<div class="footer">
								<a id="GotoCartButton1" href="ShoppingCart.html" class="basicButton">
									<span>[PROPERTIES;MSC_GO_TO_CART;Go to Cart]</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
	
		</div>



		

		
		
	




