






























































	






	





























































 


	
	
	
		
		
	



	
	
	
	














	
	
		
	




	
		
	
	
	






	
	
	





	









	
		
		
		
		
	
	
	








	




	
	
		
	


























































	

















































































 










	










	
	
			 
		
		
	
	
		
		
		
			
		
	




	



	



	



	




  
  
  
  
  
  
  
  


 




	
 
					 































	
		
			






	<div id="quick_cart_container">
	<span class="spanacce" id="quick_cart_container_ACCE_Label">[PROPERTIES;ACCE_MSC_SHOPPING_CART_POPUP_REGION;Shopping Cart Popup]</span>
		<div id="quick_cart">
			<div id ="MiniShopCartProductsList">
				<div id="widget_minishopcart_popup">										
						<div id="cartDropdown">						
							<h3>[PROPERTIES;MSC_ITEMS_IN_CART;Items in your cart:]</h3>
							<a id="MiniShopCartCloseButton_1" href="javascript:dijit.byId('quick_cart_container').hide();" class="closeButton">[PROPERTIES;CLOSE;Close]</a>					            					            
							<div class="content">
								
									
									
										<div>[PROPERTIES;MSC_EMPTY_SHOP_CART;Your cart is empty]</div>
									
								
							</div>
							
							<div class="footer">
								<a id="GotoCartButton1" href="ShoppingCart.html" class="basicButton">
									<span>[PROPERTIES;MSC_GO_TO_CART;Go to Cart]</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
	
		</div>



		

		
		
	




