<select name="selectCity" id="selectCity" class="drop_down_country" >

        <option value="10004">Calgary</option>
      
        <option value="10005">Edmonton</option>
      
        <option value="10006">Lethbridge</option>
      
        <option value="10007">Medicine Hat</option>
      
        <option value="10008">Red Deer</option>
      
        <option value="10009">St. Albert</option>
      
        <option value="10010">Strathcona County</option>

</select>