<%--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce
 
  (C) Copyright IBM Corp. 2011, 2013 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
--%>

<%-- BEGIN Heading_Data.jsp --%>

<%-- Try to get product description --%>
 
<c:set var="productId" value="${param.productId}" />
<c:if test="${empty productId}">
 	<c:set var="productId" value="${WCParam.productId}" />
</c:if> 

<c:choose>
    <c:when test="${!empty productId}">
		<%-- Try to get it from our internal hashMap --%>
		<c:set var="key1" value="${productId}+getCatalogEntryViewAllByID"/>
		<c:set var="catalogEntryDetails" value="${cachedCatalogEntryDetailsMap[key1]}"/>
		<c:if test="${empty catalogEntryDetails}">
		<wcf:rest var="catalogNavigationView" url="${searchHostNamePath}${searchContextPath}/store/${WCParam.storeId}/productview/byId/${productId}" format="json" >	
			<wcf:param name="langId" value="${WCParam.langId}"/>
			<wcf:param name="currency" value="${env_currencyCode}"/>
			<wcf:param name="responseFormat" value="json"/>		
			<wcf:param name="catalogId" value="${WCParam.catalogId}"/>
		</wcf:rest>
		<c:set var="catalogEntryDetails" value="${catalogNavigationView.catalogEntryView[0]}"/>				
		</c:if>
		<c:if test="${!empty catalogEntryDetails}">	
			<c:set var="productName" value="${catalogEntryDetails.name}" />
			<c:set var="catalogEntryID" value="${catalogEntryDetails.uniqueID}" />
		</c:if>
	</c:when>	
	<c:otherwise>
		<%-- Try to get category name --%>
		
		<c:set var="categoryId" value="${param.categoryId}" />
		<c:if test="${empty categoryId}">
 			<c:set var="categoryId" value="${WCParam.categoryId}" />
		</c:if> 
		
		<c:if test="${!empty categoryId}">	
			<wcf:rest var="catGroupDetailsView" url="${searchHostNamePath}${searchContextPath}/store/${WCParam.storeId}/categoryview/byId/${categoryId}" format="json" >	
				<wcf:param name="langId" value="${WCParam.langId}"/>
				<wcf:param name="currency" value="${env_currencyCode}"/>
				<wcf:param name="responseFormat" value="json"/>		
				<wcf:param name="catalogId" value="${WCParam.catalogId}"/>
			</wcf:rest>
		</c:if>
		
		<c:if test="${!empty catGroupDetailsView}">	
			<c:set var="categoryName" value="${catGroupDetailsView.catalogGroupView[0].name}"/>
		</c:if>		
	</c:otherwise>
</c:choose>			

<c:if test="${empty productId && empty categoryId}">
	<c:set var="emptyWidget" value="true" />
</c:if> 

<c:set var="widgetSuffix" value="" />
<c:if test="${(!empty param.pgl_widgetSlotId) && (!empty param.pgl_widgetDefId) && (!empty param.pgl_widgetId)}">
	<c:set var="widgetSuffix" value="_${param.pgl_widgetSlotId}_${param.pgl_widgetDefId}_${param.pgl_widgetId}" />
</c:if>
<%-- END Heading_Data.jsp --%>
